{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <section class="page-content page-content-404 page-content--centered">
        <div class="header-content">
            <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
            <p>The page you requested does not exist. Click <a href="/shop">here</a> to continue shopping.</p>
        </div>
        <div class="product-content">
            <div class="productDetails">
                <div class="img-product">
                    <img src="{{cdn '/assets/img/Group42.png'}}">
                </div>
                <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201101">Chocolate</a>
            </div>
            <div class="productDetails">
                <div class="img-product">
                    <img src="{{cdn '/assets/img/Group41.png'}}">
                </div>
                <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201102">Vanilla Creme</a>
            </div>
            <div class="productDetails">
                <div class="img-product">
                    <img src="{{cdn '/assets/img/Group43.png'}}">
                </div>
                <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201103">Mocha Latte</a>
            </div>
            <div class="productDetails">
                <div class="img-product">
                    <img src="{{cdn '/assets/img/Group44.png'}}">
                </div>
                <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201104">Vegan Chocolate</a>
            </div>
        </div>
        <div class="subscription-page">
            <div class="container">
                {{> components/home/subscription }}
            </div>
        </div>
    </section>
</main>

{{/partial}}
{{> layout/base}}
