<article class="blog-index">
    <div class="blog-recent_posts-figure">
        {{#if recent_posts.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{recent_posts.url}}">
                    <img src="{{getImage recent_posts.thumbnail 'blog_size'}}" alt="{{recent_posts.thumbnail.alt}}">
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-recent_posts-body">
        <header class="blog-header">
            <h2 class="blog-title">
                <a href="{{recent_posts.url}}">{{recent_posts.title}}</a>
            </h2>
        </header>
        <p class="blog-date"><span>{{#if recent_posts.author}}{{recent_posts.author}} {{/if}}</span></p>
        <div class="blog-recent_posts">
            {{#if recent_posts.body}}
                {{{recent_posts.body}}}
            {{else}}
                {{recent_posts.summary}}...
            {{/if}}
        </div>

        {{#if show_tags}}
            {{#if recent_posts.tags}}
                <ul class="tags">
                    {{#each recent_posts.tags}}
                    <li class="tag">
                        <a href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

    </div>
</article>
