{{#if theme_settings.instagram-show}}
<h2 class="section-title">Share @Muniqlife</h2>
<div class="instagram-block">
    <!--<div class="block_content">-->
        <!--<div id="instafeed" class="clearfix apframework-instafeed apframework-instafeed&#45;&#45;carousel {{#if style}}apframework-instafeed&#45;&#45;{{style}}{{/if}}"-->
        <!--data-apframework-instafeed-carousel='{-->
            <!--"dots": false,-->
            <!--"slidesToShow": 4.5,-->
            <!--"slidesToScroll": 2,-->
            <!--"centerMode": true,-->
            <!--"responsive": [-->
                <!--{-->
                    <!--"breakpoint": 1260,-->
                    <!--"settings": {-->
                        <!--"slidesToScroll": 2,-->
                        <!--"slidesToShow": {{#if columns}}{{columns}}{{else}}3{{/if}}-->
                    <!--}-->
                <!--},-->
                <!--{-->
                    <!--"breakpoint": 800,-->
                    <!--"settings": "unslick"-->
                <!--}-->
            <!--]}'-->
    <!--&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--<script type="text/javascript" src="{{cdn '/assets/vendor/instafeed/instafeed.min.js'}}"></script>-->
    <!--<script type="text/javascript">-->
       <!--document.addEventListener('DOMContentLoaded', function () {-->

        <!--"use strict";-->

        <!--var feed = new Instafeed({-->
            <!--target: 'instafeed',-->
            <!--get: "user",-->
            <!--accessToken:"{{theme_settings.accessToken}}",-->
            <!--clientId: "{{ theme_settings.clientid-id }}",-->
            <!--userId: "{{ theme_settings.user-id }}",-->
            <!--limit: "{{ theme_settings.instagram_limit }}",-->
            <!--resolution: "{{theme_settings.img-size}}",-->
            <!--template: '<div class="instafeed-item-apframework">' +-->
                <!--'<a href="{'+'{link}}" target="_blank" id="{'+'{id}}"><img src="{'+'{image}}" /></a>' +-->
                <!--'<div class="info-instagram">' +-->
                    <!--'<div class="image-person"><img src="{'+'{image}}"></div>'+-->
                    <!--'<div class="info-person">' +-->
                    <!--'<h4>Lindsey Evens</h4>'+-->
                    <!--'<p>@lindseybear</p>'+-->
                    <!--'</div>'+-->
                <!--'</div>'+-->
                <!--'</div>',-->
            <!--links: false,-->
            <!--sortBy: 'most-recent',-->
            <!--after: function() {-->
                <!--document.getElementById(this.options.target).dispatchEvent(new CustomEvent("instafeedAfter"));-->
            <!--}-->
        <!--});-->
        <!--feed.run();-->
      <!--});-->
    <!--</script>-->
</div>
{{/if}}
