a{
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  @include box-shadow (inset 0 0 6px rgba(0,0,0,0.3));
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @include box-shadow (inset 0 0 6px rgba(0,0,0,0.5));
}
.container-fluid {
  position:relative;
  margin-bottom: 30px;
  @media (max-width:991px) {
  background-color: stencilColor(color-textSecondary);
  }
  .img-breadcrumbs{
    @media (max-width:991px) {
      display: none;
    }
  }
  .breadcrumbs  {
    margin: 0;
    @media (min-width:992px) {
      position: absolute;
      top: 50%;
      margin: 0 auto;
      left: auto;
      right: auto;
      width: 100%;
    }
  }
  .square {
    width: 5px;
    height: 5px;
    display: inline-block;
    margin: 10px;
  }
}
.text-center{
  text-align: center;
}
.hidden{
  display:none !important;
}

@media screen and (min-width: 992px){
  .no-padding{
    padding:0;
  }
}

.big-section-index{
  &:not(:first-child){
     padding-top:30px;
     @media(min-width:992px){
      padding-top:100px;
     }
  }
}

:focus{
  outline:none;
}

img {
	display:block;
    max-width: 100%;
    margin:0 auto;
}

.effect {
 text-align: center;
 > a{
  position: relative;
  margin: 0px auto;
  display: block;
  @media screen and (min-width: 992px){
    &:before {
     -webkit-transition: all ease 0.3s;
     transition: all ease 0.3s;
     position: absolute;
     width: 100%;
     content: "";
     left: 0;
     top: 0;
     height: 100%;
   }
 }
}
@media screen and (min-width: 992px){
  &:hover{
    >a{
      -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
      box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
        &:before {
          -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
          box-shadow: 0 0 0 30px rgba(255,255,255,0.2) inset;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
        }
      }
    }
  }
}
.button{
  border-radius: 0px;
}
#back-top {
  display:none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  &:hover{
    a:before{
      color: #000000;
    }
  }
  a{
    background: none repeat scroll 0% 0% transparent;
    opacity: 1;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 0px;
    border: 1px solid;
    background-color: #000000;
    border-color: #000000;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    border-radius: 50%;
    &:hover{
      background-color: #ffffff;
    }
    &:before{
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      text-align: center;
      font-family: "FontAwesome";
      font-size: 40px;
      content: "\f106";
      color: #ffffff;
      line-height: 40px;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
    }
  }
}
.flex-box{
  @include display-flexbox();
}
.flex-wrap{
@include flex-wrap(wrap);
  @media (max-width:571px) {
    justify-content: center;
  }
  @media (min-width:572px) {
    .form-field{
      width: 50%;
    }
  }
}
 
/*****LOADER*****/
.loader-master {
  position: fixed;
  overflow:hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background:#1f2532;
}
.loader-inner {
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform: translate(-50%,-65%);
  -ms-transform: translate(-50%,-65%);
  transform: translate(-50%,-65%);
}
.loader-text {
  min-width: 90px;
  color: #ffffff;
  text-align:center;
  font-size: 43px;
  font-style: italic;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//// Login ////
.login-form{
  margin-top: 0;
  .form-actions{
    display: flex;
    align-items: center;
  }
}
/*****POPUP NEWSLETTER*****/
#popup-overlay,.mask {
  display:none; 
  position:fixed; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%; 
  background:#333333; 
  opacity:.8; 
  z-index:9999; 
}
#popup-newsletter {  
  display:none; 
  position:fixed; 
  max-width: 730px;
  top:25%; 
  left:0px;
  right:0px;
  margin:auto; 
  padding:75px 50px;
  z-index:9999; 
  -webkit-box-shadow:0 0 20px #000; 
  box-shadow:0 0 20px #000; 
  border-radius:5px; 
  border:1px solid rgba(0, 0, 0, 0.5); 
  -webkit-background-clip:padding-box; 
  -moz-background-clip:padding-box; 
  background-clip:padding-box; 
  @media (max-width:768px) {
    max-width:80%;
    padding: 20px;
  }
  #popup-close { 
    position:absolute; 
    top:-10px; 
    right:-10px; 
    display:inline-block; 
    text-align:center; 
    text-decoration:none;
    width:22px; 
    height:22px; 
    border-radius:3px; 
    color:white;
    font-weight:900; 
    font-size:18px; 
    line-height:21px; 
    background:rgba(0,0,0,0.9) no-repeat 5px 5px;
    &:hover {
      color:#000000;
      background:#ffffff;
    }
  }
  .newsletter-heading {
    color: stencilColor("color-textHeading");
    margin: 0px;
    padding: 0 0 20px 0;
    font-weight: bold;
    max-width: 360px;
  }
  .newsletter-description {
    width: 85%;
    max-width: 310px;
    font-size:stencilNumber("fontSize-root","px") - 2px;
    color: stencilColor("color-textHeading");
    margin:0px;
    padding: 0 0 20px 0;
    line-height: 21px;
    @media (min-width:992px) {
      width: 55%;
    }
  }
  .form-field {
    margin:0px;
    .wrap{
      max-width: 385px;
      .form-input{
        font-size: 12px;
          border-radius: 0px;
      }
      .button{
          margin: 0;
          background-color: stencilColor("button--primary-backgroundColor");
          color: stencilColor("button--primary-color");
          font-size: 11px;
          height: 42px;
          width: 45px;
          padding: 0 15px;
          background-image:url(../img/email.png);
          background-position: center;
          background-repeat: no-repeat;
          border: none;
          &:hover{
            background-color: stencilColor("button--icon-svg-color");
          }
      }
    }
    .form-input {
      color:stencilColor("color-textBase");
    }
  }
  .social-block ul {
    margin:0px;
    li{
      display: inline-block;
      text-align:center;
      line-height:35px;
      a {
        display:inline-block;
        text-decoration:none;
        font-size: 18px;
        height: 35px;
        width: 35px;
        margin-right: 5px;
        &.facebook {
          border:1px solid #428bca;
          color: #ffffff;
          background-color:#428bca;
          &:hover {
            color: #428bca;
            background-color:#ffffff;
          }
        }
        &.twitter {
          border:1px solid #5bc0de;
          color: #ffffff;
          background-color:#5bc0de;
          &:hover {
            color: #5bc0de;
            background-color:#ffffff;
          }
        }
        &.instagram {
          border:1px solid #c72527;
          color: #ffffff;
          background-color:#c72527;
          &:hover {
            color: #c72527;
            background-color:#ffffff;
          }
        }
        &.youtube {
          border:1px solid #cc181e;
          color: #ffffff;
          background-color:#cc181e;
          &:hover {
            color: #cc181e;
            background-color:#ffffff;
          }
        }
      }
    }
  }
}
.page{
  .page-content{
    .category-top-filter{
      border: 1px solid #f0efef;
    padding: 12px 20px;
    margin-bottom: 50px;
    .actionBar{
      padding-bottom: 0;
      float: left;
      margin: 0;
      width:auto;
      @media (max-width:767px){
        width: 100%;
        margin-bottom: 10px;
      }
      .form-field{
        border:none;
        width: 100%;
        margin-bottom: 0;
          .form-label {
            padding-left: 0;
            padding-right: 13px;
            min-width: 63px;
            float: left;
            margin-top: 2px;
            margin-right: 0;
          }
          .form-select {
            border: 1px solid #f0efef;
            border-radius: 0;
            height: 35px;
            padding: 0 10px;
            line-height: 33px;
            background-position: right 5px center;
            min-width: 155px;
            width: calc(100% - 63px);
            color: #909090;
            max-width: none;
          }
      }
     }
      .show-status {
        margin-top: 7px;
        @media (min-width:768px){
          float: left;
          margin-left: 20px;
        }
        p{
          margin:0;
        }
      }
      .list-grid--switcher {
         @media (min-width:768px){
        float: right;
        font-size: 0;
      }
        >a {
        margin-right: 0;
        display: inline-block;
        width: 37px;
        height: 35px;
        background-color: #f0efef;
        color: #1f1f1f;
        text-align: center;
        font-size: 0;
        text-decoration: none;
          @media (min-width:768px){
             margin-left: 10px;
          }
        &.list{
            &:before{
              content: "\e636";
              font-family: $font-icon-7;
              font-size: 18px;
              line-height: 37px;
            }
          }
         &.grid{
            &:before{
              content: "\e645";
              font-family: $font-icon-7;
              font-size: 18px;
              line-height: 37px;
              
            }
          }
          &.active{
            color:$white;
            background:#fcc030;
          }
        }
      }
    }
    .productGrid{
      .product{
        .deal-clock{
        }
      }
    }
  }
}
.socialLinks{ 
    .icon{
        width: 16px !important;
    }
}
.icon--google_plusone{
  position: relative;
}
.google_plusone_iframe_widget{
    top: 0;
    position: absolute;
    left: -15px;
    opacity: 0;
}
.pin_it_iframe_widget{
    display: none;
}
.socialLinks-item--print {
    display: none;
}
.clearfix{
  clear:both;
}
///// Google map /////
.gmap-toggle {
  position: relative;
}
.gmap-wrap {
  padding-top:35px;
  #map {
    min-height:300px;
    width: 100%;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    text-align: center;
  }
  h3 {
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
  }
}
.gmap-button {
  position: absolute;
  z-index: 9;
  text-decoration:none;
  top: -20px;
  left: 0px;
  right: 0;
  margin: auto;
  text-align: center;
  width: 130px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  &:hover,&:focus {
    color:#000000;
    background-color:#ffffff;
  }
}
/* Sidebar */
.sidebarBlock{
  .sidebarBlock-heading {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing:2px;
    font-weight:bold;
    position: relative;
    margin-bottom: 30px;
    &:before{
    position: absolute;
    bottom: -5px;
    content: "";
    left: 0;
    width: 120px;
    height: 2px;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: dotted 1px #98a4b9;
    }
  }
}
.sidebarCategory{
    .navList{
    .navList-item{
      font-size:12px;
      line-height: 36px;
      .navList-action{
        position:relative;
        padding-left:25px;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          width: 6px;
          height: 6px;
          top: 18px;
          background-color: #c1c5c8;
        }
      }
    }
  }
}
/* SASS Header */
.topbar{
  background:stencilColor("bgtopbar-color");
  color:stencilColor("navUser-color");
  font-size: 12px;
}
.text__topbar{
    float:left;
    padding: 11px 0.78571rem;
}
.header_nav{
  padding: 0 25px;
    .header_nav-fix{
      @media (max-width:991px){
      display: flex;
      align-items: center;
      justify-content: space-between;
      }
    }
  .header-logo{
    @media screen and (min-width: 1200px){
    position:absolute;
    margin:0;
    left:50%;
    }
    @media screen and (max-width: 1199px) and (min-width:992px){
      margin:15px 0 0;
    }
      @media (max-width:991px){
       padding:0;      
       flex-grow: 1;    
      }
  }
  .header__right{
    position:relative;
    padding:24px 0;
    z-index: 29;
       @media (max-width:991px){
          padding:0;          
        }
    ul{
      margin:0;
    }
    .navUser-action{
      color:stencilColor('color-primary');
      padding-left:8px;
      padding-right:8px;
    }
    .navUser-item--cart{
      position:relative;
      .countPill{
        position:absolute;
        top: -10px;
        right: 10px;
      }
    }
    .icons{
      display: block;
      width: 19px;
    }
  }
}
@media screen and (min-width:992px){
  .header-fixed {
    position:fixed;
    top:0;
    left: 0;
    z-index:99;
    width: 100%;
    background: white;
    transition: all 0.4s ease;
    // -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    //box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  }
}
.header-clear{
  padding-top:162px;
}
@media screen and (min-width: 992px){
  .stop-float{
    position:initial !important;
  }
  .stop-float-body{
    padding-top: 0 !important;
  }
.topnav-flex {
    float: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .navPages-container{
      flex-grow:1;
    }
  }
}
/* SASS STYLE Block service */
.grid-service{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  margin:20px 0;
  .service{
    padding: 12px 0px;
    margin: auto;
    max-width: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    -webkit-justify-content: space-around;
    -webkit-align-items: flex-start;
    -moz-justify-content: space-around;
    -moz-align-items: flex-start;
    .icon, .fa{
      font-size: 44px;
      color:stencilColor('icon-color');
      width: 100%;
    }
    .media-body{
      padding-left: 20px;
      .title_block{
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 500;
        color:stencilColor('color-textHeading');
        margin: 0px;
        line-height: 1;
        text-align: left;
      }
      .text_service{
        margin-bottom: 0;
        font-size: 12px;
        color: #666666;
        line-height: 26px;
        padding-top: 25px;
        text-align: left;
      }
    }
  }
}
////// PRODUCT ////////
.category-menu {
  @media(max-width:991px){
    display: none;
  }
.title-product{
    margin: 0;
    padding: 12px 15px 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  .Product-blocks{
    .product{ 
      @media(min-width:768px){
        width: 25%;
      }
      
    .card-figcaption{
        display: none;
      }
      .card-body{
        .card-title{
          font-size: 12px;
        }
          font-size: 12px;
        .rating--small, .deal-clock{
          display: none;
        }
      }
    }
  }
}
.page-content{
    .productList{
    .product{
      width:100% !important;
      .card-figure {
        margin-right: 30px;
        @media (min-width: 570px){
          width: 40%;
          float: left;
        }
        @media (min-width: 992px){
          width: 35%;
        }
      }
      .card-body{
        text-align: left;
      }
      .deal-clock {
        .countdown{
          justify-content: flex-start;
        }
      }
      .description{
        display:block;
      }
    }
  }
}
.wrapper{
	margin-bottom:50px;
}
.card {
	.box-wishlist{
		.form{
			margin:0;
		}
    .button{
      width:100%;
    }
	}
   @media (min-width: 992px){
   .product_img_link{
    overflow: hidden;
    display: block;
    position: relative;
      img{
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        -webkit-transition: transform 1s;
        transition: transform 1s;
        }
        .product-additional{
          position: absolute;
          top: 0px;
          visibility: hidden;
          left: 0px;
          width: 100%;
          perspective: 500px;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
        }
      }
      &:hover{
        .product_img_link{
          img{
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transform: scale3d(1.1, 1.1, 1);
          -moz-transform: scale3d(1.1, 1.1, 1);
          -ms-transform: scale3d(1.1, 1.1, 1);
          -o-transform: scale3d(1.1, 1.1, 1);
          } 
          .product-additional{
          visibility: visible;
          opacity: 1;
          filter: alpha(opacity=100);
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          }
      }
    }
  }
    @media (max-width: 992px){
    .product-additional{
      display:none;
    }
  }
}
.productView-details{
  .productView-rating{
    margin:20px 0;
  }
  .addthis_toolbox{
    margin-bottom: 15px;
      .socialLinks {
        .socialLinks-item {
          width: 25px;
      }
    }
  }
  .productView-brand{
    font-size: 12px;
    text-transform: uppercase;
  }
  .productView-price{
    padding-top: 20px;
    .price-section {
      .price{
        font-size: 14px;
      }
      .price--withoutTax{
        color: stencilColor("color-pricer-product-detail");
        font-size: 28px; 
        @media(min-width:992px){
          font-size: 40px; 
        }
      }
    }
  }
  .form-increment{
    padding: 10px 0;
    max-width: 90px;
    border: 1px solid #dfdfdf;
    .button{
      border:0px;
    }
  }
}
#previewModal{
  .deal-clock{
    display: none;
  }
}
.quickSearchResults{
  .productGrid{
    .product{
      .deal-clock{
        display: none;
      }
    }
  }
}
//////////// Blog ///////
.blockblog{
  .blog-index{
    padding:0 15px;
    text-align: center;
    .blog-title{
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      margin:0;
      font-weight: bold;
      font-size: 14px;
      text-transform: capitalize;
      line-height: 20px;
    }
    .blog-date{
      padding: 7px 0;
      font-size: 13px;
      line-height: 25px;
      font-style: normal;
      text-transform: capitalize;
    }
    .blog-recent_posts{
      line-height:25px;
      font-size:12px;
    }
  }
}
////////// TESTIMONIAL //////////
.testimonial_wrap{
  padding:22px 0 10px;
  background-size: cover;
  .index-heading{
    text-align:center;
  }
  .quotes-wrapper{
    margin: auto;
    text-align: center;
    line-height: 33px;
    margin-top: -20px;
    .title_block{
      color:$white;
    }
    .quotes-slider__text {
      background-color: stencilColor("testimonial-bg");
      font-weight: $font-weight-normal;
      font-style: normal;
      padding: 0 ($theme-gutter-width / 2);
      margin-top: 40px;
      cite {
        font-size: $theme-font-size - 2;
        font-style: normal;
        margin-top: -30px;
        color: stencilColor("color-textBase");
        text-transform: uppercase;
      }
      .rte-setting{
        padding-top: 22px;
        padding-bottom: 40px;
        max-width: 520px;
        margin: auto;
      }
      p {
        margin-bottom:30px;
        color: $white;
        line-height: 24px;
        font-size: $theme-font-size - 2;
        + cite {
          margin-top: 0;
        }
      }
      .image__testimonial{
        display: inline-block;
        position: relative;
        top:-40px;
        border-radius: 50%;
        img{
          border-radius: 50%;
        }
      }
    }
  }
}
////////// Instagram //////////
.instagram-block{
  text-align:center;
  .block_content{
    margin-top:30px;
  }
}
#instafeed{
  a{
    position: relative;
    display: block;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    &:before {
      position: absolute;
      content: "\f16d";
      text-align: center;
      font-size: 20px;
      font-family: "FontAwesome";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color:stencilColor("instafeed-bg");
      opacity: 0;
      visibility: hidden;
      color: #fff;
      display: -webkit-flex;
      display: -ms-flexbox;
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      display: flex;
      width: 100%;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
  }
    &:hover{
       &:before {  
          opacity: 0.7;
          visibility: visible;
      }
    }
  }
}
////////// On-Off-Section //////////
.navPage-subMenu-list-mega{
  display: block;
  .navPage-subMenu-title{
    width: 100%;
    a{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .navPage-subMenu-item{
    width:100%;
  }
}
.off{
  display: none;
}
.html-menu{
  @media(max-width:991px){
    display: none;
  }
  .title-html-menu{
    padding: 12px 15px 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
  }
  .content-html-menu{
    padding-top: 10px;
    font-size:12px;
    line-height: 24px;
  }
}
.video-menu{
  @media(max-width:991px){
    display: none;
  }
    .title-video-menu{
      padding: 12px 15px 30px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
    .content-video-menu{
    padding-bottom: 10px;
    font-size:14px;
    }
}
/*** Vertical Menu ***/
.vertical-menu{
  position: relative;
  .vertical-menu-heading{
    font-weight:600;
  }
  .navList-section{
    margin:0;
    .navList-item{
      &:hover{
         .navList-subSection,.dropdown-sub{
            opacity: 1;
            visibility: visible;
         }
      }
      i.fa{
        float: left;
        padding: 7px 10px 0 0;      }
    }
  }
  .dropdown-sub{
     @media(min-width:992px){
        margin: 0;
        position: absolute;
        right: auto;
        left: 80%;
        z-index: 1;
        top: 0;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 3px 5px #eaeaea;
        opacity: 0;
        visibility: hidden;
    }
    .navList-subSection-lv2{
      margin: 0;
    }
  }
  .navList-subSection{
    @media(min-width:992px){
        margin: 0;
        position: absolute;
        right: auto;
        left: 80%;
        z-index: 1;
        top: 0;
        min-width: 150px;
        padding: 20px;
        background: #fff;
        box-shadow: 1px 3px 5px #eaeaea;
        opacity: 0;
        visibility: hidden;
    }
  }
}
//////////////////////////////////==  Style Home ==//////////////////////////////////////////
.page-heading{
    position:relative;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom:50px;
    color: stencilColor("color-textHeading");
    letter-spacing: 5px;
    &:before{
      position: absolute;
      bottom: -5px;
      content: "";
      left: calc(50% - 60px);
      width: 120px;
      height: 2px;
      background-position: center;
      background-repeat: no-repeat;
      border-bottom: dotted 1px #98a4b9;
    }
}
.section-banner{
  padding-bottom: 32px;
}
.banner_wrap{
  @media (min-width:768px){
    margin-top:30px;
  }
  .banner_home{
    &:first-child, 
    &:last-child{
      @media (min-width:481px){
        padding-top:50px;
      }
    }
  }
}
.card{
  .card-title{
    font-weight:bold;
    font-size: 13px;
  }
  .box-wishlist{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 21;
    pointer-events: all;
    .button{
      width: 16px;
      height: 16px;
      font-size: 0;
      background: transparent;
      padding: 0px;
      margin: 0;
      color: stencilColor("color-textBase");
      &:hover{
         color: stencilColor("card-figcaption-button-color-hover");
         svg{
          fill: stencilColor("card-figcaption-button-color-hover");
          stroke:stencilColor("card-figcaption-button-color-hover");
        }
      }
      .fa{
        font-size: 16px;
      }
    }
  }
  .flex-item{
    width: 20%;
    position:relative;
    &.flex-cart{
      flex-grow: 1;
    }
    &.flex-quick-view{
      order: 2;
    }
    &.flex-compare{
      order: 3;
      .checkbox-compare{
       opacity: 0;
       cursor: pointer;
       height: 100%;
       margin-top: 2px;
       transition: all 0.3s ease 0s;
      }
      span{
        position:absolute;
        cursor: pointer;
        pointer-events: none;
        transition: all 0.3s ease 0s;
       }
       .button {
        &:hover{
          .checkbox-compare{
            opacity: 1;
            transition: all 0.3s ease 0s;
          }
          span{
            opacity: 0;
            transition: all 0.3s ease 0s;
          }
        }
       }
    }
    .card-figcaption-button{
      height: 100%;
      border-radius:0px;
      margin: 0;
      @include display-flexbox();
      text-transform: uppercase;
      line-height: 18px;
      padding: 14px 0px;
      font-weight: bold;
      opacity: 0.6;
      justify-content: center;
      .icons{
        width: 16px;
        height: 15px;
        margin-top: 3px;
        &.icon_compare{
          width: 14px;
        }
        svg{
          fill: $white;
          stroke: $white;
        }
      }
      &:hover{
        opacity: 1;
        background:stencilColor("card-figcaption-button-background-hover");
        color: stencilColor("card-figcaption-button-color-hover");
        .icons{
          svg{
            fill: stencilColor("card-figcaption-button-color-hover");
            stroke:stencilColor("card-figcaption-button-color-hover");
          }
        }
      }
    }
  }

}
.price-section{
    .price {
      color: stencilColor("color-pricer-product");
    }
    .price--withoutTax{
      color: stencilColor("color-pricer-product-sale");
      font-weight:600;
    }
}
.deal-clock{
     padding-top: 10px;
  .countdown{
    border-top: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  .item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 25%;
    max-width: 60px;
    background:$nocolor;
    padding: 10px 0;
    color: stencilColor('color-textBase--hover');
    font-size: 14px;
    font-weight: 600;
    &:not(:last-child){
      &:before{
        content: "";
        width: 5px;
        height: 5px;
        background: #f1f1f1;
        display: block;
        position: absolute;
        right: 0;
        top: 18px;
      }
    }
     .label{
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 400;
      color:#707070;
     }
  }
}
.featured-products{
  .slick-track{
    @include display-flexbox();
    @include align-items($value: stretch);
  }
  .slick-slide{
  @include display-flexbox();
  @include flex-direction(column);
  height: auto;
    >div{
      height: 50%;
      .product{
         .deal-clock{
           .item{
            margin-bottom:15px;
           }
         }
       }
      }
   }
}
///////////////

.feature-row {
  @include display-flexbox();
  @include justify-content(space-between);
  @include align-items(stretch);
  text-align:center;
   @include at-query($min,$screen-desktop) {
       margin: 50px 0
  }
  @include at-query($max,$screen-sm-max) {
    @include flex-direction(column);
  }
}

.feature-row__item {
  @include at-query($max,$screen-xs) {
    min-height: auto;
  }
  @include flex(0 1 50%);
  @include at-query($max,$screen-sm-max) {
    @include flex(1 1 auto);
    max-width: 100%;
  }
}

.feature-row__image {
  display: block;
  margin: 0 auto;
  @include at-query($max,$screen-sm-max) {
    order: 1;
    margin-bottom: 20px;
  }
}

.title_text_image{
  font-size: 22px;
  font-weight: bold;
  line-height: 35px;
  color: stencilColor("color-textHeading-special");  
  text-transform: uppercase;
  position: relative;
  letter-spacing: 5px;
  &:before{
    position: absolute;
    top: 33px;
    content:"";
    left:0;
    width: 100%;
    height: 100%;
    background:url(../img/line-loolbook.png) bottom center no-repeat;
  }
}

.feature-row__text {
  padding: 35px 85px;
  background-color: #363a42;
  @media (max-width:1200px) and (min-width:992px){
    padding: 15px 30px;
  }
  @include at-query($max, $screen-xs){
    padding: 35px 20px;
  }
  @include at-query($max,$screen-sm-max) {
    order: 2;
  }
  .btn{
    background: $nocolor;
    border:0;
    border-bottom: 2px solid stencilColor("button--primary-color");
    color: stencilColor("button--primary-color"); 
    padding: 0;
    letter-spacing: 5px;
    font-weight: bold;
    padding-bottom: 7px;
    @include rtl-padding-right(15px);
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    &:before{
      position: absolute;
      content:"+";
      @include rtl-right(0);
      display: block;
      letter-spacing: 0;
    }
    &:hover{
      color: stencilColor("button--primary-colorHover"); 
      border-bottom: 2px solid stencilColor("button--primary-colorHover");
    }
  }
}
.featured-row__subtext {
  font-size: $theme-font-size - 2px;
  line-height: 28px;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: 0;
  @media (max-width:1200px) and (min-width:992px){
    padding: 30px 0;
  }
  P{
    margin: 0;
    color: #dadfe9;
  }
}
.footer-top{
  background-size:cover;
  .flex-nav{
    @include display-flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    flex-wrap: wrap;
    .page-heading{
    text-align: left;
    color:stencilColor('color-textHeading-special');
    margin-bottom:0px;
      &:before{
      left: 0;
      }
    }
    .des_newsletter{
        color: #d4d4d4;
        font-size: 12px;
        padding-top: 25px;
        max-width: 320px;
    }
    .left__block {
      padding-top: 50px;
      padding-bottom: 60px;
      @include at-query($min,$screen-sm-min) {
        padding-left: 100px;
      }
      .des_newsletter{
        color: #d4d4d4;
        font-size: 12px;
        padding-top: 25px;
        max-width: 320px;
     }
    }
    .right__block{
      @include at-query($min,$screen-sm-min) {
        padding-right: 100px;
      }
      .form, .form-field{
        margin: 0;
      }
      .form-prefixPostfix{
        position: relative;
        flex-direction: column;
        @include align-items(flex-end);
        margin-bottom: 20px;
        .form-input{
        height: 46px;
        position: relative;
        color: #fff;
        background-color: rgba(138,147,151,0.5);
        background-image: url(../img/email.png);
        background-position: 15px 16px;
        background-repeat: no-repeat;
        border: 0;
        padding-left: 40px;
        border-radius: 0px;
        font-size: 12px;
        width: 100%;
      }
      .button{
        max-width: 125px;
        font-size: 12px;
        font-weight: bold;
        color: stencilColor("button--primary-color"); 
        text-transform: uppercase;
        background-color: transparent;
        padding: 0;
        letter-spacing: 5px;
        border-radius: 0px;
        border-width: 0 0 2px;
        border-style: solid;
        border-bottom-color:stencilColor("button--primary-color");
        margin-top: 20px;
        height: auto;
        padding-right:20px;
        }
        &:before{
          position: absolute;
          content: "+";
          right: 0;
          bottom: 0;
          display: block;
          letter-spacing: 0;
          z-index: 9;
          color: $white;
        }
        &:hover{
          .button{
            color: stencilColor("button--primary-colorHover"); 
            border-bottom: 2px solid stencilColor("button--primary-colorHover");
          }
          &:before{
            color: stencilColor("button--primary-colorHover"); 
           }
        }
      }
    }
  }
}
///////// footert  ////
.footer-info {
  .footer-info-heading{
    color: $white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight:bold;
    padding-bottom: 28px;
    padding-top:30px;
    margin: 0;
    .footer-logo-image{
      display: inline-block;
    }
  }
    .footer-info-col {
      font-size: 12px;
       @media (min-width:992px){
       padding-top: 45px;
       margin: 0;
       padding-left: 40px;
     }
       .footer-nav-content{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
        padding-top:5px;
       }
    }

    .footer-about{
    padding-bottom: 130px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: stencilColor('footer-backgroundColor-about');
    @media (max-width:991px){
      width:100%;
      padding-bottom: 85px;
    }
        address{
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 12px;
        line-height: 26px;
        color: stencilColor("color-textSecondary");
        font-style: inherit;
        }
    }
    .socialLinks{
        .socialLinks-item {
          display: inline-block;
          margin-right: 8px;
          margin-bottom: 8px;
          width: 44px;
          height: 44px;
          text-align: center;
          line-height: 44px;
          background-color: #363a42;
      }
    }
    .footer-info-list{
      li{
        line-height: 40px;
      }
    }
    .contact-info{
      .contact-list-info{
        padding-top: 20px;
        margin: 0;
        li{
          list-style: none;
          position: relative;
          padding-left: 20px;
          padding-bottom: 15px;
          line-height: 24px;
          .icons{
            position: absolute;
            top: 8px;
            left: 0;
          }

        }
      }
    }
}
.footer-bottom{
  background:$white;
  .flex-box{
    @include flex-wrap(wrap);
    @include align-items(center);
    justify-content: center;
     .footer-payment-icons {
        flex-grow: 1;
        display: flex;
         justify-content: center;
        @media (min-width:600px){
           justify-content: flex-end;
        }
    }
  }
}

///// AP BASE 2 ////////


.header2{
  .header_nav{
      .header-logo{
        position:relative;
        float:left;
        left:auto;
       }
      .navPages-container{
        @media (min-width:992px){
        text-align: center;
        }
      }
    } 
    @media (min-width: 992px){
      .navPages-item{
        .navPage-subMenu {
          left: 50%;
          transform: translate(-50%, 0%);
        }
        &.menu-discover{
          .recipes-dropdown{
            display: flex;
            .navPage-subMenu-item{
              display: flex;
              flex-direction: column;
            }
          }
          .navPage-subMenu-list{
            max-width: 1360px;
            display: flex;
            justify-content: space-between;
          }
        }
        &.menu-about{
          .about-dropdown{
            display: flex;
          }
          .navPage-subMenu-list{
            max-width: 1360px;
            display: flex;
            justify-content: space-between;
          }
          .navPage-subMenu-item{
            width: calc(25% - 40px);
            padding: 0!important;
          }
        }
        &:hover{
          .navPage-subMenu {
            left: 50%;
            transform: translate(-50%, 0%);

          }
        }
      }
  }
}
.collec-slide{
  padding:0 15px;
  text-align: center;
}
.content__collec{
  margin: 55px 0;
  @media (min-width:1200px){
    padding: 0 55px;
  }
  .line-vertical{
    height: 30px;
    width: 1px;
    background: #dddddd;
    margin: 0px auto 30px;
    &.line-top{
      margin: 30px auto 0px;
    }
  }
  &.block .title_block{
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    &:before{
      font-size: 0;
    }
    >a{
      color: stencilColor('color-textTertiary');
          text-decoration: none;
      &:hover{
        color: stencilColor('color-textTertiary--hover');
      }
    }
  }
  .hero__btn {
    color: #999999;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 500;
    padding-top: 20px;
    display: block;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
  }
}
////// --- producttab-index ---   ///////
.tab-products{
  position:relative;
  margin-top: 55px;
  &:before{
      content: '';
      position: absolute;
      background: stencilColor('bg-product-tab');
      width: 100%;
      margin-left: -1000px;
      padding: 0 2000px;
      top: 0;
      height: 100%;
      overflow: hidden;
  }
  .block_content{
    margin-bottom: 30px;
  }
   .producttab-index{
     position: relative;
     .block_content{
      margin-bottom: 30px;
    }
    .tabs{
      border:none;
      position: relative;
      z-index: 9;
      display: flex;
      @media (min-width:768px){
        float:right;
      }
      @media (max-width:767px){
        padding-top: 50px;
      }
     
      .tab{
         border:none;
         text-transform: uppercase;
         @media (min-width:768px){
          margin-left:3rem;
        }
        @media (max-width:767px){
          margin-right:1.5rem;
        }
         .tab-title{
          font-weight: bold;
          color:stencilColor("color-textBase");
           padding-left: 0;
           padding-right: 0;
           @media (max-width:767px){
            font-size: 12px;
          }
         }
      }
      .is-active{
        border-bottom:2px solid #ffffff;
        .tab-title{
          color: $white;
        }
      }
    }
    .page-heading{
      position: absolute;
      top:0;
      left:0;
      @media (max-width:767px){
        font-size: 14px;
      }
      &:before{
        left:0;
      }
    }
    .product{
      .card-body{
        background: white;
       .countdown{
        //  display: none;
       }
      }
    }
  } 
}
////// === banner mid ==== /////////
.banner-ap2{
    margin:40px 0;
  .banner_wrap{
    margin: 0;
  }
}
///////// ajax product /////
.big-section-index2{
  .Product-blocks{
    .product{
      .deal-clock{
      }
    }
  }
  ///////// Blog //////////
  .blockblog{
    padding-top:40px;
    .slick-track{
      .slick-active{
          &:nth-child(2n) {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            flex-direction: column-reverse;
            .blog-recent_posts-body{
              padding-bottom: 30px;
            }
        }
      }
    }
  }
}

.hero-overlay{
  .hero {
    position: relative;
    height: 357px;
    display: table;
    width: 100%;
    background-attachment: fixed;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-width:992px){
      height: 552px;
    }
    .hero__inner {
      position: relative;
      vertical-align: middle;
      padding: 55px 0;
      color:$white;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      overflow: hidden;
      z-index: 2;
      .feature-row__text {
        background-color: transparent;
        padding: 35px 85px;
        .mega-title {
          font-weight: bold;
          color:stencilColor('color-textHeading-special');
          font-size: 25px;
          margin-bottom: 55px;
          @media (min-width:768px){
            font-size: 50px;
          }
      }
      .mega-subtitle {
        max-width: 360px;
        margin: auto;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 20px;
    }
      .btn {
        text-transform: uppercase;
        background: transparent !important;
        border: 0;
        border-bottom: 2px solid stencilColor('button--primary-color');
        padding: 0;
        color: stencilColor('button--primary-color');
        letter-spacing: 5px;
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 7px;
        padding-right: 15px;
        position: relative;
        &:hover{
          color: stencilColor("button--primary-colorHover"); 
          border-bottom: 2px solid stencilColor("button--primary-colorHover");
        }
     }
    }
   }
  }
}
////////////// Home 3 ////////////
.collection-list-index-h3{
  .collec-slider{
    margin-bottom: 0;
  }

  .collection-grid-item-index{
    .content__collec{
      margin: 35px 0;
      .title__block{
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        position: relative;
        &:before{
        position: absolute;
        bottom: -14px;
        content: "";
        left: calc(50% - 60px);
        width: 120px;
        height: 2px;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: dotted 1px #98a4b9;
        }
        a{
          text-decoration: none;
        }
      }
       .count_product_collection {
          font-size: 12px;
          font-weight: 300;
          line-height: 22px;
          color: #999999;
          text-transform: lowercase;
          padding-top: 15px;
          display: block;
      }
    }
  }
}

.product-index3{
  .banner_wrap{
    margin: 0;
    .block_img{
      img{
        width: 100%;
      }
    }
  }
   .section__title {
    background: #363a42;
    margin-bottom: 34px;
    min-height: 68px;
    text-align: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    .page-heading {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      color:stencilColor("color-textBase--hover");
      margin-right: 30px;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      letter-spacing: 5px;
      &:before{
        position: absolute;
        background: none;
        content: "";
        width: 2px;
        height: 18px;
        right: 0;
        left: auto;
        top: calc(50% - 9px);
        background-color:stencilColor("color-textBase--hover");
      }
   }
   .des_productlist {
     padding-left: 30px;
    font-size: 12px;
    color: #fff;
    text-transform: none;
  }
  }
  .productGrid,.productCarousel  {
    margin: 0 15px;
  }
}

.big-section-service{
  .flex_box{
    background: #f5f5f5;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;

    .banner_wrap, .brandlist-homepage{
      margin: 0;
    }
  }
}
.hero-overlay-h3{
  .banner_wrap {
    margin: 0;
  }
  .hero_h3 {
    padding: 35px 0 45px;  
    .feature-row__text{
      background: $nocolor;
    }
    .mega-title{
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      color:$white;
    }
  }
}
////////////// Home 4 ////////////////
@media (min-width: 1700px){
    .container-wrap {
      padding: 0 159px;
      background-color: #f1f1f1;
    }
}
.feature__collections_h4{
  .section__title {
    margin-top:50px;
    margin-bottom:30px;
    .page-heading{
      margin-bottom:30px;
    }
    .des_feature_collections {
      font-size: 12px;
      color: #999999;
      text-transform: none;
      line-height: 26px;
      text-align: center;
      max-width: 540px;
      margin: auto;
    }
  }
  .items-feature {
    margin-bottom: 30px;
    position: relative;
      .content__feature {
        position: absolute;
        top:10px;
        left:25px;
        @media (min-width: 768px){
        top: 20px;
        left: 50px;
      }
        .title_block a {
          font-size: 14px;
          color:stencilColor("color-textBase");
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 600;
          @media (min-width: 992px){
            font-size: 18px;
            letter-spacing: 5px;
          }
      }
        .count_product_collection {
          font-size: 12px;
          color: #999999;
          font-style: italic;
          line-height: 27px;
      }
    }
        &:hover{
        .title_block a{
            color:stencilColor("color-textBase--hover");
        }
    }
  }
  @media (max-width: 767px) and (min-width: 601px){
    .block_feature_left, .block_feature_right{
      width: 50%;
      float: left;
    }
  }  
}

.hero-overlay-h4{
     @media (min-width: 992px){
         margin:50px 0;
     }
  .flex-box{
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    flex-wrap: wrap;
    min-height:300px;
    .flex-item{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .numbers {
      display: inline-block;
      text-align: left;
      font-size: 16px;
      @media (min-width: 992px){
        font-size: 22px;
      }
      span {
        color: #fcc030;
        font-weight: bold;
      }
        .title_number {
          font-size: 16px;
          color: #fff;
          font-weight: bold;
          margin-top: 12px;
          position: relative;
          @media (min-width: 992px){
            font-size: 22px;
          }
         &::before{
          position: absolute;
          content: "";
          width: 35px;
          height: 2px;
          background-color: #fcc030;
          bottom: -8px;
          left: 0;
         }
      }
    }
  }
}
