<footer class="footer" role="contentinfo">
    <article class="footer-top" data-section-type="newsletterSubscription" style="background: url({{lang 'newsletter.background'}}) no-repeat top left;background-size: cover;">
        <div class="container">
            <div class="flex-nav">
                {{#if settings.show_newsletter_box}} {{> components/common/subscription-form}} {{/if}}
            </div>
        </div>
    </article>
    <div class="footer-content">
            <section class="footer-info">
                    <div class="container">
                <article class="footer-info-col footer-about" data-section-type="storeInfo">
                    <h5 class="footer-info-heading">
                        <a href="{{urls.home}}">
                                <img class="footer-logo-image" src="{{lang 'footer.logo'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                        </a>
                    </h5>
<!--                    <address>{{lang 'footer.description'}}</address>-->
                    {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
                    <div class="footer-info-col--social
                        footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                        data-section-type="footer-webPages">
                        {{> components/common/social-links}}
                    </div>
                    {{/if}}
                </article>
                <article class="footer-info-col" data-section-type="footer-webPages">
<!--                    <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>-->
                    <div class="footer-nav-content">
                        <div class="footer-link">
                            <h4>Shop <i class="fa fa-chevron-down show-for-medium-down"></i></h4>
                            <ul class="footer-info-list">
                                {{#if (lang 'footer.links.col1_url1') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col1_url1'}}">{{lang 'footer.links.col1_title1'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col1_url2') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col1_url2'}}">{{lang 'footer.links.col1_title2'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col1_url3') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col1_url3'}}">{{lang 'footer.links.col1_title3'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col1_url4') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col1_url4'}}">{{lang 'footer.links.col1_title4'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col1_url5') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col1_url5'}}">{{lang 'footer.links.col1_title5'}}</a></li>
                                {{/if}}
                            </ul>
                        </div>
                        <div class="footer-link">
                            <h4>About <i class="fa fa-chevron-down show-for-medium-down"></i></h4>
                            <ul class="footer-info-list">
                                {{#if (lang 'footer.links.col2_url1') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col2_url1'}}">{{lang 'footer.links.col2_title1'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col2_url2') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col2_url2'}}">{{lang 'footer.links.col2_title2'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col2_url3') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col2_url3'}}">{{lang 'footer.links.col2_title3'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col2_url4') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col2_url4'}}">{{lang 'footer.links.col2_title4'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col2_url5') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col2_url5'}}">{{lang 'footer.links.col2_title5'}}</a></li>
                                {{/if}}
                            </ul>
                        </div>

                        <div class="footer-link">
                            <h4>Discover <i class="fa fa-chevron-down show-for-medium-down"></i></h4>
                            <ul class="footer-info-list">
                                {{#if (lang 'footer.links.col3_url1') '!=' ' '}}
                                <li><a target="_blank" href="{{lang 'footer.links.col3_url1'}}">{{lang 'footer.links.col3_title1'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col3_url2') '!=' ' '}}
                                <li><a target="_blank" href="{{lang 'footer.links.col3_url2'}}">{{lang 'footer.links.col3_title2'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col3_url3') '!=' ' '}}
                                <li><a target="_blank" href="{{lang 'footer.links.col3_url3'}}">{{lang 'footer.links.col3_title3'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col3_url4') '!=' ' '}}
                                <li><a target="_blank" href="{{lang 'footer.links.col3_url4'}}">{{lang 'footer.links.col3_title4'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col3_url5') '!=' ' '}}
                                <li><a target="_blank" href="{{lang 'footer.links.col3_url5'}}">{{lang 'footer.links.col3_title5'}}</a></li>
                                {{/if}}
                            </ul>
                        </div>

                        <div class="footer-link">
                            <h4>Have Question?<i class="fa fa-chevron-down show-for-medium-down"></i></h4>
                            <ul class="footer-info-list">
                                {{#if (lang 'footer.links.col4_url1') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col4_url1'}}">{{lang 'footer.links.col4_title1'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col4_url2') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col4_url2'}}">{{lang 'footer.links.col4_title2'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col4_url3') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col4_url3'}}">{{lang 'footer.links.col4_title3'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col4_url4') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col4_url4'}}">{{lang 'footer.links.col4_title4'}}</a></li>
                                {{/if}}
                                {{#if (lang 'footer.links.col4_url5') '!=' ' '}}
                                <li><a href="{{lang 'footer.links.col4_url5'}}">{{lang 'footer.links.col4_title5'}}</a></li>
                                {{/if}}
                            </ul>
                        </div>

                    </div>
                </article>
               {{#if theme_settings.gmap-show}}
                <article class="footer-info-col footer-map">
                    <div class="gmap-wrap">
                        <div id="map"></div>
                    </div>
                </article>
                {{/if}}
            </div>
         </section>
        <div class="footer-bottom">
            <div class="container">
                <div class="flex-box">
                    {{#if theme_settings.geotrust_ssl_common_name}}
                    <div class="footer-geotrust-ssl-seal">
                        {{> components/common/geotrust-ssl-seal}}
                    </div>
                    {{/if}}
                    <div class="footer-copyright">
                        {{#if theme_settings.show_powered_by}}
                        <span class="powered-by">© Muniq, Inc., All rights reserved.
                        </span>
                        {{/if}} {{#if theme_settings.show_copyright_footer}}
                        <span class="powered-by"> {{moment format="YYYY"}} {{settings.store_name}} </span>
                        {{/if}}
                        <span><a href="/privacy/">Privacy Policy</a> </span>
                        <span><a href="/terms/">Terms of Use</a> </span>
                        <span><a href="/ccpa/">CCPA</a> </span>
						<span><a href="/faq/">FAQ</a></span>
                    </div>
                    {{> components/common/payment-icons}}
                </div>
            </div>
        </div>
    </div>
</footer>
