<header id="header" class="header header2" role="banner">
<div class="topbar">
    {{> components/common/navigation}}
</div>
    <div class="header_nav {{#if theme_settings.floatheader}}stop-float{{/if}}">
    <div class="header_nav-fix ">
         <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>
         {{#if template_file '===' 'pages/home'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}
        <div class="right-header">
            <div class="navPages-container" id="menu" data-menu>
                {{> components/common/navigation-menu}}
            </div>
            <div class="header__right pull-right">
                <ul>
<!--                    <li class="navUser-item navUser-item&#45;&#45;account">-->
<!--                        {{#if customer}}-->
<!--                        <a class="navUser-action" href="{{urls.account.index}}"><i class="fa fa-user-circle"></i></a>-->
<!--                        <a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>-->
<!--                        {{else}}-->
<!--                        <a class="navUser-action" href="{{urls.auth.login}}"><i class="fa fa-user-circle"></i></a>-->
<!--                        {{#if settings.account_creation_enabled}}-->
<!--                         <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>-->
<!--                        {{/if}}-->
<!--                        {{/if}}-->
<!--                    </li>-->

                    {{#if settings.show_wishlist}}
                    {{#if account_page '===' 'wishlists'}}
                    <li class="navUser-item wishlists is-active">
                        <span class="icons icon_heart"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.7 471.7"><path d="M433.6 67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7 13.6-92.4 38.3l-12.9 12.9 -13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4 -34.8 0-67.6 13.6-92.2 38.2 -24.7 24.7-38.3 57.5-38.2 92.4 0 34.9 13.7 67.6 38.4 92.3l187.8 187.8c2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-3.9l188.2-187.5c24.7-24.7 38.3-57.5 38.3-92.4C471.8 124.5 458.3 91.7 433.6 67zM414.4 232.7l-178.7 178 -178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3s10.7-53.7 30.3-73.2c19.5-19.5 45.5-30.3 73.1-30.3 27.7 0 53.8 10.8 73.4 30.4l22.6 22.6c5.3 5.3 13.8 5.3 19.1 0l22.4-22.4c19.6-19.6 45.7-30.4 73.3-30.4 27.6 0 53.6 10.8 73.2 30.3 19.6 19.6 30.3 45.6 30.3 73.3C444.8 187.1 434 213.1 414.4 232.7z"/></svg></span><span class="hidden">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</span></li>
                    {{else}}
                    <li class="navUser-item wishlists">
                        <a class="navUser-action" title="Wishlist" href="{{urls.account.wishlists.all}}">
                            <span class="icons icon_heart"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.7 471.7"><path d="M433.6 67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7 13.6-92.4 38.3l-12.9 12.9 -13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4 -34.8 0-67.6 13.6-92.2 38.2 -24.7 24.7-38.3 57.5-38.2 92.4 0 34.9 13.7 67.6 38.4 92.3l187.8 187.8c2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-3.9l188.2-187.5c24.7-24.7 38.3-57.5 38.3-92.4C471.8 124.5 458.3 91.7 433.6 67zM414.4 232.7l-178.7 178 -178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3s10.7-53.7 30.3-73.2c19.5-19.5 45.5-30.3 73.1-30.3 27.7 0 53.8 10.8 73.4 30.4l22.6 22.6c5.3 5.3 13.8 5.3 19.1 0l22.4-22.4c19.6-19.6 45.7-30.4 73.3-30.4 27.6 0 53.6 10.8 73.2 30.3 19.6 19.6 30.3 45.6 30.3 73.3C444.8 187.1 434 213.1 414.4 232.7z"/></svg></span><span class="hidden">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</span>
                            <span class="hidden">{{lang 'account.nav.wishlists' num_wishlists=customer.num_wishlists}}</span>
                        </a>
                    </li>
                    {{/if}}
                    {{/if}}
                    <li class="navUser-item quicksearch">
                        <a class="navUser-action navUser-action--quickSearch" href="#" data-search="quickSearch" aria-controls="quickSearch" aria-expanded="false">
                            <span class="hidden">{{lang 'common.search'}}</span>
                            <span class="icons icon_search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="M51.6 96.7c11 0 21-3.9 28.8-10.5l35 35c0.8 0.8 1.8 1.2 2.9 1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-35-35c6.5-7.8 10.5-17.9 10.5-28.8 0-24.9-20.2-45.1-45.1-45.1C26.8 6.5 6.5 26.8 6.5 51.6 6.5 76.5 26.8 96.7 51.6 96.7zM51.6 14.7c20.4 0 36.9 16.6 36.9 36.9C88.5 72 72 88.5 51.6 88.5c-20.4 0-36.9-16.6-36.9-36.9C14.7 31.3 31.3 14.7 51.6 14.7z"/></svg></span>
                        </a>
                    </li>
                    <li class="navUser-item navUser-item--cart">
                        <a class="nav-account" href="{{urls.account.orders.all}}">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512" style="&#10;    height: 18px;&#10;    width: 20px;&#10;    fill: #004936;&#10;"><path d="m275.565 275.565c-75.972 0-137.783-61.81-137.783-137.783s61.811-137.782 137.783-137.782 137.783 61.81 137.783 137.783-61.811 137.782-137.783 137.782zm0-241.119c-56.983 0-103.337 46.353-103.337 103.337s46.353 103.337 103.337 103.337 103.337-46.354 103.337-103.337-46.354-103.337-103.337-103.337z"/><path d="m499.461 551.13h-447.793c-9.52 0-17.223-7.703-17.223-17.223v-118.558c0-17.795 9.099-34.513 23.732-43.663 129.339-80.682 305.554-80.665 434.759-.017 14.649 9.166 23.749 25.885 23.749 43.679v118.558c0 9.521-7.703 17.224-17.224 17.224zm-430.57-34.445h413.348v-101.336c0-6.004-2.893-11.555-7.552-14.464-118.256-73.819-279.905-73.87-398.26.017-4.642 2.893-7.535 8.443-7.535 14.448z"/></svg>
                        </a>
                        <a
                                class="navUser-action"
                                data-cart-preview
                                data-dropdown="cart-preview-dropdown"
                                data-options="align:right"
                                href="{{urls.cart}}">
                            <span class="icons icon_cart">
                                <img src="{{cdn 'assets/img/cart-icon.png'}}" alt="">
                            </span>
<!--                            <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>-->
                            <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                        </a>
                        <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
                    </li>
                </ul>
            </div>

            </div>
        </div>

    </div>
</header>
