<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
        <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
            {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
            {{> components/common/navigation-list-alternate}}
            {{/if}}
        </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
        {{#each pages}}

        <li class="navPages-item navPages-item-page menu-{{hyphenate (toLowerCase name)}}">
            {{#if children}}
            <a class="navPages-action has-subMenu is-root" href="{{url}}"
               data-collapsible="navPages-{{hyphenate (toLowerCase name)}}">

                {{name}}
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down"/>
                    </svg>
                </i>
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-{{hyphenate (toLowerCase name)}}"
                 aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{#each children}}
                    <li class="navPage-subMenu-item-child">
                        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{else}}

            <a class="navPages-action" href="{{url}}">
                {{#if name '==' 'About'}}
                <img class="light" src="{{cdn 'assets/img/home/cup-white.svg'}}" alt="">
                <img class="dark" src="{{cdn 'assets/img/home/cup-green.svg'}}" alt="">
                {{/if}}
                {{#if name '==' 'Discover'}}
                <img class="light" src="{{cdn 'assets/img/home/bulb-white.svg'}}" alt="">
                <img class="dark" src="{{cdn 'assets/img/home/bulb-green.svg'}}" alt="">
                {{/if}}
                {{name}}
                <i class="fa fa-sort-down"></i></a>
            {{#if name '==' 'About'}}
            <div class="navPage-subMenu about-dropdown">
                <div class="content-aboutMenu">
                    <div class="items-aboutMenu">
                        <h4 class="title">
                            <a href="/about-story/">The Muniq story</a><i class="fa fa-chevron-right"></i>
                        </h4>
                        <div class="content-about">
                            <p class="text">Our mission is to increase your hope, health & happiness through the science of the microbiome.</p>
                            <div class="img-blog"><img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/group-copy.jpg?t=1580706586&_ga=2.236366534.658644374.1581300030-1454440453.1565840515" alt=""></div>
                        </div>
                    </div>
                    <div class="items-aboutMenu">
                        <h4 class="title">
                            <a href="/science/">Why Gut Health Matters</a><i class="fa fa-chevron-right"></i>
                        </h4>
                        <div class="content-about">
                            <p class="text">Learn everything you need to know about the gut microbiome and how to get your gut right.</p>
                            <div class="img-blog"><img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/banner-s.jpg?t=1580561676&_ga=2.233734745.658644374.1581300030-1454440453.1565840515" alt=""></div>
                        </div>
                    </div>
                    <div class="items-aboutMenu">
                        <h4 class="title">
                            <a href="/about-advisory/">The Science Behind Muniq</a><i class="fa fa-chevron-right"></i>
                        </h4>
                        <div class="content-about">
                            <p class="text">Dive into the groundbreaking research behind Muniq.</p>
                            <div class="img-blog"><img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/img-2.jpg?t=1580451371&_ga=2.77950935.2126380195.1580367913-795491313.1580367913" alt=""></div>
                        </div>
                    </div>
                    <div class="items-aboutMenu">
                        <h4 class="title">
                            <a href="/about-clinical/">We are Muniq</a><i class="fa fa-chevron-right"></i>
                        </h4>
                        <div class="content-about">
                            <p class="text">Meet our team of pros driven by passion & purpose.</p>
                            <div class="img-blog"><img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/banner-1.jpg?t=1580451371&_ga=2.233734745.658644374.1581300030-1454440453.1565840515" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{#if name '==' 'Discover'}}
            <div class="navPage-subMenu recipes-dropdown">
                <div id="content-blogMenu">
                    <div class="itemBlog col-blogMenu">
                        <h2 class="heading-blog"></h2>
                    </div>
                    <div class="itemBlog col-recipesMenu">
                        <h2 class="heading-blog"></h2>
                    </div>
                    <div class="itemBlog col-ambassadorMenu">
                        <h2 class="heading-blog"></h2>
                    </div>
                </div>
                <ul class="item-mobile">
                    <li class="list-itemMobile"><a href="#">What is gut microbiome</a><i class="fa fa-chevron-right"></i></li>
                    <li class="list-itemMobile"><a href="#">Prebiotics 101</a><i class="fa fa-chevron-right"></i></li>
                    <li class="list-itemMobile"><a href="#">What is resistant starch?</a><i class="fa fa-chevron-right"></i></li>
                    <li class="list-itemMobile"><a href="#">How to manage blood sugar</a><i class="fa fa-chevron-right"></i></li>
                </ul>
                <div id="content-blogMenu-mobile">
                    <div class="itemBlog-mobile col-blog-mobile">
                        <div class="img-item">
                            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/blog.png?t=1578997398&_ga=2.194545002.658644374.1581300030-1454440453.1565840515">
                        </div>
                        <div class="content-blog">
                            <h2 class="title">Blog</h2>
                        </div>
                    </div>
                    <div class="itemBlog-mobile col-recipes-mobile">
                        <div class="img-item">
                            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/blog4.png?t=1577346458&_ga=2.131959496.658644374.1581300030-1454440453.1565840515">
                        </div>
                        <div class="content-blog">
                            <h2 class="title">Recipes</h2>
                        </div>
                    </div>
                    <div class="itemBlog-mobile col-ambassador-mobile">
                        <div class="img-item">
                            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/ambassadors.png?t=1578997398&_ga=2.131959496.658644374.1581300030-1454440453.1565840515">
                        </div>
                        <div class="content-blog">
                            <h2 class="title">Ambassadors</h2>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/if}}
        </li>

        {{/each}}
        {{/unless}}
    </ul>
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency"
               aria-controls="navPages-currency" aria-expanded="false">
                {{lang 'common.currency' code=currency_selector.active_currency_code}} <i
                    class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
                </svg>
            </i>
            </a>
            <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    {{#each currency_selector.currencies}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                            {{#if is_active}}
                            <strong>{{name}}</strong>
                            {{else}}
                            {{name}}
                            {{/if}}
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
        </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--storeCredit">
                {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
            </a>
        </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
        <li class="navPages-item">
            <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang
                'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
        </li>
        {{/if}}
        {{#if customer}}
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down"/>
                </svg>
            </i>
            </a>
            <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang
                            'account.nav.orders'}}</a>
                    </li>
                    {{#if settings.returns_enabled}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang
                            'account.nav.returns'}}</a>
                    </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang
                            'account.mobile_nav.messages'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang
                            'account.nav.addresses'}}</span></a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang
                            'account.mobile_nav.wishlists'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang
                            'account.nav.recently_viewed'}}</a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang
                            'account.nav.settings'}}</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
        </li>
        {{else}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
            {{#if settings.account_creation_enabled}}
            {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang
            'common.sign_up'}}</a>
            {{/if}}
        </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
        <li class="navPages-item">
            {{> components/common/social-links}}
        </li>
        {{/if}}
    </ul>
    {{> components/common/footer }}
</nav>

