{{#if children}}
<a class="navPages-action has-subMenu active" href="{{url}}" data-collapsible="navPages-{{id}}">
    <img class="light" src="{{cdn 'assets/img/home/cart-white.svg'}}" alt="">
    <img class="dark" src="{{cdn 'assets/img/home/cart-green.svg'}}" alt="">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
{{> components/themes/sections/section section="mega"
mega_id_1=(lang "mega-menu.mega-category-id-1" )
mega_id_2=(lang "mega-menu.mega-category-id-2" )
mega_id_3=(lang "mega-menu.mega-category-id-3" )
mega_id_4=(lang "mega-menu.mega-category-id-4" )
mega_id_5=(lang "mega-menu.mega-category-id-5" )
}}
    <div class="product-content">
        <div class="productDetails">
            <div class="img-product">
                <img src="{{cdn '/assets/img/Group42.png'}}">
            </div>
            <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201101">Chocolate</a>
        </div>
        <div class="productDetails">
            <div class="img-product">
                <img src="{{cdn '/assets/img/Group41.png'}}">
            </div>
            <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201102">Vanilla Creme</a>
        </div>
        <div class="productDetails">
            <div class="img-product">
                <img src="{{cdn '/assets/img/Group43.png'}}">
            </div>
            <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201103">Mocha Latte</a>
        </div>
        <div class="productDetails">
            <div class="img-product">
                <img src="{{cdn '/assets/img/Group44.png'}}">
            </div>
            <a class="link-product" href="/prebiotic-resistant-starch-shake/?sku=10201104">Vegan Chocolate</a>
        </div>
    </div>
    <img class="show-for-medium-down" src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/mobile-menu.png" alt="">
</div>

{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/if}}
