{{#if social_media}}
    <ul class="socialLinks socialLinks--alt">
        {{#each social_media}}
            <li class="socialLinks-item">
                {{#if display_name '===' 'google+'}}
                    <a class="icon icon--google" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-google" /></svg>
                    </a>
                {{else if display_name '===' 'facebook'}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                {{else if display_name '===' 'twitter'}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="25px" viewBox="0 0 35 25" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Muniq-404" transform="translate(-1377.000000, -1312.000000)" fill="#F6F6EF">
                                    <g id="Group-28" transform="translate(0.000000, 1241.000000)">
                                        <g id="Group-27" transform="translate(1338.000000, 70.000000)">
                                            <path d="M39,23.1639107 C42.1770495,24.95485 45.9520907,26 50.0068941,26 C63.3393116,26 70.8701604,16.1026555 70.4172953,7.22602656 C71.8196033,6.33762601 73.0365689,5.22578067 74,3.95887632 C72.7113454,4.46139661 71.3265225,4.80025203 69.875256,4.95269855 C71.3579957,4.17325424 72.4962782,2.93662405 73.0313234,1.46102778 C71.644752,2.18468773 70.1078084,2.7102594 68.472948,2.99363782 C67.1633112,1.76684288 65.297647,1 63.2309037,1 C58.5955937,1 55.1894889,4.80178879 56.2368487,8.74987706 C50.2691712,8.48693755 44.9781686,5.97372142 41.4374282,2.15502828 C39.5560274,4.99203959 40.4617575,8.70392796 43.6597892,10.5816941 C42.4812909,10.5492685 41.3727332,10.264046 40.4058051,9.79164618 C40.3288705,12.7160991 42.7120947,15.4506086 46.1654094,16.0599336 C45.1530199,16.3024342 44.0462107,16.3562208 42.9236649,16.1676604 C43.8346406,18.67642 46.4871359,20.4994775 49.6309637,20.5504979 C46.6112804,22.6314237 42.8100115,23.5591652 39,23.1639107" id="Fill-64-Copy"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                {{else if display_name '===' 'instagram'}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" viewBox="0 0 25 25" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Muniq-404" transform="translate(-1435.000000, -1312.000000)" fill="#F6F6EF" fill-rule="nonzero">
                                    <g id="Group-28" transform="translate(0.000000, 1241.000000)">
                                        <g id="Group-27" transform="translate(1338.000000, 70.000000)">
                                            <path d="M112.244177,1 C113.099656,1.00890942 113.606342,1.02713379 114.400932,1.06360379 C115.643157,1.12027509 116.590397,1.31069235 117.486607,1.65885316 C118.388985,2.00921801 119.118833,2.47799665 119.817715,3.17756479 C120.516819,3.87686624 120.985019,4.60646429 121.335331,5.50879443 C121.683577,6.40404941 121.873906,7.35184647 121.930614,8.59534799 L121.97891,9.87156682 C121.99097,10.3364077 121.997059,10.8454655 122,11.600146 L121.995905,16.0732514 C121.987578,17.0271735 121.969358,17.5491804 121.930616,18.3972716 C121.873908,19.641012 121.683588,20.5888237 121.335497,21.4836775 C120.985019,22.386436 120.516819,23.116034 119.817844,23.8152067 C119.118952,24.5146622 118.389266,24.9833066 117.486727,25.3340006 C116.590746,25.6820725 115.643461,25.8723819 114.401124,25.9290584 L113.575301,25.9635933 L113.273602,25.9734012 C112.667565,25.9911135 112.019523,25.9977732 110.858457,26 L106.908072,25.9942683 C105.962541,25.9858936 105.443282,25.9676639 104.602278,25.9290671 C103.359509,25.872371 102.411461,25.6819667 101.51585,25.3339324 C100.613834,24.9832347 99.8843249,24.514606 99.1854527,23.8152925 C98.4861189,23.1156393 98.0174791,22.3857825 97.6672878,21.4837624 C97.3624472,20.698861 97.1785968,19.8752555 97.0998549,18.8499082 L97.0328248,17.4284616 C97.0045369,16.569785 97,15.7118847 97,13.4966794 L97.006664,10.9179776 C97.0150521,9.96370834 97.0334114,9.4424358 97.072466,8.59570945 C97.1285391,7.35370873 97.3189091,6.40614081 97.6672548,5.50922272 C98.0174791,4.60711772 98.4861189,3.87726095 99.185367,3.17769348 C99.8844441,2.47805278 100.614115,2.00928982 101.515959,1.65892559 C102.411809,1.31079835 103.359813,1.12028606 104.60209,1.06361244 L105.825302,1.01663566 C106.106711,1.00904214 106.402595,1.00371233 106.759019,1 L112.244177,1 Z M112.063208,3.77604459 L106.939148,3.77604459 C105.846195,3.78374341 105.314619,3.80193296 104.39812,3.84363696 C103.426794,3.88823456 102.818879,4.01760166 102.258565,4.23504955 C101.755048,4.4310388 101.413677,4.65339741 101.037034,5.03044812 C100.659798,5.40704609 100.437562,5.74834118 100.242712,6.25170522 C100.025335,6.81074869 99.8958302,7.41989882 99.8511106,8.3920668 L99.8155024,9.24582431 C99.7897031,9.97388263 99.7813294,10.6525245 99.7789254,12.111729 L99.7844656,16.2031533 C99.7927248,17.2042363 99.8111184,17.7266981 99.8511032,18.6005477 C99.8958276,19.5728223 100.025286,20.1816558 100.243128,20.7418972 C100.43758,21.2444459 100.659762,21.5856571 101.037919,21.9629677 C101.413597,22.3393664 101.754815,22.5616474 102.257914,22.7574743 C102.818252,22.9749317 103.42659,23.1043394 104.397581,23.1491153 L105.853858,23.2018375 C106.405047,23.2143281 107.042315,23.2193787 108.074831,23.2212371 L112.218521,23.2155289 C113.200817,23.2071288 113.728038,23.1886818 114.604141,23.1491462 C115.575724,23.1043433 116.183605,22.9750223 116.74388,22.7577096 C117.247636,22.561668 117.589022,22.3393652 117.966038,21.9621497 C118.342383,21.5863375 118.564428,21.2450612 118.759757,20.7415993 C118.977881,20.1786428 119.106983,19.5717201 119.151162,18.6007797 L119.206634,17.0348267 C119.215323,16.6084211 119.219904,16.1189633 119.222235,15.4320589 L119.214772,10.4712706 C119.205233,9.67066966 119.186685,9.16976011 119.151157,8.3918843 C119.10698,7.42100136 118.977832,6.81376007 118.759904,6.25130896 C118.564446,5.74772545 118.342346,5.4063649 117.965766,5.03010779 C117.588941,4.65339802 117.247403,4.43101812 116.744606,4.23534922 C116.182977,4.01751077 115.57552,3.88823064 114.604569,3.84365021 L113.399869,3.7970916 C113.015746,3.7863669 112.609631,3.77989412 112.063208,3.77604459 Z M109.501439,7.244178 C112.953743,7.244178 115.751892,10.0428524 115.751892,13.4965683 C115.751892,16.9498114 112.953743,19.7487222 109.501439,19.7487222 C106.048898,19.7487222 103.250631,16.9498114 103.250631,13.4965683 C103.250631,10.0428524 106.048898,7.244178 109.501439,7.244178 Z M109.501439,9.43769844 C107.260532,9.43769844 105.443436,11.2545788 105.443436,13.4965683 C105.443436,15.7373757 107.260532,17.5549654 109.501439,17.5549654 C111.742582,17.5549654 113.558968,15.7373757 113.558968,13.4965683 C113.558968,11.2545788 111.742582,9.43769844 109.501439,9.43769844 Z M115.752061,5.85478419 C116.518918,5.85478419 117.140921,6.47701322 117.140921,7.24445899 C117.140921,8.01190476 116.518918,8.63357181 115.752061,8.63357181 C114.985092,8.63357181 114.362863,8.01190476 114.362863,7.24445899 C114.362863,6.47701322 114.985092,5.85478419 115.752061,5.85478419 Z" id="Combined-Shape-Copy-5"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                {{else if display_name '===' 'youtube'}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="25px" viewBox="0 0 35 25" version="1.1">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Muniq-404" transform="translate(-1487.000000, -1311.000000)" fill="#F6F6EF">
                                    <g id="Group-28" transform="translate(0.000000, 1241.000000)">
                                        <g id="Group-27" transform="translate(1338.000000, 70.000000)">
                                            <path d="M166.649387,-0.00100172933 C167.970101,0.00230353467 177.63291,0.0502298628 180.174152,0.74516162 C181.67999,1.15586758 182.866047,2.36600856 183.268559,3.90277874 C184,6.68799825 184,12.4993767 184,12.4993767 C184,12.4993767 184,18.3105536 183.268559,21.0959747 C182.866047,22.6327449 181.67999,23.8428859 180.174152,24.2537934 C177.44467,25 166.499498,25 166.499498,25 C166.499498,25 155.554327,25 152.824845,24.2537934 C151.319006,23.8428859 150.13295,22.6327449 149.730438,21.0959747 C148.998997,18.3105536 148.998997,12.4993767 148.998997,12.4993767 C148.998997,12.4993767 148.998997,6.68799825 149.730438,3.90277874 C150.13295,2.36600856 151.319006,1.15586758 152.824845,0.74516162 C155.366086,0.0502298628 165.028895,0.00230353467 166.34961,-0.00100172933 Z M162.91985,7.22310558 L162.91985,17.7756479 L172.06784,12.4995783 L162.91985,7.22310558 Z" id="Combined-Shape-Copy-4"/>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                {{else}}
                    <a class="icon icon--{{display_name}}" href="{{url}}" target="_blank">
                        <svg><use xlink:href="#icon-{{display_name}}" /></svg>
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/if}}
