<a class="logo-site" href="{{urls.home}}">
    {{#if settings.store_logo.image}}
        <!--<img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="129px" height="45px" viewBox="0 0 129 45" version="1.1">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="home-hero-1" transform="translate(-25.000000, -62.000000)">
                    <g id="Group-22" transform="translate(25.000000, 62.000000)">
                        <g id="Group-11" fill="#004936">
                            <path d="M4.28571429e-05,35.3915143 L4.28571429e-05,10.8498 L5.59375714,10.8498 L5.59375714,13.9740857 C7.00461429,11.4543 10.0785429,10.1443714 12.8503286,10.1443714 C16.0757571,10.1443714 18.8974714,11.6055857 20.2078286,14.4780857 C22.1226857,11.2528714 24.9954,10.1443714 28.1700429,10.1443714 C32.6046857,10.1443714 36.8376857,12.9663 36.8376857,19.4670857 L36.8376857,35.3915143 L31.1936143,35.3915143 L31.1936143,20.4245143 C31.1936143,17.5522286 29.7321857,15.3851571 26.4564,15.3851571 C23.3826857,15.3851571 21.3666857,17.8040143 21.3666857,20.8278 L21.3666857,35.3915143 L15.6219,35.3915143 L15.6219,20.4245143 C15.6219,17.6025857 14.2108286,15.3851571 10.8849,15.3851571 C7.7604,15.3851571 5.79518571,17.7033 5.79518571,20.8278 L5.79518571,35.3915143 L4.28571429e-05,35.3915143 Z" id="Fill-1"/>
                            <path d="M48.4789286,36.0971571 C42.6334286,36.0971571 39.2063571,31.7632286 39.2063571,26.3208 L39.2063571,10.8498 L45.0522857,10.8498 L45.0522857,25.2622286 C45.0522857,28.2860143 46.4631429,30.8559429 49.9909286,30.8559429 C53.3672143,30.8559429 55.1307857,28.5885857 55.1307857,25.3631571 L55.1307857,10.8498 L60.9765,10.8498 L60.9765,30.9063 C60.9765,32.9223 61.1277857,34.4844429 61.2287143,35.3915143 L55.635,35.3915143 C55.5340714,34.8371571 55.4333571,33.6780857 55.4333571,32.6703 C54.2239286,34.8873 51.3512143,36.0971571 48.4789286,36.0971571" id="Fill-3"/>
                            <path d="M69.8461929,35.3915143 L64.0006929,35.3915143 L64.0006929,10.8498 L69.6951214,10.8498 L69.6951214,14.1253714 C71.3076214,11.3032286 74.2304786,10.1443714 76.9516929,10.1443714 C82.9486929,10.1443714 85.8211929,14.4780857 85.8211929,19.8703714 L85.8211929,35.3915143 L79.9756929,35.3915143 L79.9756929,20.8781571 C79.9756929,17.8543714 78.6147643,15.4355143 74.9359071,15.4355143 C71.6099786,15.4355143 69.8461929,18.0056571 69.8461929,21.2308714 L69.8461929,35.3915143 Z" id="Fill-5"/>
                            <polygon id="Fill-7" points="88.3911429 35.3916429 94.1865 35.3916429 94.1865 10.8499286 88.3911429 10.8499286"/>
                            <path d="M108.750343,30.8559429 C112.580057,30.8559429 115.352057,27.7316571 115.352057,23.0452286 C115.352057,18.3583714 112.580057,15.4355143 108.750343,15.4355143 C104.870057,15.4355143 102.1992,18.3583714 102.1992,23.0452286 C102.1992,27.7316571 104.920414,30.8559429 108.750343,30.8559429 L108.750343,30.8559429 Z M115.301486,44.9664429 L115.301486,32.4684429 C114.092057,34.6357286 111.522129,35.9962286 108.095057,35.9962286 C101.090486,35.9962286 96.3029143,30.3521571 96.3029143,23.0452286 C96.3029143,15.9898714 100.788129,10.2450857 107.943986,10.2450857 C112.227557,10.2450857 114.595843,12.3613714 115.452557,14.1253714 L115.452557,10.8498 L121.046486,10.8498 L121.046486,44.9664429 L115.301486,44.9664429 Z" id="Fill-9"/>
                            <path d="M91.2634714,6.42857143e-05 C93.3801857,6.42857143e-05 95.0934,1.71349286 95.0934,3.82999286 C95.0934,5.94670714 93.3801857,7.60956429 91.2634714,7.60956429 C89.1973286,7.60956429 87.4841143,5.94670714 87.4841143,3.82999286 C87.4841143,1.71349286 89.1973286,6.42857143e-05 91.2634714,6.42857143e-05" id="Fill-10"/>
                        </g>
                        <text id="™" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="6.048" font-weight="400" fill="#000000">
                            <tspan x="122.40624" y="11.0892">™</tspan>
                        </text>
                    </g>
                </g>
            </g>
        </svg>
    {{else}}
        <span class="header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>

<style>
    @media (max-width: 992px) {
        .logo-site svg{
            height: 29px;
            width: 83px;
        }
    }
</style>
