
.template-pages-errors-404{
    .body{
        .container{
            max-width: 100%;
            padding: 0px;
        }
    }

    .page-content-404{
        max-width: 100%;
        width: 100%;
        padding: 0px;
    }

    .page{
        margin: 0px;
        background-color: #F6F6EF;
    }

    .header-content{
        overflow: hidden;
        margin-bottom: 120px;

        .page-heading{
            color: #004936;
            font-family: Montserrat;
            font-size: 38px;
            font-weight: 600;
            letter-spacing: 0px;
            text-transform: capitalize;
            margin-top: 58px;
            margin-bottom: 15px;
            line-height: 47px;

            &:before{
                display: none;
            }
        }

        p{
            color: #497C6D;
            font-family: Roboto;
            font-size: 22px;
            text-align: center;

            a{
                color: #004936;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }

    .stop-float-body{
        margin-bottom: 0px;
    }

    .product-content{
        display: flex;
        flex-wrap: wrap;
        max-width: 1540px;
        margin: 0px auto 80px;
        padding: 0px 20px;

        .productDetails{
            width: 25%;
            text-align: center;

            .link-product{
                color: #004936;
                font-family: Montserrat;
                font-size: 26.4px;
                font-weight: 600;
                line-height: 30px;
            }
        }
    }

    .subscription-page{
        background: #fff;
        padding-bottom: 128px;

        .form {
            .form-input{
                border: 2px solid #C3C3C3;
            }
        }
    }

    @media (max-width: 1024px) {

        .header-content{
            margin-bottom: 80px;
        }

        .product-content{
            .productDetails{
                width: 50%;
                margin-bottom: 60px;
            }
        }
    }

    @media (max-width: 767px) {

        .header-content{
            margin-bottom: 88px;
            padding: 0px 15px;

            .page-heading{
                font-size: 25px;
                margin-top: 45px;
                margin-bottom: 26px;
            }

            p{
                font-size: 20px;
                line-height: 29px;
            }
        }

        .product-content{
            margin-bottom: 40px;

            .productDetails{
                width: 100%;
                margin-bottom: 83px;

                .img-product{
                    max-height: 315px;
                    overflow: hidden;
                }

                .link-product{
                    font-size: 26.4px;
                }
            }
        }

        .subscription-page{
            padding: 62px 25px;

            .form{
                .button{
                    font-weight: 600;
                }
            }
        }
    }
}
