
// About-Advisory

#page-about-advisory{
    .title-page{
        display: flex;
        flex-wrap: wrap;
        background: #F6F6EF;
        overflow: hidden;
        padding:0px ;
        margin-bottom: 90px;
        align-items: center;

        .left-content{
            width: 50%;
            padding: 2% 9% 0px 7%;

            .heading {
                font-size: 54px;
                font-weight: 600;
                color: #004936;
                line-height: 60px;
                margin-bottom: 20px;
            }

            p{
                color: #497C6D;
                font-family: Roboto;
                font-size: 26px;
                line-height: 35px;

                &.text-mobile{
                    display: none;
                }
            }
        }

        .images-title{
            width: 50%;

            img{
                width: 100%;
            }
        }

        @media (max-width: 1440px) {
            .left-content{
                padding: 20px 80px;

                .heading{
                    font-size: 46px;
                    line-height: 54px;
                }

                p{
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }

        @media (max-width: 1280px) {
            align-items: center;

            .left-content{
                padding: 40px 40px;

                .heading{
                    font-size: 38px;
                    line-height: 44px;
                    margin-top: 0px;
                }

                p{
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        @media (max-width: 767px) {
            align-items: center;

            .left-content{
                width: 100%;
                text-align: center;
                padding: 0px 30px 20px;

                .heading{
                    font-size: 33px;
                    font-weight: 600;
                    line-height: 39px;
                    text-align: center;
                    letter-spacing: 0px;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    display: none;

                    &.text-mobile{
                        display: block;
                    }
                }
            }

            .images-title{
                width: 100%;
            }
        }
    }

    .content-page{
        max-width: 1340px;
        margin: 0px auto 76px;
        padding: 0px 20px;
    }

    .col-content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 76px;

        &:last-child{
            margin-bottom: 0px;
        }

        &.col-content-mobile{
            display: none;
        }

        &:nth-child(2n){
            .content-img{
                order: 2;

                .item-img{
                    img{
                        float: right;
                    }
                }
            }

            .content-text{
                order: 1;
                padding-top: 50px;
                padding-left: 0px;
                padding-right: 20px;

                p{
                    max-width: 510px;
                }
            }
        }


        .content-text{
            width: 50%;
            padding-left: 89px;
            padding-right: 55px;
            display: flex;
            flex-direction: column;

            h4{
                font-size: 45px;
                font-weight: 600;
                color: #004936;
                margin-top: 23px;
                line-height: 55px;
            }

            hr{
                border: solid #C3C3C3;
                border-width: 1px 0 0;
                max-width: 326px;
                margin-top: 8px;
                margin-bottom: 32px;
            }

            p{
                font-size: 20px;
                line-height: 28px;
                color: #497C6D;
            }
        }

        .content-img{
            width: 50%;

            .item-img{
                width: 100%;

                img{
                    float: left;
                }
            }
        }
    }

    .our-team{
        max-width: 1000px;
        margin: auto;
        padding: 0px 20px;

        .content-our-team{
            margin-bottom: 96px;
        }

        .title-block{
            margin-bottom: 66px;

            h4{
                font-size: 36px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 20px;
                line-height: 44px;
            }

            hr{
                display: none;
            }

            p{
                color: #497C6D;
                font-family: Roboto;
                font-size: 20px;
                line-height: 28px;
                max-width: 660px;
                padding: 0px 20px;
                margin: auto;
                text-align: center;
            }
        }

        .content-block-our-team{
            display: flex;
            flex-wrap: wrap;

            .item-people{
                width: 50%;
                padding: 0px 35px;
                text-align: center;
            }

            .name{
                font-size: 22px;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 3px;
            }

            .position-title{
                font-size: 18px;
                font-weight: 600;
                text-transform: unset;
                margin-top: 0px;
            }

            p{
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    @media (max-width: 1024px) {
        .col-content {
            align-items: center;

            &:nth-child(2n){
                .content-text{
                    padding-top: 0px;
                }
            }
            .content-text{
                padding: 0px 20px;
            }
        }
    }

    @media (max-width: 767px) {
        .title-page {
            padding: 29px 0px 0px;
            margin-bottom: 40px;

            .heading{
                font-size: 33px;
                font-weight: 600;
                line-height: 39px;
                text-align: center;
                letter-spacing: 0px;
            }
        }

        .col-content {
            margin-bottom: 28px;

            &.col-content-mobile{
                display: flex;
            }

            .content-text{
                width: 100%;
                order: 2;
                text-align: center;
                padding: 5px 0px 0px !important;

                h4{
                    font-size: 27px;
                    line-height: 33px;
                    text-align: center;
                    margin-top: 10px;
                    margin-bottom: 0px;
                }

                hr{
                    width: 135px;
                    margin: 20px auto;
                }

                p{
                    font-size: 15px;
                    line-height: 20px;
                    padding: 0px;
                    max-width: 100% !important;
                }
            }

            .content-img{
                width: 100%;
                order: 1 !important;

                .item-img {
                    position: relative;
                    padding-bottom: 62.7%;
                    img{
                        float: none !important;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        .content-page{
            margin-bottom: 60px;
        }

        .our-team{
            .content-our-team{
                margin-bottom: 45px;
            }

            .title-block {
                margin-bottom: 53px;

                h4{
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 32px;
                    max-width: 270px;
                    margin: auto;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 20px;
                    padding: 0px;
                }
            }

            .content-block-our-team {
                .item-people{
                    width: 100%;
                    padding: 0px 17px;
                    margin-bottom: 35px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    .img-people img{
                        max-width: 180px;
                    }
                }

                .name{
                    font-size: 18px;
                    margin-bottom: 0px;
                }

                .position-title{
                    font-size: 16px;
                }

                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

    }
}

@media (max-width: 1024px) {
    .template-about-advisory{
        body{
            background-color: transparent;
        }
    }
}
