// page-about-clinical

#page-about-clinical {
    padding-bottom: 78px;

    .title-page {
        display: flex;
        flex-wrap: wrap;
        background: #F6F6EF;
        overflow: hidden;
        padding:0px ;
        margin-bottom: 90px;

        .left-content{
            width: 50%;
            padding: 4% 9% 0px 7%;

            .heading {
                font-size: 54px;
                font-weight: 600;
                color: #004936;
                line-height: 60px;
                margin-bottom: 20px;
            }

            p{
                color: #497C6D;
                font-family: Roboto;
                font-size: 26px;
                line-height: 35px;

                &.text-mobile{
                    display: none;
                }
            }
        }

        .images-title{
            width: 50%;

            img{
                width: 100%;
            }
        }

        @media (max-width: 1440px) {
            .left-content{
                padding: 20px 80px;

                .heading{
                    font-size: 46px;
                    line-height: 54px;
                }

                p{
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }

        @media (max-width: 1280px) {
            align-items: center;

            .left-content{
                padding: 40px 40px;

                .heading{
                    font-size: 38px;
                    line-height: 44px;
                    margin-top: 0px;
                }

                p{
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        @media (max-width: 767px) {
            align-items: center;

            .left-content{
                width: 100%;
                text-align: center;
                padding: 20px 30px;

                .heading{
                    font-size: 33px;
                    font-weight: 600;
                    line-height: 39px;
                    text-align: center;
                    letter-spacing: 0px;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    display: none;

                    &.text-mobile{
                        display: block;
                    }
                }
            }

            .images-title{
                width: 100%;
            }
        }
    }

    .content-page {
        max-width: 1340px;
        margin: auto;
        padding: 0px 20px;
        margin-bottom: 73px;
    }

    .col-content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 108px;

        &:last-child{
            margin-bottom: 0px;
        }

        &.col-content-mobile{
            display: none;
        }

        &:nth-child(2n-1){
            .content-text{
                h4{
                    margin-bottom: 0px;
                }
            }
        }

        &:nth-child(2n-1) {
            .content-img {
                order: 1;

                .item-img {
                    img {
                        float: left;
                    }
                }
            }

            .content-text {
                order: 2;
                padding-left: 86px;

                p{
                    padding-right: 20px;
                }

                h4{
                    margin-top: 7px;
                }

                hr{
                    margin-top: 20px;
                }

                @media (max-width: 1024px) {
                    padding-left: 40px;
                }
            }
        }

        .content-text {
            width: 50%;
            padding-top: 5px;
            display: flex;
            flex-direction: column;
        }

        .content-img {
            width: 50%;

            .item-img {
                img {
                    float: right;
                }
            }
        }

        h4 {
            font-size: 45px;
            font-weight: 600;
            color: #004936;
            line-height: 55px;
            margin-bottom: 5px;
        }

        hr {
            border: solid #C3C3C3;
            border-width: 1px 0 0;
            max-width: 326px;
            margin-bottom: 35px;
        }

        p {
            padding-right: 50px;
            font-size: 20px;
            line-height: 28px;
            color: #497C6D;
        }
    }

    .proven-results{
        max-width: 1340px;
        margin: auto;
        padding: 0px 20px;
        margin-bottom: 190px;

        .title-block{
            overflow: hidden;
            margin-bottom: 42px;
        }

        h4{
            font-size: 45px;
            font-weight: 600;
            color: #004936;
            text-align: center;
        }
    }

    @media (max-width: 1280px) {

        .col-content{
            align-items: center;
        }

        .col-content:nth-child(2n-1){
            .content-text{
                h4{
                    font-size: 38px;
                    line-height: 44px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding-bottom: 0px;

        .col-content:nth-child(2n-1){
            .content-text{
                h4{
                    font-size: 27px;
                    line-height: 33px;
                }
            }
        }

        .title-page {
            padding: 15px 0px 0px;
            margin-bottom: 40px;

            .heading{
                font-size: 33px;
                font-weight: 600;
                line-height: 39px;
                text-align: center;
                letter-spacing: 0px;
            }
        }

        .col-content {
            margin-bottom: 28px;

            &.col-content-mobile{
                display: flex;
            }

            .content-text{
                width: 100%;
                order: 2;
                text-align: center;
                padding: 5px 0px 0px !important;

                h4{
                    font-size: 27px;
                    line-height: 33px;
                    text-align: center;
                    margin-top: 10px;
                }

                hr{
                    width: 135px;
                    margin: 20px auto;
                }

                p{
                    font-size: 15px;
                    line-height: 20px;
                    padding: 0px !important;
                }
            }

            .content-img{
                width: 100%;
                order: 1;

                .item-img {
                    img{
                        float: none !important;
                    }
                }
            }
        }

        .content-page{
            margin-bottom: 60px;
        }

        .proven-results {
            margin-bottom: 122px;

            .title-block{
                margin-bottom: 15px;
            }

            h4{
                font-size: 27px;
                font-weight: 600;
                line-height: 33px;
                margin: 0px;
            }

            .content-block{
                padding-bottom: 430px;
                position: relative;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }
}

.subscription-page{
    background: #F6F6EF;
    padding: 65px 0px;
    padding: 65px 0px 71px;
    overflow: hidden;
    width: 100%;

    .container{
        max-width: 1340px;
        margin: auto;
        padding:0px 20px;

        p{
            font-size: 22px;
            line-height: 29px;
            text-align: center;
        }
    }

    .subscription-text{
        font-size: 40px;
        font-weight: 600;
        margin:5px 0px 11px;
        text-align: center;
        line-height: 49px;
    }

    .form{
        max-width: 630px;
        margin: auto;
        margin-top: 37px;

        .form-prefixPostfix{
            width: 100%;
        }

        .form-field{
            margin-bottom: 0px;
        }

        .form-input{
            width: calc(100% - 170px - 25px);
            margin-right: 25px;
            height: 50px;
            border-radius: 25px;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            color: #316B5A;
            padding-left: 26px;

            &::-webkit-input-placeholder { /* Edge */
                color: #316B5A;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #316B5A;
            }

            &::placeholder {
                color: #316B5A;
            }
        }

        .button{
            margin: 0px;
            width: 170px;
            background: #F5AA50;
            border: 0px;
            border-radius: 25px;
            height: 50px;
            color: #004936;
            font-size: 16px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
        }
    }

    @media (max-width: 767px) {
        padding: 42px 0px 62px;
        background: #F6F6EF;

        .subscription-text{
            font-size: 25px;
            line-height: 32px;
        }

        .container{
            p{
                font-size: 18px;
                line-height: 24px;
                max-width: 232px;
                margin: 10px auto;
            }
        }

        .form {
            margin-top: 25px;

            .form-input{
                flex: 100%;
                margin: 0px 0px 20px;
                height: 42px;
                font-size: 14px;
                padding-left: 20px;
            }

            .button{
                margin: auto;
                height: 42px;
                font-size: 14px;
            }
        }
    }
}

.template-about-clinical{
    body{
        background: #fff !important;
    }

    @media (max-width: 1024px) {
        .stop-float-body{
            margin-top: 117px;
        }
    }
    
    @media (max-width: 992px) {
        .stop-float-body{
            margin-top: 80px;
        }
    }
}
