.page-about{
  .big-section-index{
      margin-bottom: 50px;
    &:not(:first-child){
      padding-top: 0;
      padding-bottom: 50px;
      margin-bottom: 0;
    }
  }
  .page{
    margin: 0;
  }
  .page-heading{
    display: none;
  }
  .apframe-main > .container{
    padding: 0;
  }
  .container{
    max-width: none;
    padding: 0 60px;
    h2,h4{
      font-weight: 600;
    }
  }
  p{
    font-size: 18px;
    &:not(.button){
      line-height: 40px;
    }
  }
  .flex-between{
    display: flex;
    justify-content: space-between;
    h4{
      font-size: 40px;
    }
  }
  .page-content--centered{
    width: auto;
    padding: 0;
  }
  .button{
    margin-top: 10px;
    border:2px solid #000;
    font-size: 24px;
  }
  h2{
    font-weight: bold;
  }
  .banner-page{
    h4{
      font-size: 40px;
    }
    p{
      font-size: 18px;
      max-width: 420px;
    }
    .container{
      padding: 100px;
    }
  }
  .find-left,
  .find-right{
    width: 50%;
  }
  .our-mission{
    .image-box{
      width: 48%;
    }
    .content-box{
      padding-left: 5%;
      width: 52%;
    }
  }
  .our-story-video{
    .image-box{
      width: 48%;
      display: flex;
      align-items: center;
      justify-content: center;
      .play-video{
        background-color: #fff;
      }
    }
    .content-box{
      width: 52%;
      padding: 50px 5% 50px 0;
    }
  }
  .the-team{
    &.big-section-index{
      margin-bottom: 50px;
      padding: 100px 0;
    }
  }
  .find-out{
    .find-right{
      padding: 50px 0 50px 5%;
      h4{
        font-size: 24px;
      }
    }
  }
  .subscribe-block{
    .container{
      &:after,&:before{
        content: none;
      }
    }
    .flex-between{
      justify-content: normal;
    }
    &.big-section-index{
      padding: 40px 0;
    }
    .form{
      width: 50%;
      margin:0 0 0 50px;
    }
    .button{
      margin: 0;
      font-size: 18px;
    }
    .form-field,p{
      margin: 0;
    }
    .form-prefixPostfix .form-input{
      max-width: 300px;
    }
  }
  .stop-float-body{
    margin-bottom: 0;
  }
}
@media (max-width: 980px) {
  .page-about{
    body{
      background-color: #F6F6EF;
    }
    .big-section-index{
      text-align: center;
    }
    .banner-page{
      &.gray-bg{
        background-color: transparent;
      }
      .container{
        padding: 0 20px;
      }
      h4{
        font-size: 33px;
      }
      p{
        font-size: 16px;
        margin: auto;
      }
    }
    .find-right{
      width: 100%;
    }
    .find-left{
      width: 100%;
    }
    .container{
      padding: 0 20px;
    }
    .flex-between{
      flex-direction: column;
    }
    .find-out{
      .find-left{
        min-height: 300px;
      }
      .find-right{
        padding: 0;
      }
    }
    .our-mission{
      .flex-between{
        flex-direction: column-reverse;
      }
    }
    .our-story-video,
    .our-mission{
      text-align: center;
      .content-box{
        padding:0;
        width: 100%;
      }
      .image-box{
        width: 100%;
        min-height: 300px;
      }
    }
    .subscribe-block .form{
      width: 100%;
      margin: 20px 0 0;
      .form-prefixPostfix.wrap{
        flex-direction: column;
        align-items: center;
      }
      .form-input{
        width: 100%;
        border-radius: 40px;
        max-width: none;
      }
      .button{
          margin-top: 20px;
        max-width: 140px;
        border-radius: 40px;
      }
    }
    .flex-between {
      h4 {
        font-size: 24px;
        margin-top: 0;
      }
    }
    p{
      font-size: 14px;
      &:not(.button){
        line-height: normal;
      }
    }
    .the-team{
      &.big-section-index{
        padding: 40px 0;
      }
    }
  }
}
