
//page-about-story

.template-about-story{
    @media (max-width: 1024px) {
        body{
            background-color: #fff;
        }
    }
}

#page-about-story{
    .about-story-top{
        display: flex;
        flex-wrap: wrap;
        background-color: #F6F6EF;
        margin-bottom: 86px;

        .text-content{
            width: 49.5%;
            padding: 7% 120px 0px;
            text-align: left;

            h2{
                font-size: 54px;
                font-weight: 600;
                line-height: 60px;
                margin-bottom: 25px;
                margin-top: 0px;
            }

            p{
                font-size: 26px;
                line-height: 35px;
            }
        }

        .img-content{
            width: 50.5%;

            .col-img{
                height:100%;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .our-muniq-story{
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        padding: 0px 20px;
        margin: auto;

        .content-videos{
            width: 50%;

            .modal-videos{
                display: none;
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 999;

                &.is-open{
                    display: block;
                }

                .videos{
                    width: 80%;
                    margin: auto;
                    position: absolute;
                    z-index: 90;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 80vh;

                    iframe{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0px;
                        left: 0px;
                    }

                    @media (max-width: 767px) {
                        width: 90%;
                        height: 50%;
                    }
                }

                .closeVideo{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                    z-index: 99;

                    @media (max-width: 767px) {
                        img{
                            width: 20px;
                        }
                    }
                }
            }

            .mask-videos{
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                background: #000;
                top: 0px;
                left: 0px;
                opacity: .4;

                &.is-active{
                    display: block;
                }
            }

            .img-videos{
                position: relative;
                max-width: 630px;
            }

            .openVideo{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
        }

        .content-text{
            width: 50%;
            text-align: left;
            padding-left: 88px;
            padding-top: 22px;
            display: flex;
            flex-direction: column;

            h4{
                font-size: 45px;
                font-weight: 600;
                line-height: 55px;
                margin-bottom: 0px;
            }

            hr {
                border: solid #C3C3C3;
                border-width: 1px 0 0;
                max-width: 326px;
                margin-bottom: 35px;
                width: 100%;
            }

            p{
                font-size: 20px;
                line-height: 28px;
                max-width: 500px;
                margin-top: 0px;
            }
        }
    }

    .block-gut-started{
        display: block;
        max-width: 100%;
        padding: 0px 20px;
        margin: 143px auto 133px;

        h4{
            font-size: 38px;
            font-weight: 600;
            line-height: 47px;
            color: #004936;
            margin-top: 32px;
            margin-bottom: 18px;
        }

        p{
            font-size: 20px;
            line-height: 28px;
            margin: 0px;
            font-family: "Roboto", sans-serif;
        }

        .link-gut-started{
            height: 52px;
            width: 173px;
            border-radius: 25px;
            background: #F5AA50;
            display: block;
            margin: auto;
            line-height: 52px;
            font-size: 16px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            margin-top: 40px;
            color: #004936;
        }
    }

    @media (max-width: 1440px) {
        .about-story-top{
            .text-content{
                padding: 40px 80px 20px;
            }
        }
    }

    @media (max-width: 1280px) {
        .about-story-top{
            .text-content{
                padding: 50px 60px 20px;

                h2{
                    font-size: 38px;
                }

                p{
                    font-size: 22px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .about-story-top{
            align-items: center;
            .text-content{
                padding: 30px 20px 20px;
            }
        }

        .our-muniq-story{
            align-items: center;
            .content-text{
                padding-left: 40px;

                h4{
                    font-size: 38px;
                    line-height: 39px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .about-story-top {
            margin-bottom: 18px;

            .text-content{
                width: 100%;
                text-align: center;
                margin-bottom: 15px;
                padding-top: 20px;

                h2{
                    font-size: 33px;
                    margin-bottom: 15px;
                    line-height: 39px;
                    margin-top: 5px;
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    margin: 0px;
                }
            }

            .img-content{
                width: 100%;

                .col-img{
                    position: relative;
                    padding-bottom: 66.7%;

                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-position: top;
                        object-fit: cover;
                    }
                }
            }
        }

        .our-muniq-story {
            .content-videos{
                width: 100%;
                order: 2;

                .openVideo{
                    height: 58px;
                    width: 58px;
                }

                .img-videos{
                    padding-bottom: 62.7%;
                    margin: auto;

                    >img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .content-text{
                width: 100%;
                order: 1;
                padding: 0px;
                text-align: center;
                margin-bottom: 31px;

                h4{
                    font-size: 27px;
                    line-height: 33px;
                }

                hr{
                    width: 135px;
                    margin: 18px auto;
                }

                p{
                    font-size: 15px;
                    line-height: 20px;
                    max-width: 100%;
                }
            }
        }

        .block-gut-started{
            margin-top: 60px;
            margin-bottom: 75px;

            .icon-title{
                img{
                    width: 55px;
                }
            }

            h4{
                font-size: 25px;
                line-height: 32px;
                max-width: 280px;
                margin: 20px auto 18px;
            }

            p{
                font-size: 16px;
                line-height: 22px;
            }

            .link-gut-started{
                width: 100%;
                height: 40px;
                line-height: 40px;
                max-width: 332px;
                font-size: 14px;
                margin-top: 24px;
            }
        }
    }
}

.alertBox{
    background: #f6f6ef;

    .alertBox-icon{
        path{
            fill: #fcc030;
        }
    }
    span{
        color: #497C6D;
    }
}
