
.template-pages-auth-login{
    .body{
        background-color: #F6F6EF;
        margin-bottom: 0px;
    }

    .page-heading{
        color: #004936;
        font-family: Montserrat;
        font-size: 38px;
        font-weight: 600;
        line-height: 47px;
        text-transform: capitalize;
        letter-spacing: 0px;

        &:before{
            display: none;
        }
    }

    .login{
        margin-top: 38px;
        max-width: 1004px;
        padding-left: 28px;
    }

    .login-form{
        padding: 0px;
        width: 39.2%;
        padding-top: 35px;
    }

    .login-row{
        margin-top: 72px;
        padding-bottom: 168px;
    }

    .form-field{
        margin-bottom: 22px;

        .form-label{
            color: #497C6D;
            font-family: Roboto;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 5px;
        }

        .form-input{
            border: 2px solid #C3C3C3;
            background-color: #FFFFFF;
            border-radius: 0px;
        }
    }

    .form-actions{
        margin-top: 36px;

        .button{
            padding: 0px;
            height: 50px;
            width: 148px;
            border-radius: 25px;
            background-color: #F5AA50;
            border: 0px;
            color: #004936;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
        }

        .forgot-password{
            color: #004936;
            font-family: Roboto;
            font-size: 14px;
            line-height: 28px;
            margin-left: 18px;
        }
    }

    .new-customer{
        width: 60.8%;
        padding: 0 0 0 104px;

        .panel{
            border: 2px solid #C3C3C3;
            background-color: #FFFFFF;
        }

        .panel-header{
            background: transparent;
            padding: 28px 30px 5px;

            .panel-title{
                color: #004936;
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 600;
                line-height: 31px;
            }
        }

        .panel-body{
            margin-bottom: 0px;
            background: transparent;
            padding: 0px 28px 22px;

            .new-customer-intro{
                color: #497C6D;
                font-family: Roboto;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 10px;
            }

            .new-customer-fact-list{
                margin-left: 20px;
                margin-bottom: 24px;
            }

            .new-customer-fact{
                color: #497C6D;
                font-family: Roboto;
                font-size: 18px;
                line-height: 28px;
                padding-left: 5px;
            }

            .button{
                height: 50px;
                width: 209px;
                border-radius: 25px;
                background-color: #F5AA50;
                padding: 0px;
                color: #004936;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 600;
                border: 0px;
            }
        }
    }

    @media (max-width: 992px) {
        .login{
            padding-left: 0px;
        }

        .login-form{
            width: 45%;
        }

        .login-row{
            padding-bottom: 50px;
        }

        .new-customer{
            width: 55%;
            padding-left: 40px;
        }
    }

    @media (max-width: 767px) {

        .login{
            margin-top: 30px;
        }

        .page-heading{
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 0px;
        }

        .login-form{
            width: 100%;
            padding-top: 25px;
            margin-bottom: 41px;
        }

        .new-customer{
            width: 100%;
            padding-left: 0px;

            .panel-header {
                padding-top: 20px;
                padding-left: 22px;
                padding-bottom: 0px;

                .panel-title{
                    font-size: 18px;
                    line-height: 32px;
                }
            }

            .panel-body{
                padding: 0px 15px 0px 22px;

                .new-customer-intro{
                    font-size: 14px;
                    line-height: 28px;
                }

                .new-customer-fact{
                    font-size: 16px;
                    line-height: 24px;
                }

                .button{
                    height: 40px;
                    width: 157px;
                    border-radius: 20px;
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }
        }

        .login-row{
            margin-top: 0px;
            padding-bottom: 10px;
        }

        .form-actions {
            margin-top: 25px;

            .forgot-password{
                width: auto;
                font-size: 14px;
                line-height: 28px;
                margin: 0px 0px 10px 10px;
            }

            .button{
                height: 40px;
                width: 103px;
                border-radius: 20px;
                font-size: 14px;
            }
        }

        .form-field {
            margin-bottom: 18px;

            .form-label{
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

}

@media (max-width: 992px) {
    #header{
        .header_nav{
            .mobileMenu-toggle{
                width: 100px;
            }

            .header-logo{
                width: calc(100% - 200px);
                margin: 0px;
            }

            .right-header{
                width: 100px;
                justify-content: flex-end;
            }

            .header__right{
                padding-left: 0px;

                .navUser-item--cart{
                    padding-right: 0px;

                    .navUser-action{
                        padding: 0px;
                        padding-left: 10px;
                    }

                    .countPill{
                        right: -10px;
                        top: -10px;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    #header{
        .header_nav{
            .header__right{
                padding-left: 0px;

                .navUser-item--cart{
                    .navUser-action{
                        padding-left: 5px;

                        .icons img{
                            width: 15px;
                        }
                    }

                    .nav-account{
                        svg{
                            width: 15px !important;
                            height: 15px !important;
                        }
                    }

                    .countPill{
                        right: -10px;
                        top: -10px;
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }
    }
}


.template-pages-auth-create-account{
    .body{
        background-color: #F6F6EF;
        margin-bottom: 0px;
    }

    .page-heading{
        color: #004936;
        font-family: Montserrat;
        font-size: 38px;
        font-weight: 600;
        line-height: 47px;
        text-transform: capitalize;
        letter-spacing: 0px;
        padding-top: 40px;
        margin-bottom: 68px;

        &:before{
            display: none;
        }
    }

    .account-body{
        margin: 0px;
    }

    .account{
        width: 100%;
        max-width: 1004px;
        padding-bottom: 100px;
    }

    .form-row{
        margin: 0px;
    }

    .form-field {
        margin-bottom: 22px;
        padding: 0px 20px;

        .form-label{
            color: #497C6D;
            font-family: Roboto;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 5px;

            small{
                margin: 0px;
                color: #004936;
                font-family: Roboto;
                font-size: 12px;
            }
        }

        .form-input{
            border: 2px solid #C3C3C3;
            background-color: #FFFFFF;
            border-radius: 0px;
        }
    }

    .form-select{
        border: 2px solid #C3C3C3;
        background-color: #FFFFFF;
        border-radius: 0px;
    }

    .form-actions{
        margin-top: 60px;

        .button{
            height: 50px;
            width: 209px;
            border-radius: 25px;
            background-color: #F5AA50;
            padding: 0px;
            color: #004936;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            border: 0px;
        }
    }

    @media (max-width: 767px) {

        .page-heading{
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 35px;
            padding-top: 30px;
        }

        .form-field{
            padding: 0px;
            margin-bottom: 20px;

            .form-label{
                font-size: 16px;
                line-height: 23px;
            }
        }

        .account{
            padding-bottom: 25px;
        }

        .form-actions {
            margin-top: 30px;

            .button{
                height: 40px;
                width: 200px;
                border-radius: 20px;
                font-size: 14px;
                margin-bottom: 30px;
            }
        }
    }
}
