
.template-pages-cart{
    body{
        background: #F6F6EF;
    }

    .page-heading{
        font-size: 38px;
        font-weight: 600;
        color: #004936;
        letter-spacing: 0px;
        margin-top: 35px;
        text-transform: capitalize;

        &:before{
            display: none;
        }
    }

    .body .container{
        padding: 0px;
        max-width: 100%;
    }

    .page-content{
        padding: 0px 0px 250px;

        .container{
            max-width: 1400px;
            margin: auto;
            padding: 0px 20px;
        }
    }

    .item-cart-header{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid #C3C3C3;
        padding-bottom: 7px;

        .cart-header-item{
            color: #004936;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: bold;

            &.title-item{
                width: 71%;
            }

            &.item-qty{
                width: 20%;
                text-align: left;
            }

            &.item-total{
                width: 9%;
                text-align: right;
            }
        }
    }

    .content-cart-list{
        .boxcart-item{
            border-bottom: 2px solid #C3C3C3;
            display: flex;
            flex-wrap: wrap;
            padding: 20px 0px;
            align-items: center;
        }
        .cart-item-block{
            display: flex;
            flex-wrap: wrap;
            padding: 0px;
            margin: 0px;
            align-items: center;
            height: auto;

            &.cart-item-title{
                width: 71%;
                .img-product{
                    width: 31%;
                }

                .title-product{
                    width: 69%;
                    padding-left: 30px;

                    .cart-remove{
                        display: none;
                        width: auto;
                        background: transparent;
                        float: left;
                        padding: 0px;
                        margin: 0px;
                        color: #497C6D;
                        font-family: "Roboto", sans-serif;
                        font-size: 13px;
                        text-decoration: underline;
                        text-transform: capitalize;
                        font-weight: 500;
                        margin-top: 8px;
                    }
                }

                .cart-item-name{
                    a{
                        color: #497C6D;
                        font-family: "Roboto", sans-serif;
                        font-size: 22px;
                        line-height: 29px;
                        max-width: 300px;
                        display: block;
                        padding-right: 30px;
                    }
                }
            }

            &.cart-item-quantity{
                width: 20%;

                .form-increment{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0px;
                    align-items: center;

                    .button{
                        display: flex;
                        height: 25px;
                        width: 25px;
                        justify-content: center;
                        background-color: #E2E2DC;
                        border: 0px;
                        padding: 0px;
                        display: none;
                    }

                    .number-qty{
                        padding: 0px;
                        width: 100%;
                        text-align: left;

                        @media (max-width: 992px) {
                            .quantity{
                                display: inline-block;
                            }
                        }
                    }
                }

                .text-delivered{
                    color: #497C6D;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: bold;
                    padding-top: 8px;
                }
            }

            &.cart-item-total{
                width: 9%;

                .cart-remove{
                    display: none;
                }

                .cart-item-value{
                    width: 100%;
                    color: #004936;
                    font-family: Montserrat;
                    font-size: 26px;
                    font-weight: bold;
                    text-align: right;

                    @media (max-width: 1024px) {
                        width: 100%;
                        padding-left: 0px;
                        text-align: right;
                        float: right;
                    }
                }

                .item-save-total{
                    width: 100%;
                    margin-top: 2px;
                    text-align: right;

                    .subItem-save{
                        display: none;
                        color: #497C6D;
                        font-family: Roboto;
                        font-size: 13px;
                        line-height: 18px;

                        &.active{
                            display: block;
                        }

                        @media (max-width: 767px) {
                            padding-top: 8px;
                        }
                    }
                }
            }

            .content-itemTotal{
                width: 100%;
                padding-bottom: 10px;
            }
        }

    }

    .cart-additionalCheckoutButtons{
        .CheckoutButton{
            display: none;
        }
    }

    .cart-totals{
        .cart-total{
            //&:nth-child(3){
            //    display: none;
            //}

            &:before,&:after{
                display: none;
            }
        }
    }

    .cart-totals{
        width: 100%;
        max-width: 385px;
        margin-top: 18px;
        margin-bottom: 25px;

        .cart-total{
            border: 0px !important;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            line-height: 38px;

            &:last-child{
                display: none;

                &.is-open{
                    display: block;
                }
            }
        }
        .cart-total-label{
            color: #004936;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0px;
            width: 50%;
            text-align: left;

            a{
                color: #004936;
                text-decoration: underline;
            }
        }

        .cart-total-value{
            padding: 0px;
            width: 50%;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 500;
            color: #497C6D;

            .shipping-estimate-value{
                font-size: 16px;
                font-family: Roboto;
                font-weight: 500;
                color: #497C6D;
            }

            button{
                color: #497C6D;
                width: 100%;
                text-align: right;
                padding-right: 3px;

                @media (max-width: 767px) {
                    text-align: left;
                }
            }

            &.cart-total-grandTotal{
                font-family: Roboto;
                font-size: 22px;
                font-weight: bold;

                span{
                    color: #004936;
                }
            }
        }

        .coupon-code{
            margin-top: 10px;
            width: 100%;

            .coupon-form{
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                &:before,&:after{
                    display: none;
                }
            }

            #couponcode{
                height: 45px;
                width: 75%;
                border-radius: 0px;
                border: 0px;
                padding: 0px 10px;
                color: #004936;
                font-size: 14px;
            }

            .button{
                width: 25%;
                margin: 0px;
                border-radius: 0px;
                padding: 0px;
                background-color: #F5AA50;
                color: #004936;
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-weight: 600;
                border: 0px !important;
                height: 45px;
            }
        }
    }

    .cart-actions{
        .button{
            border-radius: 25px;
            background-color: #F5AA50;
            width: 100%;
            max-width: 385px;
            float: right;
            color: #004936;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-weight: 600;
            padding: 0px;
            line-height: 50px;
            border: 0px;
        }

        .button-mobile{
            background: transparent;
            border: 1px solid #004936;
            line-height: 48px;
            display: none;

            img{
                display: inline-block;
            }
        }
    }

    @media (max-width: 1280px) {
        .page{
            margin: 0px;
        }

        .item-cart-header {
            .cart-header-item{
                &.title-item{
                    width: 55%;
                }

                &.item-qty{
                    width: 30%;
                }

                &.item-total{
                    width: 15%;
                }
            }
        }

        .content-cart-list {
            .cart-item-block{
                &.cart-item-title{
                    width: 55%;
                }

                &.cart-item-quantity{
                    width: 30%;
                }

                &.cart-item-total{
                    width: 15%;
                }
            }
        }
    }

    .cart-additionalCheckoutButtons{
        .apple-pay-checkout-button{
            width: 100%;
            max-width: 385px;
            float: right;
            border-radius: 25px;
            padding: 0px;
            height: 50px;
            line-height: 50px;
            margin-top: 20px;
        }
    }


    @media (max-width: 992px) {
        .content-cart-list {
            .cart-item-block{
                .cart-item-label{
                    display: none;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .item-cart-header{
            display: none;
        }

        .cart{
            margin-bottom: 0px;
        }

        .page-heading{
            font-size: 25px;
            margin-top: 24px;
            margin-bottom: 10px;
        }

        .page-content{
            padding-bottom: 60px;
        }

        .content-cart-list {
            .boxcart-item{
                border-bottom: 1px solid #C3C3C3;
                padding: 20px 0px 12px;

                &:first-child{
                    border-top: 1px solid #C3C3C3;
                }
            }

            .cart-item-block{
                width: 100% !important;
                align-items: end;

                &.cart-item-title{
                    margin-bottom: 18px;

                    .img-product{
                        width: 37.3%;
                    }

                    .title-product{
                        width: 62.7%;
                        padding-left: 20px;

                        a{
                            font-size: 16px;
                            line-height: 22px;
                            padding: 0px;
                            letter-spacing: 0px;
                        }

                        .cart-remove{
                            display: block;
                        }
                    }
                }

                .cart-item-label{
                    display: block;
                    width: 37.3%;
                    color: #004936;
                    font-family: "Montserrat", sans-serif;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0px;
                    text-transform: uppercase;
                }

                &.cart-item-quantity{
                    .text-delivered{
                        font-size: 14px;
                        width: 100%;
                        display: flex;
                        padding-top: 5px;

                        .deliver-every{
                            display: block;
                            width: 100%;
                            padding-left: 4px;
                        }
                    }
                }

                &.cart-item-quantity {
                    margin-bottom: 12px;

                    .form-increment {
                        .number-qty{
                            width: 120px;
                            font-size: 13px;
                            padding: 0px;
                            display: flex;
                        }
                    }

                    .cart-item-label{
                        padding-top: 4px;
                    }
                }

                .form-increment{
                    width: 62.7%;
                    padding-left: 20px;
                }

                &.cart-item-total{
                    .cart-item-label{
                        padding-top: 6px;
                    }

                    .item-save-total{
                        width: auto;
                        float: left;
                        line-height: 34px;
                        margin: 0px 0px 0px 5px;
                    }
                }

                .content-itemTotal{
                    width: 62.7%;
                    padding-left: 20px;
                    padding-bottom: 0px;

                    .cart-item-value{
                        padding: 0px;
                        font-size: 20.8px;
                        float: left;
                        width: auto;
                    }
                }
            }
        }

        .cart-totals {
            margin: 12px auto 46px;

            .cart-total{
                line-height: 24px;
            }

            .cart-total-label{
                width: 37.3%;
                text-align: right;
                font-size: 12px;
            }

            .cart-total-value{
                width: 62.7%;
                padding-left: 20px;
                font-size: 14px !important;

                .shipping-estimate-value{
                    font-size: 14px;
                }
            }

            .coupon-code {
                #couponcode{
                    border-radius: 20px 0px 0px 20px;
                    height: 40px;
                }

                .button{
                    border-radius: 0px 20px 20px 0px;
                    height: 40px;
                }
            }
        }

        .cart-actions{
            .button{
                line-height: 40px;
                font-size: 14px;
                border-radius: 20px;
                margin: auto;
                float: none;
            }

            .button-mobile{
                display: block;
                line-height: 38px;
                border-radius: 20px;
                margin-top: 15px;
            }
        }

        .cart-additionalCheckoutButtons {
            .apple-pay-checkout-button{
                border-radius: 20px;
                height: 40px;
                float: none;
                margin: 15px auto;
            }
        }
    }
}

.previewCartCheckout{
    .apple-pay-checkout-button{
        display: none;
        border-radius: 25px;
    }
}
