.gray-bg{
  background-color:#D8D8D8;
  position: relative;
}
.page-discover{
  .big-section-index:not(:first-child){
    padding-top: 0px;
  }
  .page{
    margin: 0;
  }
  .page-heading{
    display: none;
  }
  .apframe-main > .container{
    padding: 0;
  }
  .container{
      max-width: none;
    padding: 0 60px;
    h2,h4{
      font-weight: 600;
    }
  }
  .page-content--centered{
    width: auto;
    padding: 0;
  }
  .button{
    margin-top: 10px;
    border:2px solid #000;
    font-size: 24px;
  }
  h2{
    font-weight: bold;
  }
  .banner-page{
    h4{
      font-size: 40px;
    }
    p{
      font-size: 18px;
      max-width: 420px;
    }
    .container{
      padding: 100px;
    }
  }

  .list-article-top{
    .list-article{
      width: calc(50% - 15px);
      min-height: 400px;
    }
    h4{
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 30px;
    }
  }
  .list-article-bottom{
    .list-article{
      width: calc((100% / 3) - 15px);
      min-height: 400px;
    }
    h4{
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 30px;
    }
  }
  .flex-between{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .list-recipes{
    min-height: 400px;
    position: relative;
    width: calc((100% / 3) - 15px);
    h4{
      position: absolute;
      bottom: 10px;
      left: 20px;
      font-weight: bold;
      font-size: 30px;
    }
  }
  .all-discover{
    ul{
      margin-left: 0;
    }
    li{
      display: inline-block;
      list-style: none;
      border-right: 1px solid #000;
      padding: 0 10px;
      font-size: 18px;
      &:last-child{
        border:none;
      }
      &:first-child{
        padding-left: 0;
        font-weight: bold;
      }
    }
  }
  .find-out{
    margin-top: 40px;
    .container{
      padding: 100px;
    }
    .find-right,
    .find-left{
      width: 50%;
    }
    p{
      margin:20px 0 30px;
      max-width: 620px;
      font-size: 18px;
      &.button{
        max-width: 250px;
        font-size: 24px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:not(.button){
        line-height: 40px;
      }
    }
    h4{
      font-size: 30px;
    }
  }
  .sharing-moments{
    h2{
      text-align: center;
      margin-bottom: 40px;
      font-size: 40px;
    }
    .container{
      padding: 0;
    }
    .flex-between{
      flex-wrap: wrap;

    }
    .gray-bg{
      min-height: 200px;
      width: 20%;
      border:1px solid;
    }
  }
}
@media (max-width: 980px) {
  .page-discover{
    .banner-page{
      .container{
        padding: 0 20px;
      }
    }
    .container{
      padding: 0 20px;
    }
    .flex-between{
      flex-direction: column;
    }
    .list-recipes{
      width: 100%;
      margin-bottom: 20px;
    }
    .list-article-top .list-article{
      width: 100%;
      margin-bottom: 20px;
    }
    .list-article-bottom .list-article{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
