.footer {
    background-color: $color--global;
    font-family: $font-Roboto;
    margin-bottom: -15px;
    position: relative;
    .container {
        max-width: 1440px;
    }
    .footer-top,
    .footer-map,
    .footer-payment-icons {
        display: none !important;
    }
    .footer-bottom,
    .footer-info .footer-about {
        background-color: $color--global;
    }
    .footer-about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .socialLinks {
            text-align: right;
            margin-top: 20px;
            .icon {
                width: auto !important;
                height: 25px;
            }
            .socialLinks-item {
                background-color: transparent;
                margin: 0;
                a {
                    i.fa-facebook-f {
                        font-size: 26px;
                        font-weight: 500;
                        color: #F6F6EF;
                        margin-top: 1px;
                    }

                    &.icon--youtube{
                        margin-left: 5px;
                    }
                }
                svg {
                    width: 35px;
                    fill: #fff;
                }
            }
        }
    }
    .footer-logo-image {
        max-width: 172px;
    }
    .container {
        display: flex;
        flex-direction: column;
        .footer-info-col {
            width: 100%;
            padding: 0;
        }
    }
    .footer-nav-content {
        display: flex;
    }
    .footer-link {
        width: 25%;
        max-width: 330px;
        h4 {
            color: #F6F6EF;
            font-size: 22px;
            font-weight: 500;
        }
        li {
            font-size: 16px;
            line-height: 30px;
            a {
                color: #F6F6EF;
            }

            @media (max-width: 992px) {
                text-align: left;
            }
        }
    }
    .footer-bottom .flex-box {
        justify-content: left;
    }
    .footer-info .footer-info-heading {
        padding-top: 40px;
    }
    .footer-copyright {
        padding: 70px 0 90px;
        font-weight: 300;
        span, a {
            font-size: 16px;
            color: #F6F6EF;
        }
        a {
            padding-left: 20px;
        }
    }
}

@media (max-width: 993px) {
    .footer {
        .footer-logo-image {
            max-width: 117px;
        }
        .footer-about {
            flex-direction: column;
            margin-bottom: 20px;
            .socialLinks {
                text-align: center;
                margin-top: 0;
                .icon {
                    height: 20px;
                }
            }
        }
        .footer-nav-content {
            flex-direction: column;
        }
        .footer-link {
            width: 100%;
            border-bottom: 1px solid;
            max-width: none;
            &:first-child {
                border-top: 1px solid;
            }
            h4 {
                text-align: left;
                margin: 20px 0;
                font-size: 16px;
                .fa {
                    float: right;
                    padding-right: 5px;
                    font-size: 24px;
                    &:before {
                        content: "\f107"
                    }
                }
            }
            .footer-info-list {
                display: none;
            }
        }
        .footer-copyright {
            padding: 30px 0 50px;
            max-width: 245px;
            margin: auto;
            span, a {
                font-size: 14px;
                padding-left: 0;
            }
            span {
                &:last-child {
                    a {
                        padding-left: 10px;
                    }
                }
            }

        }
    }
}
