$color--global: #004936;
$color--text: #497C6D;
$color--global-2: #F5AA50;
$font-Roboto: 'Roboto', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$color--button: #316B5A;
$color--bg-gray: #F6F6EF;
body, h1, h2, h3, h4, h5 {
    color: $color--global;
    font-family: $font-Montserrat;
}

.button {
    font-family: $font-Roboto;
}

p, span {
    font-family: $font-Roboto;
    color: $color--text;
}

.mobileMenu-toggle {
    padding: 0;
    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $color--global;
        height: 1px;
        width: 15px;
    }
}

.show-for-medium-down {
    display: block;
    @include breakpoint("medium") {
        display: none;
    }
}

.hide-for-medium-down {
    display: none;
    @include breakpoint("medium") {
        display: block;
    }
}

.navPages-action {
    color: $color--global;
    font-size: 14px;
    position: relative;
}

.navPages .navPages-item {
    padding: 25px 0 20px;
    margin: 0 20px;
    border-bottom: 5px solid transparent;
    &:hover {
        border-bottom: 5px solid;

        >.navPages-action i{
            transform: rotate(-180deg);
            right: -8px;
            top: 15px;
        }
    }
    a {
        padding: 7px 20px;
        font-family: $font-Roboto;
        text-transform: none;
        border: 2px solid transparent;
        font-size: 16px;
        img {
            display: none;
            max-width: 22px;
            max-height: 20px;
            margin-bottom: 7px;
        }
        i {
            padding-left: 10px;
            position: absolute;
            top: 7px;
            right: 2px;
        }
    }
    &:not(.navPages-item-page) {
        > a {
            border: 2px solid;
            border-radius: 20px;
            display: flex;
        }
    }
    &:last-child {
        display: none;
    }
}

.topbar {
    background-color: $color--global;
    color: white;
    font-size: 14px;
}

.header {
    position: fixed;
    border-bottom: 0px;
    .footer {
        display: none;
    }
    .header-logo-image {
        max-width: 120px;
    }
    .navUser{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .navPages-action{
        font-weight: 500;
    }
    .text__topbar {
        width: 100%;
        text-align: center;
        color: #fff;
        line-height: 16px;
        padding: 0px;
        a {
            color: stencilColor("navUser-color");;
        }
    }

    @media (max-width: 1024px) {
        .text__topbar{
            font-size: 12px;
            line-height: 13px;
        }

        .navUser{
            height: 25px;
        }

    }
    .navPages-list {
        float: right;
    }
    .navPages-action-moreIcon {
        display: none;
    }
    .navUser-item {
        &.quicksearch,
        &.wishlists {
            display: none;
        }
    }
    .navPages-container {
        position: static;
    }
    .navPage-subMenu-item {
        &:not(.navPage-subMenu-title) {
            float: left;
            width: 25%;
        }
        img {
            width: 100%;
            height: 190px;
            background-color: #E2E2DC;
        }
    }
    .navPage-subMenu {
        width: 100vw;
        left: 0;
        transform: none;
        max-width: none;
        transition: all 0s;
    }
    .navPage-subMenu-list {
        width: 100%;
    }
    .header_nav {
        .navPage-subMenu-list {
            .navPages-action {
                padding: 0;
                text-transform: capitalize;
                line-height: 2;
                border: none;
                h4 {
                    margin: 15px 0 10px;
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: none;
                }
                i {
                    font-size: 12px;
                }
            }
        }
        .navPage-childList-item {
            a {
                font-weight: bold;
            }
        }
    }
}

.about-dropdown {
    h4 {
        font-weight: bold;
    }
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.header .recipes-dropdown {
    .navPage-subMenu-item:not(.navPage-subMenu-title) {
        width: calc(100% / 3);
        h4 {
            display: flex;
            align-items: center;
            margin-top: 30px;
            font-weight: bold;
            font-size: 30px;
            span {
                font-size: 18px;
                padding-left: 20px;
                font-weight: normal;
            }
        }

    }
    .recipes-list {
        display: flex;
        margin-bottom: 20px;
        align-items: center;

        .recipes-img {
            width: 181px;
            img {
                height: 103px;
            }
        }
        h5 {
            width: calc(100% - 181px);
            margin-top: 2px;
            font-weight: bold;
            text-transform: none;
            padding-left: 20px;
            font-size: 18px;
        }
    }
    .blog-list {
        float: left;
        width: calc(50% - 20px);
        &:nth-child(even) {
            margin-right: 10px;
        }
        &:nth-child(odd) {
            margin-left: 10px;
        }
        h5 {
            margin-top: 10px;
            font-weight: bold;
            text-transform: none;
            font-size: 15px;
        }
    }
    .story-list {
        display: flex;
        flex-direction: column;
        p {
            font-size: 16px;
        }
        a {
            font-size: 12px;
            padding: 0;
        }
        .story-image {
            width: 100%;
            height: 100%;
            min-height: 192px;
            img {
                height: 100%;
            }
        }
        .story-content {
            width: 100%;
            h4 {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 993px) {
    .navUser {
        position: static;
        transform: none;
        font-size: 11px;
    }
    .header {
        .text__topbar {
            padding: 2px;
        }
        .footer {
            display: block;
        }
        .header-logo-image {
            max-width: 83px;
        }
        .navPages-item-page {
            .navPage-subMenu {
                transform: translateX(-50%);
            }
            &:nth-child(2) .navPage-subMenu {
                margin-left: 50%;
            }
            &:nth-child(3) .navPage-subMenu {
                margin-left: -50%;
            }
        }

        .navPages-quickSearch,
        .navPages-list--user,
        .navPage-subMenu-title {
            display: none !important;
        }
        .header_nav .navPage-subMenu-list {
            padding: 0;
            margin: 0;
            overflow: hidden;
            .navPages-action h4 {
                border: none;
                margin: 7px 0;
                text-align: left;
                font-size: 14px;
            }
            .navPages-action {
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
        }
        .recipes-dropdown .navPage-subMenu-item:not(.navPage-subMenu-title) {
            width: 100%;
            h4 span {
                display: none;
            }
        }
        .navPages {
            padding: 0;
            .dark {
                display: inline;
            }
            .content-about,
            .story-list,
            .recipes-list,
            .blog-list {
                display: none;
            }
            .navPages-item {
                padding: 0;
                width: calc(100% / 3);
                margin: 0 !important;
                border: 0px;
                height: 100%;
                a {
                    justify-content: center;
                    text-align: center;
                    border: 1px solid #E4DFDA;
                    border-radius: 0;
                    font-size: 11px;
                    text-transform: uppercase;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    font-family: $font-Montserrat;
                    font-weight: bold;
                    &.active {
                        background-color: $color--button;
                        color: #fff;
                        .dark {
                            display: none;
                        }
                        .light {
                            display: inline;
                        }
                        & + .navPage-subMenu {
                            display: block;
                            overflow: hidden;
                            > img {
                                width: calc(100% - 40px);
                                margin: 50px auto;
                            }
                        }
                    }
                }

                i {
                    display: none;
                }
            }
            .navPages-list {
                display: flex;
                width: 100%;
                float: none;
                min-height: 100vh;
                overflow-x: hidden;
            }
        }
        .navPage-subMenu-item:not(.navPage-subMenu-title) {
            width: 100%;
            background-color: #fff;
            a {
                border: none;
                border-bottom: 1px solid #E4DFDA;
            }
            .navPages-action-moreIcon {
                display: block;
                padding: 0;
                font-size: 25px;
                margin-top: 5px;
                width: auto;
                height: auto;
                &:before {
                    content: "\f107"
                }
                svg {
                    display: none;
                }
            }
        }
        .navPages-container {
            position: absolute;
            padding-top: 80px;
        }
        .discover-mobile {
            padding: 15px 20px;
        }
        .discover-list {
            display: flex;
            margin-bottom: 10px;
            .discover-image {
                width: 105px;
            }
            .discover-content {
                width: 75%;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h4 {
                    font-size: 14px;
                    font-weight: bold;
                    margin: 0;
                }
                a {
                    padding: 0;
                    border: none;
                    font-size: 12px;
                    font-family: $font-Montserrat;
                    display: inline-block;
                    text-align: left;
                    text-transform: none;
                    color: $color--global;
                    i {
                        display: inline-block;
                        padding: 0;
                        &:before {
                            content: "\f107";
                        }
                    }
                }
            }
        }
    }

}

#header{
    .header__right{
        padding-left: 40px;
    }
    .navPages {
        .navPages-item{
            margin: 0px 25px;
        }

        .navPages-item{
            &:first-child{
                .navPage-subMenu-list{
                    max-width: 1360px;
                    margin: auto;
                    float: none;

                    .navPage-subMenu-item{
                        padding: 0px !important;
                    }

                    .navPage-childList-action{
                        line-height: 38px !important;
                    }
                }

                >.navPages-action{
                    font-weight: 600;
                }

                .navPage-subMenu-list{
                    display: none !important;

                    @media (max-width: 992px) {
                        display: block !important;
                    }
                }
            }

            &:hover{
                .navPage-subMenu{
                    display: block;
                }
            }

            .navPage-subMenu{
                top: 100%;
                opacity: 1;
                display: none;
                border-top: 1px solid #D6D6D6;
                border-bottom: 1px solid #D6D6D6;
                box-shadow: unset;

                @media (max-width: 992px) {
                    border: 0px;
                }
            }

            //@media (max-width: 992px) {
            //    &:first-child{
            //        &:hover{
            //            .navPage-subMenu{
            //                display: block !important;
            //            }
            //        }
            //
            //        .navPage-subMenu-item{
            //            .navPage-subMenu-action{
            //                line-height: 46px;
            //                border-bottom: 1px solid #E4DFDA;
            //                position: relative;
            //            }
            //
            //            h4{
            //                margin: 0px;
            //            }
            //
            //            i{
            //                font-size: 22px;
            //                font-weight: 600;
            //            }
            //        }
            //    }
            //}

            .product-content{
                display: flex;
                flex-wrap: wrap;
                max-width: 1360px;
                margin: 25px auto 0px;

                .productDetails{
                    width: 25%;
                }

                .link-product{
                    color: #004936;
                    font-family: "Montserrat", sans-serif;
                    font-size: 26.4px;
                    font-weight: 600;
                    padding: 0px;
                    border: 0px;
                    line-height: 32px;
                }

                @media (max-width: 992px) {
                    display: none;
                    .productDetails{
                        .img-product{
                            padding: 30px 30px;
                        }
                    }

                    .link-product{
                        text-transform: capitalize;
                        font-size: 20px;
                    }
                }

                @media (max-width: 767px) {
                    .productDetails{
                        width: 50%;
                        margin-bottom: 40px;

                        .img-product{
                            padding: 0px 30px;
                        }
                    }

                    .link-product{
                        font-size: 16px;
                        margin-top: -10px;
                    }
                }
            }
        }

        .navPage-subMenu.recipes-dropdown{
            padding: 0px 20px !important;
        }

        .item-mobile{
            display: none;
        }

        #content-blogMenu-mobile{
            display: none;
        }

        #content-blogMenu{
            max-width: 1360px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 74px;

            .itemBlog{
                width: 31.06%;
                margin-right: 3.4%;

                &:last-child{
                    margin-right: 0px;

                    .heading-blog{
                        a{
                            display: inline-block;
                            padding-right: 0px;
                            padding-top: 5px;
                        }
                    }
                }

                .heading-blog{
                    font-size: 30px;
                    font-weight: 600;
                    text-align: left;
                    padding-left: 2px;
                    line-height: 29px;
                    margin-top: 35px;
                    margin-bottom: 15px;

                    a{
                        font-size: 18px;
                        line-height: 25px;
                        padding: 0px;
                        border: 0px;
                        color: #004936;
                        font-weight: 400;
                        padding-left: 20px;
                        font-family: Montserrat,sans-serif;
                    }

                    svg{
                        margin-left: 3px;
                    }
                }

                .item-blog{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    align-items: center;
                }

                .post-img{
                    width: 41.6%;
                    position: relative;
                    padding-bottom: 103px;
                    overflow: hidden;

                    img{
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                .title{
                    width: 58.4%;
                    margin: 0px;
                    text-align: left;
                    padding: 0px 10px 0px 20px;
                    line-height: 25px;
                    font-size: 18px;

                    a{
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 25px;
                        padding: 0px;
                        border: 0px;
                        color: #004936;
                        font-family: "Montserrat", sans-serif;
                    }
                }

                &.col-ambassadorMenu{
                    .item-blogAmbassador{
                        margin-right: 15.8px;
                    }

                    .post-ambassador{
                        position: relative;
                        padding-bottom: 44.1%;
                        overflow: hidden;

                        img{
                            position: absolute;
                            width: 100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    .title{
                        padding: 0px;
                        width: 100%;
                        margin-top: 24px;
                        margin-bottom: 5px;
                    }

                    p{
                        font-size: 16px;
                        line-height: 22px;
                        text-align: left;
                        color: #497C6D;
                        padding-right: 10px;
                        font-weight: 500;
                    }
                }
            }

            @media (max-width: 1400px) {
                .itemBlog{
                    width: 32%;
                    margin-right: 2%;

                    .heading-blog{
                        letter-spacing: 0px;
                        font-size: 26px;

                        a{
                            font-size: 16px;
                        }
                    }
                }
            }

            @media (max-width: 1280px) {
                .itemBlog{
                    width: 32%;
                    margin-right: 2%;

                    .heading-blog{
                        letter-spacing: 0px;
                        font-size: 20px;

                        a{
                            font-size: 16px;
                        }
                    }

                    .title{
                        a{
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .content-aboutMenu{
            max-width: 1360px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 37px;

            .items-aboutMenu{
                width: 22.075%;
                margin-right: 3.9%;

                &:last-child{
                    margin-right: 0px;
                }

                .title{
                    text-align: left;
                    margin-bottom: 4px;
                    margin-top: 16px;
                    a{
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 25px;
                        border: 0px;
                        padding: 0px;
                        color: #004936;
                        font-family: "Montserrat", sans-serif;
                    }

                    i{
                        font-size: 14px;
                        font-weight: 200;
                        margin-left: 12px;
                    }
                }

                .text{
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 500;
                    text-align: left;
                    margin-top: 0px;
                    margin-bottom: 30px;
                    min-height: 66px;
                }

                .img-blog{
                    width: 100%;
                    max-width: 300px;
                    position: relative;
                    padding-bottom: 61.3%;
                    overflow: hidden;

                    img{
                        position: absolute;
                        width: 100%;
                        left: 50%;
                        top: 0px;
                        transform: translateX(-50%);
                    }
                }
            }
            
            @media (max-width: 1400px) {
                .items-aboutMenu{
                    width: 23.5%;
                    margin-right: 2%;

                    .text{
                        font-size: 14px;
                    }

                    .title {
                        a{
                            font-size: 16px;
                            letter-spacing: 0px;
                        }

                        i{
                            font-size: 12px;
                            margin-left: 5px;
                        }
                    }
                }
            }

            @media (max-width: 1280px) {
                .items-aboutMenu{
                    .title {
                        a{
                            font-size: 14px;
                            letter-spacing: 0px;
                        }
                    }
                }
            }


            @media (max-width: 992px) {
                .items-aboutMenu{
                    width: 100%;
                    margin: 0px;
                    background: #fff;
                    border-bottom: 1px solid #E4DFDA;

                    .title{
                        margin: 0px;
                        position: relative;
                        padding: 0px 21px;

                        a{
                            text-align: left;
                            font-size: 14px;
                            text-transform: unset;
                            line-height: 50px;
                            display: block;
                        }

                        i{
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);

                        }
                    }

                    &:nth-child(1){
                        order: 2;
                    }

                    &:nth-child(2){
                        order: 1;
                    }

                    &:nth-child(3){
                        order: 3;
                    }

                    &:nth-child(4){
                        order: 4;
                    }
                }
            }
        }
    }

    @media (max-width: 992px) {
        .navPages {
            .navPage-subMenu.recipes-dropdown{
                padding: 0px 0px 120px !important;
            }

            .item-mobile{
                display: block;
                width: 100%;
                margin: 0px;
                border: 0px;

                .list-itemMobile{
                    padding: 0px 20px;
                    background: #fff;
                    border-bottom: 1px solid #E4DFDA;
                    position: relative;

                    a{
                        line-height: 50px;
                        border: 0px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #004936;
                        text-transform: unset;
                        text-align: left;
                        padding: 0px;
                    }

                    i{
                        display: block;
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                    }
                }
            }

            #content-blogMenu{
                display: none !important;
            }

            #content-blogMenu-mobile{
                display: block;
                padding: 15px 20px;

                .itemBlog-mobile{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                    align-items: center;
                }

                .img-item{
                    width: 31.4%;
                    position: relative;
                    padding-bottom: 18%;

                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-position: center;
                        object-fit: cover;
                    }
                }

                .content-blog{
                    padding-left: 15px;

                    .title{
                        color: #004936;
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0px;
                        text-align: left;
                    }

                    a{
                        padding: 0px;
                        border: 0px;
                        position: relative;
                        color: #004936;
                        font-family: Roboto;
                        font-size: 12px;
                        text-transform: unset;
                        font-weight: 500;
                    }

                    svg{
                        position: absolute;
                        top: 55%;
                        transform: translateY(-50%);
                        right: -10px;
                    }
                }
            }
        }
    }
}


@media (max-width: 992px) {
    #header{
        .navPages{
            .navPages-item{
                &.open{
                    .navPage-subMenu{
                        display: block;
                    }
                }

                &:first-child{
                    .navPage-subMenu-item{
                        border-bottom: 1px solid #E4DFDA;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:after{
                            content: "\f054";
                            position: absolute;
                            right: 20px;
                            font: normal normal normal 14px/1 FontAwesome;
                            font-size: 12px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    .navPage-subMenu-action{
                        color: #004936;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 18px;
                    }

                    .navPage-subMenu-list{
                        h4{
                            margin: 0px;
                        }
                        .navPages-action i{
                            font-size: 22px;
                            margin-right: 20px;
                            font-weight: 600;
                            top: 6px;
                        }
                    }
                }
            }
        }
    }
}

#modal-review-form+div{
    left: 35% !important;
    top: 50% !important;
    position: fixed !important;
    transform: translate(-50%, -50%) !important;

    @media (max-width: 767px) {
        left: 50% !important;
        z-index: 999999;
        top: 55% !important;
    }

    @media (max-width: 510px) {
        left: 50% !important;
        z-index: 999999;
        top: 10% !important;

        >div + div{
            height: 100vh !important;

            iframe{
                height: 100% !important;
            }
        }
    }
}
