
body {
    overflow-x: hidden;

    .container {
        width: auto;
        max-width: 1300px;
    }
}

.heroCarousel-action {
    text-transform: none;
    border-radius: 40px;
    min-width: 175px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    min-height: 50px;
    padding: 9px;
    font-size: 16px;

    i {
        font-size: 10px;
        margin-left: 5px;
    }

    &.button--primary {
        background-color: transparent;
        border-color: transparent;
        color: $color--global;
        margin-left: auto;
    }

    &.button--secondary {
        border-color: $color--global-2;
        background-color: $color--global-2;
        color: $color--global;
    }
}

.cta {
    text-align: center;
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.header_nav {
    .navPages-action {
        padding: 0 20px;
    }

    .header__right {
        padding: 0;

        ul {
            display: flex;
            align-items: center;
        }

        .nav-account{
            display: inline-block;
        }

        .navUser-action {
            display: inline-block;
            padding: 0 20px;
            padding-left: 10px;
        }
    }

    .header_nav-fix,
    .right-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* carousel */
.heroCarousel {
    .heroCarousel-title {
        font-size: 54px;
        line-height: 53px;
        color: $color--global;
        max-width: 540px;
        margin: auto;
        font-weight: 600;
    }

    .slick-next,.slick-prev{
        width: 25px;
        height: 25px;

        &:focus{
            background: transparent;
            border-color: #004936;
        }
    }

    .slick-dots{
        display: none !important;
    }

    .heroCarousel-image {
        width: 100%;
        visibility: visible;
    }

    .heroCarousel-content {
        margin: 0;
        width: 100%;
        text-align: center;
        left: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .heroCarousel-description {
        color: $color--text;
    }

    .heroCarousel-content{
        text-align: left;
        padding: 0px;
        max-width: 540px;
        left: 30.5%;
        top: 41%;
        transform: translate(-50%, -50%);

        .heroCarousel-title{
            max-width: 100%;
            margin: 0px;
            line-height: 60px;
            margin-bottom: 35px;
        }

        .heroCarousel-description{
            font-size: 26px;
            line-height: 35px;
            margin-bottom: 52px;
            max-height: 100% !important;
        }

        .heroCarousel-action a{
            color: #004936;
            font-weight: 700;
        }
    }

    @media (max-width: 992px) {
        .heroCarousel-content{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important;
            text-align: center;
            padding: 0px 20px;

            .heroCarousel-title{
                font-size: 33px;
                line-height: 39px;
                margin-bottom: 5px;
            }

            .heroCarousel-description{
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 32px;
            }

            .link-banner{
                .heroCarousel-action{
                    display: block;
                    width: 140px;
                    line-height: 40px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.stop-float-body {
    margin-top: 130px;
}

//benenfits
.section-title {
    text-align: center;
    font-size: 45px;
    margin-top: 0;
    font-weight: 600;
}

.benefits {
    text-align: center;

    .benefits-info {
        width: grid-calc(4, $total-columns);
        float: left;
        margin-top: 80px;
        padding: 0;

        &.active {
            p {
                max-height: none;
            }

            .plus {
                display: none;
            }

            .minus {
                display: inline-block;
            }
        }
    }

    .benefits-title {
        line-height: 1.2;
        margin: 10px 0 5px;
        min-height: 40px;
        font-size: 18px;
        font-weight: 700;
    }

    .benefits-img {
        min-height: 90px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        img {
            max-width: 65px;
            max-height: 65px;
        }
    }

    p {
        overflow: hidden;
        margin: 0 auto 40px;
        max-width: 330px;
        font-size: 14px;
        color: $color--text;
    }

    .minus {
        display: none;
    }

    .drop {
        background-color: #F5AA50;
        border: 1px solid #F5AA50;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
            margin-top: 5px;
            color: $color--global;
        }
    }
}

.home-banner {
    position: relative;

    .container {
        max-width: none;
        padding: 0;
    }

    p {
        position: absolute;
        bottom: 114px;
        width: 100%;
        text-align: center;
    }

    .heroCarousel-action.button--secondary {
        background-color: $color--global;
        color: #fff;
        border: none;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.how-works {
    background-color: #F6F6EF;

    .slick-dots {
        bottom: -50px;
    }

    h4 {
        font-weight: bold;
        font-size: 30px;
    }

    .section-title {
        margin: 0 auto 50px;
    }

    .container > p {
        margin-top: 70px;

        img {
            max-width: 41px;
        }
    }

    .work-content {
        display: flex;
    }

    .works-img {
        width: 50%;
    }

    .works-text {
        width: 50%;
        padding-left: 5%;
    }

    .work {
        h4 {
            margin: 20px 0;
            font-size: 30px;
        }

        p {
            line-height: 28px;
            font-size: 20px;
        }
    }

    .list-number {
        list-style: none;
        margin: 0;

        li {
            display: inline-flex;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #333;
            opacity: 0.5;
            margin-right: 10px;

            &.active {
                opacity: 1;
            }
        }
    }
}

.enjoy-step {
    background-color: $color--global;
    padding-bottom: 100px;

    .section-title {
        color: #fff;
    }

    .steps {
        text-align: center;
        @include breakpoint("medium") {
            display: flex;
            margin: 85px 0;
        }
    }

    .step {
        @include breakpoint("medium") {
            width: 33.333%;
            padding: 0 20px;
        }
    }

    h4 {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
    }

    p {
        font-size: 14px;
        max-width: 330px;
        margin: auto;
        color: #fff;
    }

    .step-img {
        position: relative;

        img {
            width: auto;
            max-height: 100px;
        }

        span {
            position: absolute;
            top: 5px;
            left: calc(50% - 65px);
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333;
            color: white;
            border-radius: 50%;
        }
    }
}

.our-story {
    text-align: center;
    margin: 40px 0;
    padding: 50px 0;

    &.big-section-index {
        padding: 0 0 30px;
        margin: 0;
        background-color: #F5AA50;
    }

    .container {
        max-width: none;
        padding: 0;

        .video-image{
            img{
                width: 100%;
            }
        }
    }

    .section-title {
        font-size: 40px;
        margin: 0;
    }

    .video-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .video-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .play-video {
            border: 2px solid $color--global;
            color: $color--global;
        }

        span {
            font-size: 22px;
            margin-bottom: 25px;
            color: $color--text;
        }
    }

}

.discover {
    .container {
        display: flex;
        justify-content: space-between;

        &:before, &:after {
            content: none;
        }
    }

    .discover-left,
    .discover-right {
        width: 50%;
        max-width: 553px;
    }
    .discover-right {
        .blog-list:last-child {
            h4 {
                margin-left: -35px;
            }
        }
    }
    .discover-title {
        text-align: left;
        margin: 100px auto 110px;

        .section-title {
            text-align: left;
        }

        p {
            font-size: 26px;
            line-height: 35px;
            color: $color--text;
        }
    }

    .blog-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 90px;

        img {
            margin: auto;
        }
    }

    .see-more {
        text-align: left;
        font-size: 14px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        i {
            margin-left: 5px;
            font-size: 10px;
        }
    }

    h5 {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 0;
        text-transform: none;
    }

    h4 {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
        line-height: 49px;
        white-space: nowrap;
    }

    a {
        font-size: 18px;
        display: inline-flex;
        color: $color--global;
    }
}

.subscription {
    background-color: #F6F6EF;

    p {
        margin-bottom: 40px;
        font-size: 22px;
    }

    h4 {
        font-size: 40px;
        font-weight: bold;
        margin: 0;
    }

    &.big-section-index {
        padding-top: 0;
    }

    .form-prefixPostfix {
        .form-input {
            border-radius: 40px;
            margin-right: 25px;
            background-color: white;
            font-size: 18px;
            width: 430px;
            padding: 0px 0px 0px 20px;
            height: 50px;
            &::placeholder {
                color: $color--global;
                font-family: $font-Roboto;
            }
        }

        .button {
            margin: 0;
            background-color: $color--global-2;
            color: $color--global;
            font-weight: 600;
            border-radius: 40px;
            width: 175px;
            padding: 0px;
            height: 50px;
        }
    }

    .container {
        text-align: center;
        padding: 70px 0;
    }

    .form {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-field {
        margin: 0;
    }
}

.review {
    .container {
        max-width: 1440px;
    }

    &.big-section-index {
        padding-top: 85px;
    }

    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        font-size: 30px;
        line-height: 40px;
        max-width: 500px;
        margin: 0 auto 64px;
        font-style: italic;
    }

    p {

        font-size: 16px;
        margin: 60px auto 0;

        span {
            color: #316B5A;
            font-size: 24px;
            display: block;
            text-align: center;
        }

        img {
            max-width: 41px;
            cursor: pointer;
        }
    }
}

.play-video {
    width: 92px;
    height: 92px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;

    i {
        font-size: 30px;
        padding-left: 5px;
    }
}

.video-popup {
    width: 80vw;
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    margin: auto;
    height: 60vh;
    z-index: 9999;
    max-width: 500px;
    display: none;

    #video {
        width: 100%;
    }

    .close-video {
        position: absolute;
        left: 100%;
        top: -20px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
}

.slick-next, .slick-prev {
    border: none;
    background-color: transparent;
    z-index: 1;

    &:before {
        font-size: 24px;
        font-weight: 900;
    }

    &:hover {
        background-color: transparent;

        &:before {
            color: #333;
        }
    }
}

.slick-prev {
    border-top: 2px solid;
    border-left: 2px solid;
    border-color: $color--global;
    transform: rotate(-45deg);
    left: 0;

    &:hover:before, &:before, &:focus {
        color: transparent;
    }
}

.slick-next {
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: $color--global;
    transform: rotate(45deg);
    right: 0;

    &:hover:before, &:before, &:focus {
        color: transparent;
    }
}

.slick-dots {
    bottom: -40px;

    li {
        padding: 0;
        margin: 0 15px;

        button, button:before {
            width: 15px;
            height: 15px;
        }

        &.slick-active button:before {
            background-color: $color--global;
        }
    }
}

.instagram {
    &.big-section-index {
        padding-top: 69px;
    }

    .container {
        max-width: none;
        padding: 0;
    }

    .slick-slide {
        img {
            width: calc(100% - 30px);
        }
    }

    .slick-prev, .slick-next {
        border: none;
        background: $color--global;
        width: 57px;
        height: 57px;
        border-radius: 50%;

        &:before {
            width: 40%;
            height: 40%;
            margin: auto;
        }
    }

    .slick-prev {
        left: 20px;

        &:before {
            border-top: 2px solid;
            border-left: 2px solid;
            border-color: #fff;
            transform: translate(4px, 4px);
        }
    }

    .slick-next {
        right: 20px;

        &:before {
            border-top: 2px solid;
            border-right: 2px solid;
            border-color: #fff;
            transform: translate(-4px, 4px);
        }
    }
}

#instafeed a:before {
    display: inline-flex;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    color: #333;
    right: 15px;
    top: 0;
    left: auto;
}

.info-instagram {
    display: flex;
    background: #F6F6EF;
    width: calc(100% - 30px);
    margin: auto;
    .image-person {
        width: 35%;
        display: flex;
        align-items: center;
        img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
            border: 1px solid #979797;
        }
    }
    .info-person {
        width: 65%;
        text-align: left;
    }
    h4 {
        margin: 25px 0 0 0;
        font-family: $font-Roboto;
        font-weight: bold;
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

@media(max-width: 992px) {
    .stop-float-body {
        padding: 0 !important;
        margin-top: 76px;
        margin-bottom: 0;
    }
    .heroCarousel-slide {
        //background-image: url(https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/banner-mb.png);
        min-height: 670px;
        background-color: #F6F6EF;

        img {
            opacity: 0;
        }
    }

    .slick-prev {
        left: 0px;
        width: 12px;
        height: 12px;
    }
    .slick-next {
        right: 0px;
        width: 12px;
        height: 12px;
    }
    .slick-dots li {
        button, button:before {
            height: 8px;
            width: 8px;
        }
        &.slick-active {
            button, button:before {
                height: 12px;
                width: 12px;
            }
        }
    }
    .big-section-index {
        margin-bottom: 30px;

        &:not(:first-child) {
            padding: 0;
            margin: 0;
        }
    }
    .cta {
        a {
            font-size: 12px;
            padding: 0;
        }
    }
    .heroCarousel-action {
        min-width: 140px;
        padding: 0;
        margin-bottom: 0;
        font-size: 14px;
        min-height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .heroCarousel {
        .heroCarousel-content {
            transform: translateY(-50%);
            max-width: none;
            margin: auto;
        }

        .heroCarousel-action {
            &.button--primary {
                margin-top: 0;
            }

            &.button--secondary {
                border-color: transparent;
            }
        }

        .heroCarousel-title {
            font-size: 33px;
            line-height: 34px;
        }

        .heroCarousel-description {
            max-height: 55px;
            overflow: hidden;
            line-height: 27px;
            margin: 30px auto;
            max-width: 350px;
            font-size: 22px;
        }
    }
    .section-title {
        font-size: 28px;
        margin-bottom: 0;
        font-weight: bold;
        line-height: 34px;
    }

    .benefits {
        &.big-section-index {
            margin: 35px 0 70px;
        }
        .benefits-info {
            width: 50%;
            margin: 30px 0;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            min-height: 236px;
            &:nth-child(3) {
                min-height: 255px;
            }
        }

        .benefits-img {
            min-height: 65px;
            margin-bottom: 0;
            img {
                max-width: 57px;
                max-height: 50px;
            }
        }

        .benefits-title {
            font-size: 16px;
            max-width: 150px;
            margin: 15px auto 10px;
            min-height: auto;
        }

        p {
            font-size: 12px;
            max-width: 200px;
            margin-bottom: 18px;
            padding: 0 10px;
        }
        .drop {
            position: absolute;
            top: 100%;
        }
    }

    .how-works {
        background-color: transparent;

        &.big-section-index {
            margin-top: 0;
        }

        .container {
            background-color: #F6F6EF;
            padding: 25px 25px 0;
        }

        .work {
            text-align: center;

            h4 {
                font-size: 19px;
            }

            p {
                font-size: 16px;
            }
        }

        .work-content {
            flex-direction: column;
        }

        .section-title {
            margin-bottom: 20px;
        }

        .works-img {
            width: 100%;

            img {
                background-color: gray;
                width: 100%;
                height: 100%;
                min-height: 300px;
            }
        }

        .works-list {
            flex-direction: column;
        }

        .works-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 0;
        }

        .list-number {
            order: 1;
        }
    }
    .enjoy-step {
        .container {
            padding-top: 75px;
            padding-bottom: 75px;
        }

        .step-img {
            margin: 20px 0 30px;
            img {
                max-height: 90px;
            }
        }

        .step {
            display: flex;
            margin: 20px 0 80px;
            flex-direction: column;
        }

        .step-content {
            text-align: center;

            h4 {
                margin-top: 0;
                font-size: 16px;
            }

            p {
                font-size: 12px;
                max-width: 240px;
            }
        }

        .cta {
            margin-top: 20px;
        }
    }
    .subscription {
        .container {
            flex-direction: column;
        }

        .form {
            padding-left: 0;
        }

        .subscription-text, .form {
            width: 100%;
        }

        .subscription-text {
            padding-bottom: 10px;
            font-size: 25px;
            line-height: 32px;
            max-width: 300px;
            margin: auto;
        }

        .form-prefixPostfix {
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            width: 100%;
            padding: 0px 20px;

            .form-input {
                font-size: 14px;
                width: 100%;
                margin: 0px 0px 20px;
                height: 42px;
                flex: unset;
            }

            .button {
                width: 140px;
                padding: 0;
                width: 170px;
                margin-top: 0px;
                height: 42px;
            }
        }
    }
    .home-banner {
        &.big-section-index {
            margin-bottom: 0;
        }

        p {
            bottom: 50px;
        }

    }
    .our-story {
        margin-bottom: 0;
        &.big-section-index {
            padding-bottom: 20px;
        }
        .section-title {
            font-size: 25px;
        }

        .video-text {
            span {
                margin: 5px 0;
                font-size: 18px;
            }
            .play-video {
                margin-top: 25px;
            }
        }

        .video-content {
            justify-content: normal;
            margin-top: 30px;
        }
    }
    .play-video {
        width: 58px;
        height: 58px;
    }
    .discover {
        .container {
            flex-direction: column;
            padding: 0 35px;
        }

        .discover-right,
        .discover-left {
            width: 100%;
        }
        .discover-right {
            .blog-list:last-child {
                h4 {
                    margin-left: 0;
                }
            }
        }
        .discover-title {
            max-width: none;
            margin: 60px auto;

            p {
                font-size: 22px;
                line-height: 27px;
            }
        }

        .blog-list {
            margin-bottom: 0;
            img {
                max-width: 100%;
            }
            p {
                margin: 0;
            }
        }

        h4 {
            font-size: 25px;
            position: relative;
            white-space: normal;
            line-height: 32px;
        }

        h5 {
            font-size: 18px;
        }

        .section-title {
            margin-bottom: 25px;
        }

        .see-more {
            margin-top: 10px;
            margin-bottom: 35px;
        }

    }
    .review {
        h4 {
            font-size: 22px;
            line-height: 26px;
            font-style: italic;
            margin-bottom: 0;
            max-width: 275px;
            margin-top: 50px;
        }

        p {
            margin: 25px auto;
        }

        .container > p {
            margin-top: 55px;
        }
    }
    .subscription {
        .container {
            padding: 45px 0;
        }
        p {
            font-size: 18px;
            max-width: 230px;
            margin: auto;
        }
    }
    .apframework-instafeed {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5px;

        .instafeed-item-apframework {
            width: 50%;
            padding: 5px;
        }
    }
    .instagram {
        &.big-section-index {
            margin-top: 25px;
        }
    }
}

.instagram {
    padding-top: 60px;

    .section-title{
        margin-bottom: 48px;
        text-transform: capitalize;
    }

    .instagram-block{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .itemBox-instagram{
            width: 20%;
        }

        .slick-list.draggable{
            padding: 0px 11.5% 0px 19%;
        }

        .images-instagram{
            position: relative;
            margin: 0px 16px;
            padding-bottom: 91.4%;

            img{
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .sub-link{
                position: absolute;
                top: 1px;
                right: 25px;
                font-size: 26px;
                color: #000;

                &:hover{
                    color: #004936;

                    i{
                        color: #004936;
                    }
                }

                i{
                    font-weight: 700;
                }
            }
        }

        .content-instagram{
            padding: 19px 18px 17px;
            background-color: #F6F6EF;
            margin: 0px 15px;
            display: flex;
            flex-wrap: wrap;

            .avatar-user{
                width: 64px;
                height: 64px;
                position: relative;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }

            .infor-instagram{
                width: calc(100% - 64px);
                text-align: left;
                padding-left: 17px;

                .link-instagram{
                    font-size: 20px;
                    color: #004936;
                    font-family: "Roboto", sans-serif;
                }

                .username{
                    display: block;
                    font-size: 16px;
                    color: #004936;
                    font-family: "Roboto", sans-serif;
                }
            }
        }

        button{
            width: 80px;
            height: 80px;
            top: 38%;

            &:before{
                content: "";
                width: 30px;
                height: 30px;
            }
        }
    }

    @media (max-width: 992px) {
        .instagram-block{
            button{
                width: 40px;
                height: 40px;

                &.slick-prev:before{
                    width: 15px;
                    height: 15px;
                    margin-left: 10px;
                    margin-bottom: 4px;
                }

                &.slick-next:before{
                    width: 15px;
                    height: 15px;
                    margin-right: 10px;
                    margin-bottom: 4px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .section-title{
            margin-bottom: 20px;
        }
        .instagram-block{
            margin-bottom: 0px;

            .slick-list.draggable{
                padding: 0px 4.5px;
            }

            .content-instagram{
                display: none !important;
            }

            .slick-slide{
                div{
                    margin: 9px 5px;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    padding-bottom: 94.6%;

                    img{
                        width: 100%;
                        position: absolute;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}

.big-section-index.benefits{
    .benefits-list{
        display: flex;
        flex-wrap: wrap;

        &:before{
            display: none;
        }

        .benefits-info{
            &.active{
                .expanded{
                    display: block;
                }
            }

            p{
                margin: 0 auto 20px;
            }

            .expanded{
                display: none;
                margin: 0 auto 20px;
                max-width: 330px;
                font-size: 14px;
                color: #497C6D;
                font-family: "Roboto", sans-serif;

                @media (max-width: 992px) {
                    font-size: 12px;
                    padding: 0 10px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
