.container-fluid,
.addthis_toolbox,
.productView-info,
.breadcrumbs {
    display: none;
}

.productView-images {
    opacity: 0;
}

.loaded {
    .productView-images {
        opacity: 1;
    }
}

.template-pages-product {
    margin: 0;


    .natural{
        .natural-list{
            button{
                top: calc(40% - 8px);
            }
        }
    }

    .sticky-container{
        display: none !important;
    }

    .stop-float-body {
        margin-top: 132px;
    }
    .rating--small {
        margin: 0;
        .icon {
            height: 20px;
            width: 20px;
        }
    }
    .icon--ratingEmpty svg {
        stroke: $color--global;
        fill: transparent;
    }
    .icon--ratingFull svg {
        fill: $color--global;
    }
    .apframe-main > .container {
        padding: 0;
        max-width: none;
    }
    .slick-next:hover, .slick-next:focus, .slick-prev:hover, .slick-prev:focus {
        background-color: transparent;
        border-color: $color--global;
    }
    .productView-reviewLink {
        display: inline-flex;
        align-items: flex-end;
        vertical-align: bottom;
        a {
            color: $color--global;
            text-decoration: underline;
        }
    }
    .productView {
        padding: 65px 20px 0;
        max-width: 1400px;
        margin: auto;
        background-color: $color--bg-gray;
        position: relative;
        &:before {
            background-color: $color--bg-gray;
            width: 100vw;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            z-index: -1;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    .productView-thumbnail {
        max-width: 115px;
        max-height: 103px;
        margin: 0 10px;
        padding: 0;
        border: 1px solid $color--global;
        display: inline-flex !important;
        .productView-thumbnail-link {
            border: 2px solid transparent;
            &.is-active, &:hover {
                border: 2px solid transparent;
            }
        }
        &.slick-active {
            .productView-thumbnail-link {
                border: 2px solid $color--global;
            }
        }
        img {
            max-height: 83px;
        }
    }
    .productView-thumbnails {
        margin: 0;
        .slick-track {
            display: flex;
            justify-content: center;
        }
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
    }
    .form-field {
        width: 100%;
        margin-bottom: 15px;
        max-width: 450px;
        small {
            display: none;
        }

    }
    .productView-product {
        padding: 0;
        border: none;
        max-height: 550px;
    }
    .form-option {
        padding: 5px 15px;
        border-radius: 2px;
        border: 2px solid #f0f0f0;
        margin-right: 1rem;
    }
    .form-input--incrementTotal {
        font-size: 20px;
    }
    .form-label--alternate {
        font-weight: bold;
        font-size: 16px;
        span {
            font-size: 10px;
        }
    }
    .option {
        display: inline-flex;
        flex-direction: column;
        > p {
            font-size: 10px;
            margin: 0;
        }
    }
    .productView-title {
        font-size: 54px;
        line-height: 60px;
        margin: 10px 0 48px;
    }
    .product-description {
        font-size: 26px;
        line-height: 35px;
        p {
            margin-bottom: 25px;
        }
    }
    .productView-details {
        margin-bottom: 0;
        padding-left: 70px;
    }
    .name-list-product {
        ul {
            margin: 0;
            display: flex;
        }
        li {
            font-weight: bold;
            font-size: 12px;
            display: inline-flex;
            min-width: 100px;
            max-width: 100px;
            min-height: 58px;
            border: 1px solid;
            border-right: none;
            padding: 0 20px;
            align-items: center;
            justify-content: center;
            text-align: center;
            &:last-child {
                border-right: 1px solid;
            }
            a {
                color: $color--global;
            }
            &.active {
                background-color: $color--button;
                a {
                    color: #fff;
                }
            }
        }
    }
    .productView-rating {
        .icon {
            width: 25px;
            height: 25px;
            margin-right: 3px;
        }
    }
    .form-field--increments {
        display: none;
        > p {
            font-size: 10px;
            margin: 5px 0 0;
        }
    }
    .productView-options {
        max-width: 400px;
        .form {
            display: inline-flex;
            flex-direction: column;
        }
        .form-action {
            width: 100%;
            max-width: 400px;
            margin-top: 0;
            .button {
                width: 100%;
                padding: 18px;
                border-radius: 40px;
                background-color: $color--global-2;
                color: $color--global;
                text-transform: none;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    .form-increment {
        padding: 0;
        border: none;
        max-width: 100px;
        .button {
            background-color: gray;
            padding: 10px;
            border-radius: 5px;
        }
    }

    //.productView-price {
    //    padding: 0;
    //}
    .form[data-wishlist-add] {
        display: none;
    }
    .tab, .tabs-contents {
        display: none;
    }
    .benefits {
        &.big-section-index {
            padding: 80px 0 50px 0;
        }
        .benefits-info {
            margin: 50px 0;
        }
    }
    .productView-price .price-section .price--withoutTax {
        color: $color--global;
        padding: 0 7px 0 16px;
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        font-weight: bold;
    }
    .price-section--withoutTax {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .real-price {
        text-decoration: line-through;
    }
    .real-price,
    .save-percent {
        font-size: 20px;
        color: $color--text;
    }

    .productView-image {
        max-width: 550px;
        margin: auto;
    }
}

.one-time {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 15px 0 0 29px;
    border-top: 1px solid #C3C3C3;
    order: 1;
    &.active {
        order: 0;
    }
}

.active-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $color--global;
    display: inline-flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
}

.box-deliver {
    position: absolute;
    width: 100px;
    cursor: pointer;
    height: 20px;
    left: 0;
    z-index: 1;
    opacity: 0;

    &:checked + .active-option {
        &:before {
            content: "";
            background-color: $color--global;
            width: 11px;
            height: 10px;
            border-radius: 50%;
        }
    }
}

.serving {
    background-color: $color--global;
    &.big-section-index {
        padding: 55px 0 10px;
    }
    .section-title {
        position: relative;
        color: #fff;
        margin-bottom: 80px;
    }
    p {
        color: #fff;
    }
    .text-center {
        a {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }
        &.link-to {
            margin: 20px 0 50px;
        }
    }
}

.serving-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: auto;
    .list-serving {
        width: calc(100% / 3);
        display: none;
        &.active {
            display: block;
        }
        .nutrients {
            color: $color--global-2;
            font-size: 38px;
            width: 131px;
            height: 131px;
            border: 1px solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            text-transform: none;
        }
        &:last-child {
            width: 100%;
            margin-top: 10px;
        }
        .serving-content {
            padding: 20px 0;
            text-align: center;
            h4 {
                color: #fff;
                font-weight: 600;
                font-size: 26px;
                margin: 0 0 20px;
            }
        }
    }
}

.natural {
    background-color: #f6f6ef;
    &.big-section-index {
        padding: 0;
    }
    .container {
        padding: 0;
    }
    .section-title {
        position: relative;
        margin: 60px 0 30px;
        a {
            font-size: 16px;
            position: absolute;
            right: 0;
            bottom: 0;
            color: $color--global;
        }
    }
    .natural-list {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .list-natural {
            width: calc(25% - 25px);
            h4 {
                font-weight: bold;
                margin: 20px 0 10px;
                font-size: 18px;
            }
            p {
                font-size: 16px;
                margin: 0;
            }
            img {
                min-height: 250px;
                background-color: lightgray;
                width: 100%;
            }
        }
    }
    .text-center {
        margin: 55px 0;
        a {
            color: $color--global;
            font-size: 18px;
            font-weight: bold;
            i {
                font-size: 12px;
            }
        }
    }
}

.story {
    text-align: center;
    background-color: #F6F6EF;
    &.big-section-index {
        padding: 50px 0 45px;
    }
    .section-title {
        font-size: 38px;
    }
    .our-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
    }
    .story-list {
        width: calc((100% / 3) - 113px);
    }
    h5 {
        margin: 10px 0 0;
        font-weight: 600;
        font-size: 18px;
    }
    h4 {
        font-weight: 500;
        margin: 10px 0;
        font-size: 25px;
    }
    p {
        margin: 20px 0 0;
        font-size: 16px;
        a {
            color: $color--global;
            font-weight: bold;
            i {
                font-size: 12px;
            }
        }
    }
    .list-story {
        width: calc(50% - 10px);
        border: 1px solid #333;
        display: flex;
    }
    .image-story {
        width: 45%;
    }
    .content-story {
        width: 55%;
        padding: 20px;
    }
}

.faq {
    .container {
        padding: 0;
        max-width: 1360px;
    }
    .section-title {
        text-align: left;
    }
    ul {
        margin: 0;
    }
    li {
        list-style: none;
        border: 1.2px solid #E4DFDA;
        padding: 20px;
        font-family: $font-Roboto;
        &:last-child {
            border: none;
            padding-left: 0;
            font-size: 18px;

            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        @media (max-width: 992px) {
            border-left: 0px;
            border-right: 0px;
        }
    }
    a {
        font-weight: bold;
        color: $color--global;
        text-decoration: underline;
    }
    .question {
        font-family: $font-Roboto;
        text-transform: none;
        display: flex;
        align-items: center;
        margin: 0;
        position: relative;
        color: #497C6D;
        font-size: 20px;

        &:after {
            content: "+";
            font-size: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &.active {
            &:after {
                content: "-";
                font-size: 30px;
                padding-right: 2px;
            }
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 18px;
            color: #004936;
            font-weight: 500;
        }
    }
    .answer {
        display: none;
        font-size: 16px;
        color: #497C6D;
        padding-left: 20px;
        margin-top: 20px;

        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 18px;
            font-weight: 500;
            padding-right: 40px;
        }
    }
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    &.deliver {
        margin-bottom: 5px;
        .form-label {
            font-size: 20px;
            display: flex;
            align-items: center;
            padding: 15px 0 0 29px;
            border-top: 1px solid #C3C3C3;
            ~ .option {
                display: none;
            }
            &.active {
                ~ .option {
                    display: block;
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }
    .form-option-variant {
        font-weight: bold;
        color: $color--global;
        font-size: 12px;
        font-family: $font-Montserrat;
        text-transform: uppercase;
    }

    &.flavor{
        .form-option-variant {
            line-height: 13.87px;
        }
    }
    .form-radio:checked + .form-option {
        background-color: $color--button;
        box-shadow: none;
        span {
            color: #fff;
        }
    }
    .option {
        font-weight: bold;
        font-size: 12px;
        align-items: center;
        &:last-child {
            .form-option {
                border-right: 1px solid $color--global;
            }
        }
        > span {
            font-family: $font-Roboto;
            font-size: 14px;
            font-style: italic;
            font-weight: normal;
            text-align: center;
            line-height: 15.6px;
            padding-top: 5px;
        }
    }
    .form-option {
        margin: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: inline-flex;
        padding: 0;
        border: 1px solid $color--global;
        border-right: none;
        border-radius: 0;
    }
    .form-label {
        width: 100%;
        font-size: 16px;
        color: $color--global;
        font-family: $font-Montserrat;
        position: relative;
    }
}

.flavor {
    .form-label {
        display: none;
    }
    .form-option,
    .option {
        min-width: 100px;
        min-height: 58px;
        max-width: 100px;
    }
    .option:nth-child(2) {
        //.form-option {
        //    pointer-events: none;
        //}
        //.form-option-variant:after {
        //    content: "comming soon";
        //    font-size: 10px;
        //    color: gray;
        //    text-transform: uppercase;
        //    display: block;
        //    font-style: italic;
        //}
    }
}

.price-item-save{
    .item-value-save{
        display: none;
        color: #497C6D;
        font-family: Roboto;
        font-size: 20px;
        padding-top: 8px;

        &.active{
            display: block;
        }
    }
}

.quantity {
    .form-option,
    .option {
        min-width: 133px;
        min-height: 66px;
        max-width: 133px;
        position: relative;
    }
    .form-option-variant {
        font-size: 28px;
        &:after {
            content: "Servings";
            display: block;
            font-weight: 400;
            font-size: 13px;
            margin-top: -5px;
        }
    }
    .option:nth-child(3):before {
        content: "Most popular";
        text-transform: uppercase;
        background-color: $color--global-2;
        position: absolute;
        width: 100%;
        bottom: 100%;
        text-align: center;
        font-size: 10px;
        padding: 1px;
    }
}

.deliver {
    .form-option,
    .option {
        min-width: 133px;
        min-height: 66px;
        max-width: 133px;
        position: relative;
    }
    .form-option-variant {
        font-size: 28px;
        &:after {
            content: "Weeks";
            display: block;
            font-weight: 400;
            font-size: 13px;
            margin-top: -5px;
        }
    }
}

.review-list {
    &.big-section-index {
        padding: 75px 0;
    }
    .review-container {
        margin-top: 60px;
    }

    .productReviews-list {
        display: flex;
        justify-content: space-between;
        &:before, &:after {
            display: none;
        }
        .productReview {
            max-width: 335px;
        }
    }
    .productReview-title {
        position: relative;
        font-family: $font-Roboto;
        font-size: 18px;
        font-weight: bold;
        padding-top: 18px;
    }
    .productReview-author {
        color: $color--global;
        font-weight: 600;
        font-size: 16px;
    }
    .date-review {
        position: absolute;
        bottom: 100%;
        right: 0;
        font-size: 14px;
        color: $color--text;
        font-weight: 500;
    }
    .productReview-body {
        font-size: 16px;
        font-family: $font-Roboto;
        color: $color--global;
        padding-bottom: 30px;
        border-bottom: 1px solid #DFE3E2;
        margin-bottom: 0;
    }
}

.sticky-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 131px;
    background-color: white;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid;
    padding: 10px 25px;
    font-weight: bold;
    .button {
        margin: 0;
        border-radius: 30px;
        color: $color--global;
        font-weight: bold;
        background-color: $color--global-2;
        padding: 12px 30px;
    }
}

#product-reviews {
    display: none;
}

@media (max-width: 980px) {
    .template-pages-product {
        .productView-thumbnails {
            display: none;
        }
        .price-section {
            text-align: center;
        }
        .productView {
            padding: 0;
        }
        .productView-details {
            padding: 0;
            text-align: center;
        }
        .productView-title {
            margin: 20px 0 10px;
            font-size: 33px;
        }
        .form-option-variant {
            font-size: 10px;
            padding: 0px;
        }
        .product-description p {
            font-size: 16px;
            line-height: 22px;
            margin: 0 auto 25px;
        }
        .productView-rating {
            text-align: left;
            padding: 0 20px;
            .icon {
                width: 16px;
                height: 16px;
            }
        }
        .rating--small .icon {
            width: 16px;
            height: 16px;
        }
        .productView-price {
            padding: 0 20px;
        }
        .form-action {
            padding: 0 20px;
            .text-center {
                font-size: 11px;
            }
        }
        .productView-price .price-section .price--withoutTax {
            font-size: 20px;
            line-height: 24.7px;
        }
        .real-price, .save-percent {
            font-size: 14px;
        }
        .section-title {
            font-size: 28px;
            position: static;
            margin-bottom: 10px;
        }
        .form-field {
            text-align: left;
            max-width: none;
            &:not(.flavor) {
                padding: 0 20px;
            }
            .form-label {
                font-size: 12px;
            }
            &.deliver .form-label {
                font-size: 16px;
            }

            @media (max-width: 767px) {
                display: flex;
                flex-wrap: wrap;
                padding: 0px;
            }
        }
        .form-option {
            margin: 0 0 5px 0;
            text-align: center;
        }
        .productView-price {
            text-align: left;
        }
        .productView-options {
            margin: auto;
            max-width: none;
            .form-action {
                max-width: none;
                .button {
                    font-size: 14px;
                    padding: 12px;
                }
            }
        }
        .story {
            .section-title {
                font-size: 25px;
                font-weight: 600;
            }
        }
        .big-section-index .container {
            padding: 0 20px;
        }
        .serving {
            &.big-section-index {
                padding: 30px 0;
            }
            .container {
                padding: 0 10px;
            }
            .warning {
                font-size: 12px;
                margin: 50px 0 0;
            }
            .section-title {
                max-width: 245px;
                margin: auto auto 25px;
            }
        }
        .benefits {
            &.big-section-index {
                padding: 0;
            }
            .benefits-info {
                margin: 20px 0;
                min-height: 180px;
                margin-bottom: 45px;
            }
        }
        .faq {
            .section-title {
                padding-left: 20px;
            }
            &.big-section-index {
                padding: 50px 0 80px;
                .container {
                    padding: 0;
                }
            }
            li {
                &:last-child {
                    padding-left: 20px;
                }
            }
            .question {
                padding-right: 50px;
            }
        }
        .stop-float-body {
            margin-top: 76px;
        }
    }
    .flavor {
        display: flex;
        .option {
            width: 24.9%;
        }
        .form-option {
            width: 100%;
        }
        .form-option, .option {
            min-width: auto;
            max-width: none;
            min-height: 55px;
        }
    }
    .quantity, .deliver {
        display: flex;
        .option {
            width: calc(100% / 3);
        }
        .form-option {
            width: 100%;
        }
        .form-option, .option {
            min-width: auto;
            max-width: none;
            min-height: 55px;
        }
        .form-option-variant {
            font-size: 24px;
            &:after {
                font-size: 11px;
            }
        }
    }
    .one-time {
        width: calc(100% - 40px);
        margin: auto;
        font-size: 16px;
    }
    .form-field {
        .option > span {
            font-size: 12px;
        }
    }

    .serving-list {
        .list-serving {
            width: calc(50% - 0.5rem);
            .nutrients {
                width: 81px;
                height: 81px;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &:last-child {
                img {
                    max-width: 304px;
                }
            }
            > p {
                font-size: 7px;
                margin: 2px 0 8px;
            }
            .serving-content {
                padding: 0 10px 10px;
                h4 {
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }
        }
        .serving-content {
            p {
                margin-bottom: 10px;
                font-size: 16px;
            }
        }
    }
    .serving {
        .text-center a {
            font-size: 16px;
        }
    }
    .natural {
        &.big-section-index {
            padding: 0;
        }
        .natural-list {
            margin-bottom: 35px;
            .section-title {
                margin-bottom: 20px;
            }
            .list-natural {
                padding: 0 20px;
                text-align: center;
                h4 {
                    font-size: 16px;
                    margin-bottom: 0;
                }
                p {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
        .section-title a {
            left: 0;
            top: 100%;
        }
    }
    .story {
        &.big-section-index {
            padding: 75px 15px 40px;
        }
    }
    .review-list {
        &.big-section-index {
            padding: 50px 0;
        }
        .review-container {
            margin-top: 30px;
        }
        .productReviews-list {
            flex-direction: column;
            margin: 0;
            .productReview {
                max-width: none;
                padding: 20px 0;
                border-bottom: 1px solid #DFE3E2;
            }
        }
        .productReview-body {
            padding: 0;
            border: none;
        }
    }
    .slick-dots li {
        margin: 0 3px;
    }
    .sticky-container {
        top: auto;
        bottom: 0;
        padding: 0;
        .text-sticky {
            display: none;
        }
        .button-sticky {
            width: 100%;
        }
        .button {
            border-radius: 0;
            width: 100%;
            font-weight: bold;

        }
    }
}

.one-time{
    &.active{
        .active-option{
            &:before{
                content: "";
                background-color: #004936;
                width: 11px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }
}

.form-field.deliver{
    .form-label{
        &.active{
            .active-option{
                &:before{
                    content: "";
                    background-color: #004936;
                    width: 11px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }
    }
}

.content-productView{
    background-color: #F6F6EF;
}

.big-section-index.natural{
    padding: 0px 40px;

    @media (max-width: 767px) {
        padding: 0px;

        .container{
            padding: 0px 15px !important;
        }

        .natural-list{
            .list-natural{
                p{
                    padding: 0px 20px;
                }
            }
        }
    }
}

.big-section-index.faq{
    padding: 0px 40px;
}

.serving{
    .item-feature{
        .feature-text{
            color: #F5AA50;
            font-family: "Montserrat", sans-serif;
            font-size: 36px;
            line-height: 57px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 0px;
        }
    }

    @media (max-width: 767px) {

        .item-feature{
            padding: 0px 20px;
            margin-top: 20px;
            margin-bottom: 25px;

            .feature-text{
                font-size: 22px;
                line-height: 24px;
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-field.form-field--increments{
        display: none !important;
    }

    .price-item-save{
        .item-value-save{
            font-family: Roboto;
            font-size: 14.3px;
            line-height: 28.6px;
            padding-top: 2px;
        }
    }
}
