
.template-science{
    .body{
        margin-bottom: 0px;

        .container{
            max-width: 100%;
            padding: 0px;

            .page{
                margin: 0px;
            }
        }

        .page-content--centered{
            max-width: 100%;
            padding: 0px;
            width: 100%;
        }

        .page-heading{
            display: none;
        }
    }

    .subscription-page{
        .container{
            padding: 0px 20px;
        }
    }
}

#page-science{
    .science-top{
        display: flex;
        flex-wrap: wrap;
        background-color: #F6F6EF;

        .text-content{
            width: 49.5%;
            padding: 75px 120px 0px;

            h2{
                font-size: 54px;
                font-weight: 600;
                line-height: 60px;
                margin-bottom: 25px;
            }

            p{
                font-size: 26px;
                line-height: 35px;
            }
        }

        .img-content{
            width: 50.5%;

            img{
                width: 100%;
            }
        }
    }

    .science-content{
        max-width: 840px;
        margin: 32px auto 50px;
        padding: 0px 20px;
        overflow: hidden;

        &.bottom-block{
            margin-top: 47px;
            margin-bottom: 95px;

            h4{
                font-size: 30px;
            }
        }

        p{
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 18px;
            color: #497C6D;

            &.t-2{
                font-style: italic;
            }
        }

        h5{
            color: #004936;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 31px;
            margin-top: 0px;
            margin-bottom: 8px;
            text-transform: unset;
        }

        h4{
            color: #004936;
            font-family: Montserrat;
            font-size: 38px;
            font-weight: 600;
            line-height: 47px;
            margin-top: 47px;
            margin-bottom: 16px;
        }

        .button{
            height: 50px;
            width: 175px;
            border-radius: 25px;
            background-color: #F5AA50;
            line-height: 50px;
            padding: 0px;
            color: #004936;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 600;
            margin-top: 26px;
        }

        p{
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 18px;
        }
    }

    .science-content-videos{
        overflow: auto;
        padding-bottom: 65px;

        .modal-videos{
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 999;

            &.is-open{
                display: block;
            }

            .videos{
                width: 80%;
                margin: auto;
                position: absolute;
                z-index: 90;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 80vh;

                iframe{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                }

                @media (max-width: 1024px) {
                    height:50%;
                }
            }

            .closeVideo{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                z-index: 99;
            }
        }

        .mask-videos{
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            top: 0px;
            left: 0px;
            opacity: .4;

            &.is-active{
                display: block;
            }
        }

        .img-videos{
            max-width: 100%;
            margin: 62px auto 0px;
            position: relative;

            img{
                width: 100%;
            }
        }

        .openVideo{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .text-title{
            width: 100%;
            max-width: 520px;
            margin: auto;
            text-align: center;

            h5{
                font-size: 24px;
                font-weight: 600;
                margin-top: 25px;
                text-transform: unset;
            }

            p{
                font-size: 16px;
                line-height: 23px;
                margin-bottom: 0px;
            }
        }
    }

    @media (max-width: 1440px){
        .science-top {
            .text-content{
                padding: 20px 80px 0;
            }
        }
    }

    @media (max-width: 1280px) {
        .science-top {
            align-items: center;

            .text-content {
                padding: 10px 40px 0px;
                h2{
                    font-size: 40px;
                    line-height: 48px;
                }

                p{
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .science-top {
            .text-content {
                padding: 00px 20px 0px;
                h2{
                    font-size: 33px;
                    line-height: 39px;
                }

                p{
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .science-top {
            .text-content{
                width: 100%;
                text-align: center;
                margin-bottom: 18px;

                h2{
                    margin-top: 30px;
                    margin-bottom: 18px;
                    br{
                        display: none;
                    }
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    padding: 0px 10px;
                }
            }

            .img-content{
                width: 100%;
                .col-img{
                    position: relative;
                    padding-bottom: 66.7%;

                    img{
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .science-content{
            margin-top: 26px;
            margin-bottom: 45px;

            &.bottom-block {
                margin-top: 40px;
                margin-bottom: 45px;

                h4{
                    font-size: 22px;
                    line-height: 29px;
                    letter-spacing: -0.3px;
                    margin-bottom: 13px;
                }
            }

            h4{
                margin-top: 0px;
                font-size: 27px;
                margin-bottom: 12px;
                line-height: 33px;
            }

            p{
                font-size: 16px;
                line-height: 22px;
            }
        }

        .science-content-videos{
            padding: 0px 0px 40px;

            .text-title{
                h5{
                    font-size: 16px;
                    line-height: 19px;
                    margin-bottom: 5px;
                }

                p{
                    font-size: 12px;
                    line-height: 17px;
                    max-width: 230px;
                    margin: auto;
                }
            }

            .img-videos{
                margin-top: 38px;
                position: relative;
                padding-bottom: 63%;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .openVideo{
                width: 58px;
                height: 58px;

                img{
                    width: 58px;
                    height: 58px;
                }
            }

            .modal-videos {
                .videos{
                    width: calc(100% - 40px);
                }

                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}

.story.big-section-index{
    padding: 41px 0px 48px;

    @media (max-width: 767px) {
        padding: 34px 0px;
    }
}

#meet-our-ambassadors{
    max-width: 1116px;
    margin: auto;

    .title{
        font-size: 38px;
        font-weight: 600;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    #main-meet-our{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 18px;

        .item-blog{
            width: 26.6%;
            margin-right: 10.1%;

            &:last-child{
                margin-right: 0px;
            }
        }

        .post-img{
            padding-bottom: 101%;
            position: relative;

            img{
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        h2{
            margin-top: 12px;

            a{
                font-weight: 600;
                font-size: 22px;
                color: #004936;
            }
        }
    }

    .link-meet-our{
        a{
            color: #004936;
            font-size: 18px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;

            svg{
                margin-outside: 4px;
            }
        }
    }

    @media (max-width: 767px) {
        padding: 0px 15px;

        .title{
            font-size: 25px;
            margin-bottom: 34px;
        }

        #main-meet-our{
            margin-bottom: 15px;

            .post-img{
                padding-bottom: 148%;
            }

            .item-blog{
                width: 100%;
                margin-right: 0px;
                margin-bottom: 30px;

                &:last-child{
                    margin-bottom: 0px;
                }
            }

            h2 {
                margin-top: 6px;

                a{
                    font-size: 18px;
                }
            }
        }

        .link-meet-our{
            a{
                font-size: 16px;
            }
        }
    }
}

//discover Homepage
//=======================================

.discover{
    padding-top: 98px;

    .container{
        max-width: 1560px;
        margin: auto;
        padding: 0px 35px;
    }
}

#blog-discover-muniq{
    width: 100%;
    padding: 0px 50px;

    .main-discover-muniq{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    .itemBlog-homepage{
        text-align: center;

        .post-img{
            margin-bottom: 30px;
        }

        h4{
            font-size: 22px;
            font-weight: 600;
            color: #004936;
            line-height: 26px;
            margin-bottom: 4px;
        }

        .link-blog{
            display: block;
            font-size: 40px;
            font-weight: 500;
            color: #004936;
            line-height: 50px;
            margin-bottom: 20px;
        }

        .see-all{
            font-size: 18px;
            font-weight: bold;
            font-family: "Roboto", sans-serif;

            svg{
                margin-top: 8px;
                margin-left: 10px;
            }
        }
    }

    .left-content{
        width: 50%;
        padding-right: 100px;
        margin-top: 90px;
        padding-left: 50px;

        .heading{
            font-size: 45px;
            font-weight: 600;
            color: #004936;
            margin-bottom: 20px;
        }

        p{
            font-size: 26px;
            line-height: 35px;
            color: #497C6D;
        }

        .item-ambassador{
            margin-top: 130px;
        }
    }

    .right-content{
        width: 50%;
        padding-left: 50px;

        .itemBlog-homepage{
            .post-img{
                padding: 0px 50px;
            }
        }

        .item-ambassador{
            margin-bottom: 97px;
        }
    }

    @media (max-width: 1280px) {
        padding: 0px;
    }

    @media (max-width: 1024px) {
        padding: 60px 0px 0px;
        .left-content{
            padding:0px 25px;

            .heading{
                font-size: 28px;
                line-height: 34px;
            }

            p{
                font-size: 22px;
                line-height: 27px;
            }
        }

        .right-content{
            padding-left: 25px;

            .itemBlog-homepage{
                .post-img{
                    padding: 0px 25px 0px 0px;
                }
            }
        }

        .itemBlog-homepage {
            .link-blog{
                font-size: 25px;
                line-height: 32px;
            }

            h4{
                font-size: 18px;
                line-height: 32px;
            }

            .see-all{
                font-size: 16px;
            }
        }
    }

    @media (max-width: 767px) {
        .main-discover-muniq{
            padding-bottom: 15px;
        }

        .left-content{
            width: 100%;
            padding: 0px;
            margin-bottom: 40px;
            margin-top: 0px;

            .heading{
                margin-bottom: 15px;
            }

            .item-ambassador{
                margin-top: 60px;
            }
        }

        .right-content{
            width: 100%;
            padding-left: 0px;

            .itemBlog-homepage {
                margin-bottom: 39px;

                .post-img{
                    padding-right: 0px;
                    padding-bottom: 125% !important;
                }
            }
        }

        .itemBlog-homepage{
            .post-img{
                position: relative;
                padding-bottom: 148% !important;
                margin-bottom: 18px;

                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .link-blog{
                margin-bottom: 10px;
            }

            h4{
                margin-bottom: 2px;
            }
        }
    }
}
