{{#partial "page"}}
<div class="page">

    <main class="page-content" data-cart>
        
        <div class="container">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
             {{> components/cart/page-title}}
            
        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            <div data-cart-content>
                {{> components/cart/content}}
            </div>

            <div data-cart-totals>
                {{> components/cart/totals}}
            </div>

            {{#if cart.show_primary_checkout_button}}
                <div class="cart-actions">
                    <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                    <!--<a class="button button&#45;&#45;primary button-mobile" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">Checkout with <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/bitmap.png?t=1581614114&_ga=2.190802668.658644374.1581300030-1454440453.1565840515"></a>-->
                </div>
            {{else}}
                <div class="cart-actions">
                    <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                </div>
            {{/if}}

            {{#if cart.additional_checkout_buttons}}
                <div class="cart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <h3>{{lang 'cart.checkout.empty_cart'}}</h3>
        {{/if}}

        {{{snippet 'cart'}}}
        </div>
    </main>
</div>
{{/partial}}
{{> layout/base}}
