<h2 class="section-title">The Goods</h2>
<div class="benefits-list">
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits1.png'}}" alt=""></div>
        <h3 class="benefits-title">Improve Gut Health</h3>
        <p>Good health starts in the gut. Give yours what it needs to thrive</p>
        <h4 class="expanded">Your gut microbiome plays an essential role in your overall health. Muniq harnesses your microbiome by delivering the right nutrients at the right time to the trillions of microbes that live in your gut.</h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits2.png'}}" alt=""></div>
        <h3 class="benefits-title">Promote Healthy Blood Sugar</h3>
        <p>Naturally improve blood sugar and insulin sensitivity</p>
        <h4 class="expanded">Prebiotic resistant starch helps you avoid frustrating spikes and crashes, improves insulin sensitivity, and helps reduce average blood sugar levels (aka A1C) over time.  </h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits3.png'}}" alt=""></div>
        <h3 class="benefits-title">Satisfy Hunger</h3>
        <p>A delicious way to feel full for up to four hours</p>
        <h4 class="expanded">Hunger and sugar cravings lead to unhealthy eating habits. One Muniq shake can keep you nourished and satisfied for 4 hours, which means you won’t be constantly looking for your next snack, and can stay on track with your weight loss goals. </h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits4.png'}}" alt=""></div>
        <h3 class="benefits-title">Prebiotic Resistant Starch</h3>
        <p>Powered by green bananas to provide 50% of your daily fiber </p>
        <h4 class="expanded">We all know that fiber is important for better health. And yet, practically none of us come close to getting enough. Resistant starch is a super-powered prebiotic fiber that nourishes your gut from the inside out. Getting your daily dose of fiber just became something delicious to look forward to. </h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits5.png'}}" alt=""></div>
        <h3 class="benefits-title">Clinically Proven Benefits</h3>
        <p>We’re serious about our science </p>
        <h4 class="expanded">Muniq shakes are formulated with only the highest quality ingredients that are proven effective by over 300 clinical studies. No fads or empty promises here.  Just real nutrition designed to not only taste amazing but also truly transform your health with every sip. </h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits6.png'}}" alt=""></div>
        <h3 class="benefits-title">Tastes Great</h3>
        <p>No need to compromise your taste buds</p>
        <h4 class="expanded">We were so tired of gritty, bland, bitter shakes that we decided to take matters into our own lab.  The result?  Creamy and decadent deliciousness. And with zero sugar and no artificial ingredients, you can feel great about indulging every day.</h4>
        <div class="drop"><span class="minus"><i class="fa fa-minus"></i></span><span class="plus"><i class="fa fa-plus"></i></span></div>
    </div>
</div>
