<h2 class="section-title">Three Easy Steps To Enjoy A Muniq Life</h2>
<div class="step-container">
    <div class="steps">
        <div class="step">
            <div class="step-img"><img src="{{cdn 'assets/img/home/step1.png'}}" alt=""></div>
            <div class="step-content">
                <h4>1. Start here</h4>
                <p>Take our quiz to learn how Muniq can supercharge your health. Let’s crush those goals together!</p>
            </div>
        </div>
        <div class="step">
            <div class="step-img"><img src="{{cdn 'assets/img/home/step2.png'}}" alt=""></div>
            <div class="step-content">
                <h4>2. Enjoy daily</h4>
                <p>No more guesswork -- we’ll send you exactly what you need to start transforming your health one day at a time. You’ll be whipping up shakes in no time.</p>
            </div>
        </div>
        <div class="step">
            <div class="step-img"><img src="{{cdn 'assets/img/home/step3.png'}}" alt=""></div>
            <div class="step-content">
                <h4>3. Experience uplifting results</h4>
                <p>Whether you’re looking to improve digestive health, reduce blood sugar, lose weight, or just get your gut in top form, you will see life-changing results with Muniq! </p>
            </div>
        </div>
    </div>
    <p class="cta">
        <a class="heroCarousel-action button--secondary" href="#">Get started</a>
    </p>

</div>
