<div class="home-banner">
    <picture>
        <source media="(min-width: 992px)" srcset="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/muniq6275.jpg?t=1581823811&_ga=2.36715879.658644374.1581300030-1454440453.1565840515">
        <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/muniq6275.jpg?t=1581823811&_ga=2.36715879.658644374.1581300030-1454440453.1565840515" alt="" >
    </picture>
    <p><a class="heroCarousel-action button--secondary" href="#">Get started</a></p>
</div>
