<h2 class="section-title">
    How gut health works
</h2>
<div class="works-list">
    <div class="work-content">
        <div class="works-img">
            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/health.png" alt="">
        </div>
        <div class="works-text">
            <div class="works-info">
                <div class="work">
                    <h4>Sed diam nonummy nibh</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobort.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="work-content">
        <div class="works-img">
            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/health.png" alt="">
        </div>
        <div class="works-text">
            <div class="works-info">
                <div class="work">
                    <h4>Sed diam nonummy nibh</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobort.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="work-content">
        <div class="works-img">
            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/health.png" alt="">
        </div>
        <div class="works-text">
            <div class="works-info">
                <div class="work">
                    <h4>Sed diam nonummy nibh</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobort.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p><img src="{{cdn 'assets/img/home/line-icon.png'}}" alt=""></p>
