<div class="video-image">
    <picture>
        <source media="(min-width: 992px)" srcset="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/thumbnail1.jpg?t=1582270168&_ga=2.118539977.1167332810.1581920017-1454440453.1565840515">
        <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/thumbnail1.jpg?t=1582270168&_ga=2.118539977.1167332810.1581920017-1454440453.1565840515" alt="" >
    </picture>
</div>
<div class="video-content">
    <h2 class="section-title">The Muniq Story</h2>
    <div class="video-text">
        <span>Inspired by Family, Crafted by Science</span>
        <span class="play-video"><i class="fa fa-play" aria-hidden="true"></i></span>
    </div>
    <div class="video-popup">
        <span class="close-video">x</span>
        <video id="video" controls>
            <source src="{{ cdn 'assets/img/video.mp4'}}" type="video/mp4">
        </video>
    </div>
</div>
