<div class="reviews-list">
    <div class="review-content">
        <h4>I made it from breakfast all the way through lunch, 160 calories, no blood sugar crash, no snacking, it was amazing!</h4>
        <p><span>—Keats E.</span></p>
    </div>
    <div class="review-content">
        <h4>It’s delicious, satisfying and my blood sugar levels are good</h4>
        <p><span>—Nicole C.</span></p>
    </div>
    <div class="review-content">
        <h4>I don’t need to go to Starbucks anymore, this Mocha Latte hits that need and it’s healthy!</h4>
        <p><span>—Sarah B.</span></p>
    </div>

    <div class="review-content">
        <h4>I would recommend this product to anybody who has stomach issues</h4>
        <p><span>—Richard C.</span></p>
    </div>
    <div class="review-content">
        <h4>After 21 days I lost 10lbs, I went to the doctor and we were all excited that my blood sugar numbers were lower.</h4>
        <p><span>—Aishah W.</span></p>
    </div>
    <div class="review-content">
        <h4>It’s filling and really tastes like a chocolate shake I could look forward to drink every day</h4>
        <p><span>—Aaron B.</span></p>
    </div>
    <div class="review-content">
        <h4>I was so amazed that my fasting blood sugar went down. It was a miracle!</h4>
        <p><span>—Sarah B.</span></p>
    </div>
</div>
<p><img src="{{cdn 'assets/img/home/line-icon.png'}}" alt=""></p>
