<div class="form-field {{toLowerCase this.display_name}}" data-product-attribute="set-rectangle">

    <label class="form-label form-label--alternate form-label--inlineSmall active">
        {{#if this.display_name '==' 'Deliver every'}}
        <input class="box-deliver every-box" type="radio" checked>
        <span class="active-option"></span>
        {{/if}}
        {{this.display_name}}:
        <span data-option-value></span>
        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>
    {{#each this.values}}
        <div class="option">
            <input
                    class="form-radio"
                    type="radio"
                    id="attribute_{{id}}"
                    name="attribute[{{../id}}]"
                    value="{{id}}"
                    {{#if selected}}checked{{/if}}
            {{#if ../required}}required{{/if}}>
            <label class="form-option" for="attribute_{{id}}" data-product-attribute-value="{{id}}">

                {{#if this.label '==' 'Send every 2 weeks'}}
                <span class="form-option-variant">2</span>
                {{else if this.label '==' 'Send every 4 weeks'}}
                <span class="form-option-variant">4</span>
                {{else if this.label '==' 'Send every 6 weeks'}}
                <span class="form-option-variant">6</span>
                {{else }}
                <span class="form-option-variant">{{this.label}}</span>
                {{/if}}
            </label>
            {{#if this.label '==' '14'}}
            <span>Gut a taste</span>
            {{else if this.label '==' '28'}}
            <span>Gut better savings</span>
            {{else if this.label '==' '42'}}
            <span>Gut long-lasting health</span>
            {{/if}}
        </div>

    {{/each}}
</div>
