<div class="cart" data-cart-quantity="{{cart.quantity}}">
    <div class="item-cart-header">
        <div class="cart-header-item title-item">{{lang 'cart.checkout.item'}}</div>
        <div class="cart-header-item item-qty cart-header-quantity">{{lang 'cart.checkout.quantity'}}</div>
        <div class="cart-header-item item-total">{{lang 'cart.checkout.total'}}</div>
    </div>
    <div class="content-cart-list">
        {{#each cart.items}}
            <div class="boxcart-item" data-item-row>
                <div class="cart-item-block cart-item-title">
                    <div class="img-product">
                        {{#if type '==' 'GiftCertificate'}}
                        <img class="cart-item-fixed-image" src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                        {{else}}
                        <img class="cart-item-image" src="{{getImage image 'productthumb_size' (cdn ../../theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
                        {{/if}}
                    </div>
                    <div class="title-product">
                        {{#if brand.name}}
                            <p class="cart-item-brand">{{brand.name}}</p>
                        {{/if}}
                        <h4 class="cart-item-name">
                            <a href="{{url}}">{{name}} -
                                <span>
                            {{#if options}}
                                {{#each options}}
                                    {{#if name "==" "Flavor"}}
                                        {{{value}}}
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                                    </span>
                            </a>
                        </h4>

                        {{# if can_modify}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">remove</a>
                        {{/if}}
                        {{#if type '==' 'GiftCertificate'}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">remove</a>
                        {{/if}}

                        {{#if release_date}}
                            <p>({{release_date}})</p>
                        {{/if}}

                        {{#if configurable_fields}}
                            <dl class="definitionList">
                                {{#each configurable_fields}}
                                    <dt class="definitionList-key">{{name}}:</dt>
                                    <dd class="definitionList-value">
                                        {{#if is_file}}
                                            <a href="/viewfile.php?prodfield={{../id}}&cartitem={{../../id}}">{{{value}}}</a>
                                        {{else}}
                                            {{{value}}}
                                        {{/if}}
                                    </dd>
                                {{/each}}
                            </dl>
                        {{/if}}

                        <!--{{#if options}}-->
                            <!--<dl class="definitionList">-->
                                <!--{{#each options}}-->
                                    <!--<dt class="definitionList-key">{{name}}:</dt>-->
                                    <!--<dd class="definitionList-value">-->
                                        <!--{{#if is_file}}-->
                                            <!--<a href="/viewfile.php?attributeId={{../id}}&cartitem={{../../id}}">{{{value}}}</a>-->
                                        <!--{{else}}-->
                                            <!--{{{value}}}-->
                                        <!--{{/if}}-->
                                    <!--</dd>-->
                                <!--{{/each}}-->
                            <!--</dl>-->
                        <!--{{/if}}-->

                        <!--{{#or options configurable_fields}}-->
                            <!--<a href="#" data-item-edit="{{id}}">{{lang 'cart.checkout.change'}}</a>-->
                        <!--{{/or}}-->

                        {{#if type '==' 'GiftCertificate'}}
                            <a href="{{edit_url}}">{{lang 'cart.checkout.change'}}</a>
                        {{/if}}
                        {{> components/cart/item-giftwrap this}}
                        {{#if event_date}}
                            <dl class="cart-item-options">
                                <dt class="cart-item-option-title">
                                    {{event_date.name}}
                                </dt>

                                <dd class="cart-item-option-description">
                                    {{event_date.date}}
                                </dd>
                            </dl>
                        {{/if}}
                    </div>

                </div>
                <!--<td class="cart-item-block cart-item-info">-->
                    <!--<span class="cart-item-label">{{lang 'cart.checkout.price'}}</span>-->
                    <!--{{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}-->
                        <!--<span class="cart-item-value {{#if price_discounted}}price&#45;&#45;discounted{{/if}}">{{price.formatted}}</span>-->
                        <!--{{#if price_discounted}}-->
                            <!--<span class="cart-item-value">{{price_discounted.formatted}}</span>-->
                        <!--{{/if}}-->
                    <!--{{else}}-->
                        <!--{{> components/common/login-for-pricing}}-->
                    <!--{{/or}}-->
                <!--</td>-->

                <div class="cart-item-block cart-item-info cart-item-quantity">

                    <label class="form-label cart-item-label" for="qty-{{id}}">Quantity:</label>
                    <div class="form-increment">
                        {{# if can_modify}}
                            <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="dec">
                                <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="2px" viewBox="0 0 10 2" version="1.1">
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Muniq-Cart" transform="translate(-1093.000000, -409.000000)" fill="#004936"><g id="Group-2" transform="translate(1085.000000, 398.000000)"><g id="Group-7" transform="translate(8.000000, 7.000000)"><rect id="Rectangle" x="0" y="4" width="10" height="2"/></g></g></g></g>
                                </svg>
                            </button>
                        {{/if}}
                        <span class="number-qty">
                            <span class="text-save">
                                {{#if options}}
                                    {{#each options}}
                                        {{#if name "==" "QUANTITY"}}
                                            <span class="item-save {{dashcase name}}" dataNumber="{{{value}}}">{{{value}}} servings </span>
                                        {{/if}}
                                    {{/each}}
                                {{/if}}
                            </span>
                            ({{quantity}} Bag)
                            <input class="form-input form-input--incrementTotal"
                               id="qty-{{id}}"
                               name="qty-{{id}}"
                               type="hidden"
                               value="{{quantity}}"
                               data-quantity-min="{{min_purchase_quantity}}"
                               data-quantity-max="{{max_purchase_quantity}}"
                               data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                               data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                               min="1"
                               pattern="[0-9]*"
                               aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                        </span>
                        {{# if can_modify}}
                            <button class="button button--icon" data-cart-update data-cart-itemid="{{id}}" data-action="inc">
                                <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px" viewBox="0 0 10 10" version="1.1"><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Muniq-Cart" transform="translate(-1280.000000, -405.000000)" fill="#004936"><g id="Group-2-Copy" transform="translate(1272.000000, 398.000000)"><g id="Group-7" transform="translate(8.000000, 7.000000)">
                                    <rect id="Rectangle" x="0" y="4" width="10" height="2"/><rect id="Rectangle-Copy-5" transform="translate(5.000000, 5.000000) rotate(-270.000000) translate(-5.000000, -5.000000) " x="0" y="4" width="10" height="2"/></g></g></g></g>
                                </svg>
                            </button>
                        {{/if}}

                        <div class="text-delivered">Delivered
                            {{#if options}}
                                {{#each options}}
                                    {{#if name "==" "Deliver every"}}
                                        {{#if value "==" "Send every 2 weeks"}}
                                            <span class=" {{dashcase name}}">every 2 weeks</span>
                                        {{else if value "==" "Send every 4 weeks"}}
                                            <span class=" {{dashcase name}}">every 4 weeks</span>
                                        {{else if value "==" "Send every 6 weeks"}}
                                            <span class=" {{dashcase name}}">every 6 weeks</span>
                                        {{else}}
                                            <span class=" {{dashcase name}}">{{{value}}}</span>
                                        {{/if}}
                                    {{/if}}
                                {{/each}}
                            {{/if}}
                        </div>

                    </div>

                </div>

                <div class="cart-item-block cart-item-info cart-item-total">
                    <span class="cart-item-label">Price:</span>
                    <div class="content-itemTotal">
                        {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                        <strong class="cart-item-value {{#if total_discounted}}price--discounted{{/if}}">{{total.formatted}}</strong>
                        {{#if total_discounted}}
                        <strong class="cart-item-value">{{total_discounted.formatted}}</strong>
                        {{/if}}
                        {{else}}
                        {{> components/common/login-for-pricing}}
                        {{/or}}
                        {{# if can_modify}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg><use xlink:href="#icon-close"></use></svg>
                        </a>
                        {{else}}
                        {{#if type '==' 'GiftCertificate'}}
                        <a class="cart-remove icon" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                            <svg><use xlink:href="#icon-close"></use></svg>
                        </a>
                        {{/if}}
                        {{/if}}
                        <div class="item-save-total">
                            {{#each custom_fields}}
                            {{#if name "==" "[subscription][14]"}}
                            <span class="subItem-save" dataSave="14">{{{value}}}</span>
                            {{/if}}
                            {{#if name "==" "[subscription][28]"}}
                            <span class="subItem-save" dataSave="28">{{{value}}}</span>
                            {{/if}}
                            {{#if name "==" "[subscription][42]"}}
                            <span class="subItem-save" dataSave="42">{{{value}}}</span>
                            {{/if}}
                            {{#if name "==" "[onetime][14]"}}
                            <span class="subItem-save data-14" dataSave="onetime14"></span>
                            {{/if}}
                            {{#if name "==" "[onetime][28]"}}
                            <span class="subItem-save data-28" dataSave="onetime28">{{{value}}}</span>
                            {{/if}}
                            {{#if name "==" "[onetime][42]"}}
                            <span class="subItem-save data-42" dataSave="onetime42">{{{value}}}</span>
                            {{/if}}
                            {{/each}}

                            <!--{{#if options}}-->
                            <!--{{#each options}}-->
                            <!--{{#if name "==" "QUANTITY"}}-->
                            <!--{{#if value "==" "14"}}-->
                            <!--<span class="subItem-save">(save 20%)</span>-->
                            <!--{{/if}}-->
                            <!--{{#if value "==" "28"}}-->
                            <!--<span class="item-save">(save 33%)</span>-->
                            <!--{{/if}}-->
                            <!--{{#if value "==" "42"}}-->
                            <!--<span class="item-save">(save 33%)</span>-->
                            <!--{{/if}}-->
                            <!--{{/if}}-->
                            <!--{{/each}}-->
                            <!--{{/if}}-->
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>


