<div class="{{lang 'ap-base-2.slideshow.on-off-section' }} block-hero-2"> 
    {{#block "hero"}} {{/block}}
</div>
<div class="container-width">
    {{#if banners.top}}
    <div class="banners clearfix" data-banner-location="top">
        <div class="banner banner-top">
            {{{limit banners.top 1}}}
        </div>
    </div>
    {{/if}}
    <div class="big-section-index benefits">
        <div class="container">
            {{> components/home/benefits }}
        </div>
    </div>
    <div class="big-section-index home-banner">
        <div class="container">
            {{> components/home/home-banner }}
        </div>
    </div>
    <div class="big-section-index enjoy-step">
        <div class="container">
            {{> components/home/enjoy-step }}
        </div>
    </div>
    <div class="big-section-index our-story">
        <div class="container">
            {{> components/home/our-story }}
        </div>
    </div>
    <div class="big-section-index discover">
        <div class="container">
            {{> components/home/discover }}
        </div>
    </div>
    <div class="big-section-index subscription">
        <div class="container">
            {{> components/home/subscription }}
        </div>
    </div>
    <div class="big-section-index instagram">
        <div class="container">
            {{> components/custom-snippet/instagram }}
        </div>
    </div>
    <div class="big-section-index review">
        <div class="container">
            {{> components/home/review }}
        </div>
    </div>
</div>
