<div class="heroCarousel-content{{#unless show_background}} heroCarousel-content--empty{{/unless}}">
    <h1 class="heroCarousel-title">{{{heading}}}</h1>
     <p class="heroCarousel-description">{{{text}}}</p>
    <div class="link-banner">
    <span class="heroCarousel-action button button--secondary button--large">Get Started</span>
    {{#if button_text}}
        <span class="heroCarousel-action button button--primary button--large"><a href="{{url}}">{{button_text}} <i class="fa fa-chevron-right"></i></a></span>
    {{/if}}
    </div>

</div>
