<section class="heroCarousel"
    data-slick='{
        "dots": true,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": {{carousel.swap_frequency}}
    }'>
    {{#each carousel.slides}}
    <div class="heroCarousel-slide {{#if ../theme_settings.homepage_stretch_carousel_images}}heroCarousel-slide--stretch{{/if}}">
        <img class="heroCarousel-image" src="{{image}}" alt="{{alt_text}}" title="{{alt_text}}"/>
        {{#if heading}}
            {{> components/carousel-content show_background=false}}
        {{else}}
            {{#if text}}
                {{> components/carousel-content show_background=false}}
            {{else}}
                {{#if button_text}}
                    {{> components/carousel-content show_background=false}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
    {{/each}}
</section>
