<div class="form-field form-field--increments">
    <label class="form-label form-label--alternate"
           for="qty[]">{{lang 'products.quantity'}} <span>(Each Bag Contains 14 Servings)</span></label>

    <div class="form-increment" data-quantity-change>
        <button class="button button--icon" data-action="dec">
            <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
            <i class="fa fa-minus"></i>
<!--            <i class="icon" aria-hidden="true">-->
<!--                <svg>-->
<!--                    <use xlink:href="#icon-keyboard-arrow-down"/>-->
<!--                </svg>-->
<!--            </i>-->
        </button>
        <input class="form-input form-input--incrementTotal"
               id="qty[]"
               name="qty[]"
               type="tel"
               value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
               data-quantity-min="{{product.min_purchase_quantity}}"
               data-quantity-max="{{product.max_purchase_quantity}}"
               min="1"
               pattern="[0-9]*"
               aria-live="polite">
        <button class="button button--icon" data-action="inc">
            <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
            <i class="fa fa-plus"></i>
<!--            <i class="icon" aria-hidden="true">-->
<!--                <svg>-->
<!--                    <use xlink:href="#icon-keyboard-arrow-up"/>-->
<!--                </svg>-->
<!--            </i>-->
        </button>
    </div>
    <p>Take <span>Additional 5% </span>off each bag when purchased more than 1</span></p>
</div>
<div class="productView-price">
    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    {{> components/products/price price=product.price schema_org=schema}}
    {{else}}
    {{> components/common/login-for-pricing}}
    {{/or}}
</div>
<div class="alertBox productAttributes-message" style="display:none">
    <div class="alertBox-column alertBox-icon">
        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
    </div>
    <p class="alertBox-column alertBox-message"></p>
</div>
{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    <div class="form-action">
        <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit"
            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}Start now{{/if}}">
    </div>
    <p class="text-center">Free shipping. "Gut Happy" risk-free guarantee.</p>
     {{{snippet 'product_addtocart'}}}
{{/or}}
