<article class="card {{#if alternate}}card--alternate{{/if}} clearfix">
    <figure class="card-figure">
        {{#or price.non_sale_price_with_tax price.non_sale_price_without_tax}}
            {{#if theme_settings.product_sale_badges '===' 'sash'}}
                <div class="sale-flag-sash">
                    <span class="sale-text">Sale</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'topleft'}}
                <div class="sale-flag-side">
                    <span class="sale-text">Sale</span>
                </div>
            {{else if theme_settings.product_sale_badges '===' 'burst'}}
                <div class="starwrap">
                    <div class="sale-text-burst">Sale</div>
                    <div class="sale-flag-star"></div>
                </div>
            {{/if}}
        {{/or}}
        <a href="{{url}}" class="product_img_link">
            <img class="card-image lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{image.alt}}" title="{{image.alt}}">
            {{#each (limit images 2)}}
                {{#if @index '>' 0}}
                <span class="product-additional" data-product-id="{{id}}">            
                 <img class="replace-2x img-responsive" src="{{getImage this 'productgallery_size' (cdn theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                </span>
                {{/if}}
            {{/each}}
        </a>
        <figcaption class="card-figcaption">
            {{#if setting_show.show_wishlist }}
                <div class="box-wishlist {{#if show_compare}}true-compare {{/if}}">
                    <form class="form" method="post" action="{{add_to_wishlist_url}}" data-wishlist-add>
                        <div class="form-action">
                            <input type="hidden" name="variation_id" value="">
                            {{!--<input class="button button--small card-figcaption-button" type="submit" value="{{lang 'account.wishlists.add_item'}}">--}}
                            <button class="button button--small card-figcaption-button" type="submit">{{lang 'products.wishlist'}}
                                    <span class="icons icon_heart"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 471.7 471.7"><path d="M433.6 67c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7 13.6-92.4 38.3l-12.9 12.9-13.1-13.1c-24.7-24.7-57.6-38.4-92.5-38.4-34.8 0-67.6 13.6-92.2 38.2-24.7 24.7-38.3 57.5-38.2 92.4 0 34.9 13.7 67.6 38.4 92.3l187.8 187.8c2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-3.9l188.2-187.5c24.7-24.7 38.3-57.5 38.3-92.4C471.8 124.5 458.3 91.7 433.6 67zM414.4 232.7l-178.7 178-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3s10.7-53.7 30.3-73.2c19.5-19.5 45.5-30.3 73.1-30.3 27.7 0 53.8 10.8 73.4 30.4l22.6 22.6c5.3 5.3 13.8 5.3 19.1 0l22.4-22.4c19.6-19.6 45.7-30.4 73.3-30.4 27.6 0 53.6 10.8 73.2 30.3 19.6 19.6 30.3 45.6 30.3 73.3C444.8 187.1 434 213.1 414.4 232.7z"/></svg></span>                                    
                            </button>
                        </div>
                    </form>
                </div>
            {{/if}}
            <div class="card-figcaption-body flex-box">
                {{#unless hide_product_quick_view}}
                    {{#if theme_settings.show_product_quick_view}}
                        <div class="flex-item flex-quick-view">
                        <a href="#" class="button button--small card-figcaption-button quickview" data-product-id="{{id}}"><span class="hidden">{{lang 'products.quick_view'}}</span>
                            <span class="icons"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76.7 76.7"><path d="M76.3 37.1C64.3 22.5 51.3 15.3 37.8 15.7 16 16.3 1 36.3 0.4 37.2c0 0 0 0.1-0.1 0.1 0 0 0 0.1-0.1 0.1 0 0.1-0.1 0.2-0.1 0.2 0 0 0 0.1 0 0.1 0 0.1 0 0.2-0.1 0.2 0 0.1 0 0.1 0 0.2C0 38.2 0 38.3 0 38.4c0 0.1 0 0.1 0 0.2 0 0.1 0 0.1 0 0.2 0 0.1 0 0.2 0.1 0.2 0 0 0 0.1 0 0.1 0 0.1 0.1 0.2 0.1 0.2 0 0 0 0.1 0.1 0.1 0 0 0 0.1 0.1 0.1 0.6 0.9 15.6 20.9 37.4 21.5 0.3 0 0.7 0 1 0 13.1 0 25.8-7.2 37.5-21.5 0.3-0.4 0.4-0.8 0.4-1.3C76.7 37.9 76.6 37.5 76.3 37.1zM37.9 57.1C21 56.6 8 42.6 4.6 38.4c3.5-4.2 16.4-18.3 33.4-18.7 11.8-0.3 23.3 6 34.2 18.7C61.2 51.1 49.8 57.4 37.9 57.1z"/><path d="M39.4 25.2c-7.3 0-13.2 5.9-13.2 13.2 0 7.3 5.9 13.2 13.2 13.2s13.2-5.9 13.2-13.2C52.5 31.1 46.6 25.2 39.4 25.2zM39.4 47.5c-5.1 0-9.2-4.1-9.2-9.2 0-5.1 4.1-9.2 9.2-9.2s9.2 4.1 9.2 9.2S44.4 47.5 39.4 47.5z"/></svg></span>
                        </a>
                        </div>
                    {{/if}}
                {{/unless}}
                  {{#if show_compare}}
                   <div class="flex-item flex-compare">
                        <label class="button button--small card-figcaption-button" for="compare-{{id}}">
                            <input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}" class="checkbox-compare">
                            <span class="icons icon_compare"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.1 34.1"><path d="M17 32.6c-6.6 0-12.5-4.2-14.7-10.5 -0.2-0.5 0.1-1 0.6-1.1 0.5-0.2 1 0.1 1.1 0.6 1.9 5.6 7.1 9.3 13 9.3 7.6 0 13.8-6.2 13.8-13.8 0-0.5 0.4-0.9 0.9-0.9 0.5 0 0.9 0.4 0.9 0.9C32.6 25.6 25.6 32.6 17 32.6z" class="a"/><path d="M2.4 17.9c-0.5 0-0.9-0.4-0.9-0.9 0-8.6 7-15.5 15.5-15.5 6.6 0 12.5 4.2 14.7 10.5 0.2 0.5-0.1 1-0.6 1.1 -0.5 0.2-1-0.1-1.1-0.6 -1.9-5.6-7.1-9.3-13-9.3 -7.6 0-13.8 6.2-13.8 13.8C3.3 17.5 2.9 17.9 2.4 17.9z" class="a"/><path d="M30.8 13.3c-0.1 0-0.2 0-0.3 0l-6.2-1.9c-0.5-0.1-0.7-0.6-0.6-1.1 0.1-0.5 0.6-0.7 1.1-0.6l5.4 1.7 2-5.1c0.2-0.5 0.7-0.7 1.2-0.5 0.5 0.2 0.7 0.7 0.5 1.2l-2.3 5.8C31.5 13.1 31.2 13.3 30.8 13.3z" class="a"/><path d="M0.9 28.3c-0.1 0-0.2 0-0.3-0.1 -0.5-0.2-0.7-0.7-0.5-1.2l2.3-5.8c0.2-0.4 0.6-0.7 1.1-0.5l6.2 1.9c0.5 0.1 0.7 0.6 0.6 1.1 -0.1 0.5-0.6 0.7-1.1 0.6l-5.4-1.7 -2 5.1C1.6 28.1 1.2 28.3 0.9 28.3z" class="a"/></svg></span>
                        </label>
                    </div>
                {{/if}}
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    {{#if show_cart_action}}
                        {{#if has_options}}
                         <div class="flex-item flex-cart">
                            <a href="{{url}}" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                         </div>
                        {{/if}}
                        {{#if pre_order}}
                        <div class="flex-item flex-cart">
                            <a href="{{url}}" class="button button--small card-figcaption-button">{{lang 'products.pre_order'}}</a>
                         </div>
                        {{/if}}
                        {{#if add_to_cart_url }}
                        <div class="flex-item flex-cart">
                            <a href="{{add_to_cart_url}}" class="button button--small card-figcaption-button">{{lang 'products.add_to_cart'}}</a>
                            </div>
                        {{/if}}
                        {{#if out_of_stock_message }}
                        <div class="flex-item flex-cart">
                            <a href="{{url}}" class="button button--small card-figcaption-button" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                            </div>
                        {{/if}}
                    {{/if}}
                {{/or}}
            </div>
        </figcaption>
    </figure>
    <div class="card-body">
         <h4 class="card-title">
            <a href="{{url}}">{{name}}</a>
        </h4>
        {{#if show_rating}}
            <p class="card-text" data-test-info-type="productRating">
                <span class="rating--small">
                    {{> components/products/ratings rating=rating}}
                </span>
            </p>
        {{/if}}
        <div class="card-text" data-test-info-type="price">
            {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                {{> components/products/price price=price customer=customer}}
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
         {{#if theme_settings.show_product_card_countdown}}
        <div class="deal-clock lof-clock-{{id}}-detail">
            <time>
            {{#each custom_fields}}
            {{#if name '===' 'countdown'}}
                {{{value}}}
            {{/if}}
            {{/each}}
            </time>
        </div>
        {{/if}}
        {{#if summary}}
        <div class="description">
            <p>{{{summary}}}</p>
            </div>
        {{/if}}
    </div>
</article>
