<div class="section__title ">
        {{#if theme_settings.theme_variation '==' 'ap-base-1'}}
        <h2 class="page-heading">{{lang 'ap-base-1.new-products.new' }}</h2>
        {{else if theme_settings.theme_variation '==' 'ap-base-2'}}
        <h2 class="page-heading">{{lang 'ap-base-2.products-tab.title' }}</h2>
        {{else if theme_settings.theme_variation '==' 'ap-base-3'}}
        <h2 class="page-heading">{{lang 'ap-base-3.products-new.new' }}</h2>
        <span class="des_productlist">The best facility-related products and services on the market.</span>
        {{else}}
        <h2 class="page-heading">{{lang 'ap-base-4.new-products.new' }}</h2>
        {{/if}}
</div>
<section class="productCarousel"
    data-slick='{
        "dots": false,
        "arrows": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": {{ columns }}
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 2
                }
            }
        ]
    }'
>
    {{#each products}}
    <div class="productCarousel-slide product">
        {{> components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_compare=../settings setting_show = ../settings}}
    </div>
    {{/each}}
</section>
