{{#or has_options product.options.length}}
    {{#if price.with_tax}}
        <div class="price-section price-section--withTax" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            {{#if page_type '!==' 'product'}}
                {{#if theme_settings.price_as_low_as}}
                    <span translate>As low as </span>
                {{/if}}
            {{/if}}
            <span data-product-price-with-tax class="price">{{price.with_tax.formatted}}</span>
            {{#if price.rrp_with_tax}}
                <span data-product-rrp-with-tax class="price price--rrp">{{price.rrp_with_tax.formatted}}</span>
            {{/if}}
            {{#if price.without_tax}}
                {{lang 'products.price_with_tax' tax_label=price.tax_label}}
            {{/if}}
        </div>
    {{/if}}
    {{#if price.without_tax}}
        <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            {{#if schema_org}}
                <meta itemprop="price" content="{{price.without_tax.value}}">
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
                <meta itemprop="availability" content="{{product.availability}}">
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/{{product.condition}}Condition">
            {{/if}}
            {{#if page_type '!==' 'product'}}
                {{#if theme_settings.price_as_low_as}}
                    <span translate>As low as </span>
                {{/if}}
            {{/if}}
            <span class="real-price"></span><span data-product-price-without-tax class="price price--withoutTax">{{price.without_tax.formatted}}</span></span>

            <div class="price-item-save">
                {{#each product.custom_fields}}
                    {{#if name "==" "[subscription][14]"}}
                        <span class="item-value-save" dataSave="14">{{{value}}}</span>
                    {{/if}}
                    {{#if name "==" "[subscription][28]"}}
                        <span class="item-value-save" dataSave="28">{{{value}}}</span>
                    {{/if}}
                    {{#if name "==" "[subscription][42]"}}
                        <span class="item-value-save" dataSave="42">{{{value}}}</span>
                    {{/if}}
                    {{#if name "==" "[onetime][14]"}}
                        <span class="item-value-save" dataSave="onetime14">{{{value}}}</span>
                    {{/if}}
                    {{#if name "==" "[onetime][28]"}}
                        <span class="item-value-save" dataSave="onetime28">{{{value}}}</span>
                    {{/if}}
                    {{#if name "==" "[onetime][42]"}}
                        <span class="item-value-save" dataSave="onetime42">{{{value}}}</span>
                    {{/if}}
                {{/each}}
            </div>

              {{#if price.rrp_without_tax}}
                <span data-product-rrp-without-tax class="price price--rrp">{{price.rrp_without_tax.formatted}}</span>
            {{/if}}
            {{#if price.with_tax}}
                <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_without_tax' tax_label=price.tax_label}}</abbr>
            {{/if}}
        </div>
    {{/if}}
    {{#if page_type '===' 'product'}}
        {{#if price.saved}}
            <div class="price-section price-section--saving">
                <span class="price">
                    {{lang 'products.you_save' amount=price.saved.formatted}}
                </span>
            </div>
        {{/if}}
    {{/if}}
{{else}}
    {{#if price.with_tax}}
        <div class="price-section price-section--withTax" {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            {{#if price.rrp_with_tax}}
                <span data-product-rrp-with-tax class="price price--rrp">{{price.rrp_with_tax.formatted}}</span>
            {{/if}}
            <span data-product-price-with-tax class="price">{{price.with_tax.formatted}}</span>
            {{#if price.without_tax}}
                {{lang 'products.price_with_tax' tax_label=price.tax_label}}
            {{/if}}
        </div>
    {{/if}}
    {{#if price.without_tax}}
        <div class="price-section price-section--withoutTax {{#if price.with_tax}}price-section--minor{{/if}}"  {{#if schema_org}}itemprop="offers" itemscope itemtype="http://schema.org/Offer"{{/if}}>
            
            {{#if schema_org}}
                <meta itemprop="price" content="{{price.without_tax.value}}">
                <meta itemprop="priceCurrency" content="{{currency_selector.active_currency_code}}">
            {{/if}}
            <span data-product-price-without-tax class="price price--withoutTax">{{price.without_tax.formatted}}</span>
            {{#if price.rrp_without_tax}}
                <span data-product-rrp-without-tax class="price price--rrp"><span class="real-price"></span>{{price.rrp_without_tax.formatted}}<span class="save-percent"></span></span>
            {{/if}}
            {{#if price.with_tax}}
                <abbr title="{{lang 'products.excluding_tax'}}">{{lang 'products.price_without_tax' tax_label=price.tax_label}}</abbr>
            {{/if}}
        </div>
    {{/if}}
    {{#if page_type '===' 'product'}}
        {{#if price.saved}}
            <div class="price-section price-section--saving">
                <span class="price">
                    {{lang 'products.you_save' amount=price.saved.formatted}}
                </span>
            </div>
        {{/if}}
    {{/if}}
{{/or}}
