<!--<div class="sticky-container">-->
    <!--<div class="text-sticky">Lorem ipsum dolor sit amet</div>-->
    <!--<div class="button-sticky">-->
        <!--<input type="submit" data-wait-message="Adding to cart…" class="button button&#45;&#45;primary" value="Start now">-->
    <!--</div>-->
<!--</div>-->
<ul style="display: none" class="list-field">
    {{#each product.custom_fields }}
    <li data-name="{{name}}" data-value="{{ value }}"></li>
    {{/each}}
</ul>
<div style="display: none" id="index-template">
        {{#each product.images}}
        <div class="image-container" data-alt="{{this.alt}}">
            <img class="productView-image--default"
                 src="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                 alt="{{this.alt}}" title="{{product.main_image.alt}}" data-main-image>
            <li class="productView-thumbnail" data-alt="{{this.alt}}">
                <a
                        class="productView-thumbnail-link"
                        href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                    <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                </a>
            </li>
        </div>
        {{/each}}
</div>
<div class="content-productView">
    <div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}
    <section class="productView-details">
        <div class="productView-product">
            <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
            <div class="product-description">
                {{{product.description}}}
            </div>
            <div class="productView-rating hide-for-medium-down"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
                {{#if settings.show_product_rating}}
                    {{#if product.num_reviews '>' 0}}
                        {{#if schema}}
                            <meta itemprop="ratingValue" content="{{product.rating}}">
                            <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                            <meta itemprop="reviewCount" content="{{product.num_reviews}}">
                        {{/if}}
                    {{/if}}
                    {{> components/products/ratings rating=product.rating}}
                    <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
                {{/if}}
                {{#if settings.show_product_reviews}}
                    <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#writeReview{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
                        </a>
                    </span>
                    {{> components/products/modals/writeReview}}
                {{/if}}
            </div>
             {{> components/common/share}}
            <h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
            </h2>

            <dl class="productView-info">
                {{#if product.sku}}
                    <dt class="productView-info-name">{{lang 'products.sku'}}</dt>
                    <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                {{/if}}
                {{#if product.upc}}
                    <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                    <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{/if}}
                {{#if product.condition}}
                    <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                    <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                {{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}
                {{#if product.weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/if}}
                {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}}
                {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}}
                {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                        <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                        <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                        {{#if product.shipping.price.value '===' 0}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                        {{else}}
                            <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                            <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if product.bulk_discount_rates.length}}
                    <dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
                    <dd class="productView-info-value">
                        <a href="{{product.url}}"
                            {{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
                            {{lang 'products.bulk_pricing.view'}}
                        </a>
                    </dd>

                    <div id="bulkPricingModal" class="modal modal--small" data-reveal>
                        <div class="modal-header">
                            <h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
                            <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
                        </div>
                        <div class="modal-body">
                            <p>{{lang 'products.bulk_pricing.instructions'}}</p>
                            <ul>
                            {{#each product.bulk_discount_rates}}
                                <li>
                                    {{lang 'products.bulk_pricing.range' min=min max=max}}
                                    {{#if type '===' 'percent'}}
                                        {{lang 'products.bulk_pricing.percent' discount=discount.formatted}}
                                    {{/if}}
                                    {{#if type '===' 'fixed'}}
                                        {{lang 'products.bulk_pricing.fixed' discount=discount.formatted}}
                                    {{/if}}
                                    {{#if type '===' 'price'}}
                                        {{lang 'products.bulk_pricing.price' discount=discount.formatted}}
                                    {{/if}}
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                {{/if}}
            </dl>

            {{#if product.call_for_price}}
                <p class="productView-price">
                    <span>{{product.call_for_price}}</span>
                </p>
            {{/if}}

            {{product.detail_messages}}
        </div>
    </section>

    <section class="productView-images" data-image-gallery>
        <figure class="productView-image">
            {{#each product.images}}
            {{#if this.alt '==' "[chocolate]"}}
                <img class="productView-image--default"
                     src="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                     alt="{{this.alt}}" title="{{product.main_image.alt}}" data-main-image>
            {{/if}}
            {{/each}}
        </figure>
        <ul class="productView-thumbnails">
            {{#each product.images}}
            {{#if this.alt '==' "[chocolate]"}}
                <li class="productView-thumbnail" data-alt="{{this.alt}}">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                        data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                        <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    </a>
                </li>
            {{/if}}
            {{/each}}
        </ul>
    </section>

    <section class="productView-details">
        <div class="productView-rating show-for-medium-down"{{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{{/if}}>
        {{#if settings.show_product_rating}}
        {{#if product.num_reviews '>' 0}}
        {{#if schema}}
        <meta itemprop="ratingValue" content="{{product.rating}}">
        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
        <meta itemprop="reviewCount" content="{{product.num_reviews}}">
        {{/if}}
        {{/if}}
        {{> components/products/ratings rating=product.rating}}
        <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a href="{{product.url}}#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span>
        {{/if}}
        {{#if settings.show_product_reviews}}
        <span class="productView-reviewLink">
                        <a href="{{product.url}}{{#if is_ajax}}#writeReview{{/if}}"
                           {{#unless is_ajax }}data-reveal-id="modal-review-form"{{/unless}}>
                           {{lang 'products.reviews.new'}}
            </a>
                    </span>
        {{/if}}
        </div>
        <div class="productView-options">
            {{#if product.release_date }}
                <p>{{product.release_date}}</p>
            {{/if}}
            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                  data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}"/>
                    {{#each product.customizations}}
                        {{{dynamicComponent 'components/products/customizations'}}}
                    {{/each}}
                <div class="flex-box flex-wrap" data-product-option-change style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>
                <div class="one-time">
                    <input class="box-deliver one-time-box" type="radio">
                    <span class="active-option"></span>
                    Send one-time shipment
                </div>
                {{#if product.event_date}}
                    {{> components/products/event-date}}
                {{/if}}
                <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                    <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
                </div>

                {{#if product.can_purchase}}
                    {{> components/products/add-to-cart}}
                {{/if}}
                {{#if product.out_of_stock}}
                    {{#if product.out_of_stock_message}}
                        {{> components/common/alert-error product.out_of_stock_message}}
                    {{else}}
                        {{> components/common/alert-error (lang 'products.sold_out')}}
                    {{/if}}
                {{/if}}
            </form>
            {{#if settings.show_wishlist}}
                <form class="form" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>
                    <div class="form-action">
                        <input type="hidden" name="variation_id" value="">
                        <input class="button" type="submit" value="{{lang 'account.wishlists.add_item'}}">
                    </div>
                </form>
            {{/if}}
        </div>
        {{{snippet 'product_details'}}}
    </section>
</div>
<!--    <article class="productView-description"{{#if schema}} itemprop="description"{{/if}}>-->
<!--        <ul class="tabs" data-tab>-->
<!--            <li class="tab is-active">-->
<!--                <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>-->
<!--            </li>-->
<!--            {{#if product.warranty}}-->
<!--                <li class="tab">-->
<!--                    <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>-->
<!--                </li>-->
<!--            {{/if}}-->
<!--        </ul>-->
<!--        <div class="tabs-contents">-->
<!--            <div class="tab-content is-active" id="tab-description">-->
<!--                {{{product.description}}}-->
<!--            </div>-->
<!--           {{#if product.warranty}}-->
<!--               <div class="tab-content" id="tab-warranty">-->
<!--                   {{{product.warranty}}}-->
<!--               </div>-->
<!--           {{/if}}-->
<!--        </div>-->
<!--    </article>-->
</div>
<div class="big-section-index benefits">
    <div class="container">
        {{> components/home/benefits }}
    </div>
</div>
<div class="big-section-index serving">
    <div class="container">
        {{> components/products/product-serving }}
    </div>
</div>
<div class="big-section-index natural">
    <div class="container">
        {{> components/products/product-natural }}
    </div>
</div>
<div class="big-section-index review-list">
    <div class="container">
        {{> components/products/product-review }}

    </div>
</div>
<div class="big-section-index story">
    <div class="container">
        {{> components/products/product-story }}
    </div>
</div>
<div class="big-section-index faq">
    <div class="container">
        {{> components/products/product-faq }}
    </div>
</div>
<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>

