<h2 class="section-title">Made with Natural Ingredients</h2>
<div class="natural-list">
    <div class="list-natural">
        <img src="/content/images/7359.jpg" alt="">
        <h4>Green Banana Powder</h4>
        <p>Unripened green bananas are an excellent source of prebiotic resistant starch, the superstar ingredient of MUNIQ.
            Resistant starch stabilizes your blood sugar & improves your gut microbiome, which supercharges your overall health.  </p>
    </div>
    <div class="list-natural">
        <img src="/content/images/7372.jpg" alt="">
        <h4>Oat Beta Glucan</h4>
        <p>There’s a reason oats have been a staple of healthy diets for years. They’re chock full of this prebiotic fiber which
            helps stabilize blood sugar, lower cholesterol levels, and strengthen the walls of your intestines. Basically, they are the original superfood.  </p>
    </div>
    <div class="list-natural">
        <img src="" alt="">
        <h4>Vitamins & Minerals</h4>
        <p>We created MUNIQ as the ultimate complete meal shake. Which is why each serving includes a comprehensive blend
            of 26 essential vitamins & minerals. Our vitamin-mineral blend is also optimized to support healthy blood sugar management.</p>
    </div>
    <div class="list-natural">
        <img src="/content/images/7390.jpg" alt="">
        <h4>Allulose</h4>
        <p>Tired of questionable artificial sweeteners and bitter-tasting substitutes? Yeah, we are too. So we formulated MUNIQ with all-natural allulose,
            a super low-calorie sugar alternative that doesn’t raise blood sugar but tastes just like the real thing.</p>
    </div>
</div>
<p class="text-center"><a href="#">See all ingredients <i class="fa fa-chevron-right"></i></a></p>
