<h2 class="section-title">Gut goodness in each serving</h2>
<div class="serving-list">
    <div class="list-serving">
        <h5 class="nutrients calories"></h5>
        <div class="serving-content">
            <h4>Calories</h4>
        </div>
    </div>
    <div class="list-serving">
        <h5 class="nutrients protein"></h5>
        <div class="serving-content">
            <h4>Protein</h4>
        </div>
        <p></p>
    </div>
    <div class="list-serving">
        <h5 class="nutrients sugar"></h5>
        <div class="serving-content">
            <h4>Sugar</h4>
        </div>
        <p></p>
    </div>
    <div class="list-serving">
        <h5 class="nutrients net_carbs "></h5>
        <div class="serving-content">
            <h4>Net Carbs</h4>
        </div>
        <p></p>
    </div>
    <div class="list-serving">
        <h5 class="nutrients vitamins_minerals"></h5>
        <div class="serving-content">
            <h4>Vitamins & Minerals</h4>
        </div>
        <p></p>
    </div>
    <div class="list-serving">
        <h5 class="nutrients healthy_fats"></h5>
        <div class="serving-content">
            <h4>Heathy Fats</h4>
        </div>
        <p></p>
    </div>
    <div class="list-serving">
        <picture>
            <source media="(min-width: 992px)" srcset="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/text-product.png">
            <img src="https://cdn11.bigcommerce.com/s-kizwolbsvd/product_images/uploaded_images/text-product-mb.png" alt="">
        </picture>
    </div>
</div>
<div class="item-feature">
    <p class="feature-text feature-1">No artificial flavors, sweeteners or colors</p>
    <p class="feature-text feature-2">Non-GMO</p>
    <p class="feature-text feature-3">No Soy</p>
</div>
<p class="text-center link-to"><a href="#">See nutritional facts panel ></a></p>
<p class="text-center warning">Prop 65 Warning: California customers</p>
