
    <ul>
        <li><a href="/chocolate/">Chocolate</a></li>
        <li><a href="/vanilla-creme/">Vanilla Crème</a></li>
        <li><a href="/mocha-latte/">Mocha Latte</a></li>
        <li><a href="/vegan-chocolate/">Vegan Chocolate</a></li>
    </ul>
