<h2 class="section-title">FAQS</h2>
<ul>
    <li>
        <h5 class="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy?</h5>
        <div class="answer">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</div>
    </li>
    <li>
        <h5 class="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy?</h5>
        <div class="answer">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</div>
    </li>
    <li>
        <h5 class="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy?</h5>
        <div class="answer"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</div>
    </li>
    <li>
        <h5 class="question">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy?</h5>
        <div class="answer">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor</div>
    </li>
    <li>Have more question? <a href="#"> Contact us</a></li>
</ul>
