<h2 class="section-title">Benefits of Muniq Shake Powder</h2>
<div class="benefits-list">
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits1.png'}}" alt=""></div>
        <h3 class="benefits-title">Improve gut health</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor.</p>
        <div class="drop"><span class="minus">-</span><span class="plus">+</span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits2.png'}}" alt=""></div>
        <h3 class="benefits-title">Manage blood sugar</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor.</p>
        <div class="drop"><span class="minus">-</span><span class="plus">+</span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits3.png'}}" alt=""></div>
        <h3 class="benefits-title">Satisfy hunger</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor.</p>
        <div class="drop"><span class="minus">-</span><span class="plus">+</span></div>
    </div>
    <div class="benefits-info">
        <div class="benefits-img"><img src="{{cdn 'assets/img/home/benefits4.png'}}" alt=""></div>
        <h3 class="benefits-title">Prebiotic Resistant Starch Fiber</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolor.</p>
        <div class="drop"><span class="minus">-</span><span class="plus">+</span></div>
    </div>
</div>
