{{#for 1 5}}
    {{#if ../this.rating '>=' $index}}
        <span class="icon icon--ratingFull">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="18px" viewBox="0 0 19 18" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Muniq-Product" transform="translate(-1006.000000, -407.000000)" fill="#004936" stroke="#004936">
                        <g id="Group-46" transform="translate(930.000000, 406.000000)">
                            <g id="Group-9" transform="translate(0.000000, 1.000000)">
                                <polygon id="Star-Copy-3" points="85.5 14.25 79.9160401 17.1856614 80.9824815 10.9678307 76.4649631 6.56433855 82.7080201 5.65716928 85.5 0 88.2919799 5.65716928 94.5350369 6.56433855 90.0175185 10.9678307 91.0839599 17.1856614"/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </span>
    {{else}}
        <span class="icon icon--ratingEmpty">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="18px" viewBox="0 0 19 18" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Muniq-Product" transform="translate(-1031.000000, -407.000000)" stroke="#004936">
                        <g id="Group-46" transform="translate(930.000000, 406.000000)">
                            <g id="Group-9" transform="translate(0.000000, 1.000000)">
                                <polygon id="Star-Copy-4" points="110.5 14.25 104.91604 17.1856614 105.982482 10.9678307 101.464963 6.56433855 107.70802 5.65716928 110.5 0 113.29198 5.65716928 119.535037 6.56433855 115.017518 10.9678307 116.08396 17.1856614"/>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </span>
    {{/if}}
{{/for}}
{{{snippet 'product_rating'}}}
