{{#if reviews.total}}
<section class="toggle productReviews" id="product-reviews" data-product-reviews>
    <h4 class="toggle-title">
        {{lang 'products.reviews.header' total=reviews.total}}
        <a class="toggleLink is-open" data-collapsible href="#productReviews-content">
            <span class="toggleLink-text toggleLink-text--on">
                {{lang 'products.reviews.hide'}}
            </span>
            <span class="toggleLink-text toggleLink-text--off">
                {{lang 'products.reviews.show'}}
            </span>
        </a>
    </h4>
    <div class="toggle-content is-open" id="productReviews-content" aria-hidden="false">
        <ul class="productReviews-list" id="productReviews-list">
            {{#withFirst reviews.list 3}}
            <li class="productReview" data-index="{{index}}">
                <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <header>
                        <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            {{> components/products/ratings rating=rating}}
                            <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                        </span>
                        <h5 itemprop="name" class="productReview-title" >{{ title }}
                        <div class="date-review" data-date='{{date}}'></div>
                        </h5>
                        {{#if name}}
                            <meta itemprop="author" content="{{name}}">
                            <p class="productReview-author">
                                {{name}}
                            </p>
                        {{else}}
                            <p class="productReview-author">
                                {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                            </p>
                        {{/if}}
                    </header>
                    <p itemprop="reviewBody" class="productReview-body">{{nl2br text}}</p>
                </article>
            </li>
            {{/withFirst}}
        </ul>
        {{> components/common/paginator pagination.reviews}}
    </div>
</section>
{{/if}}
{{{snippet 'reviews'}}}
